---
title: Tags
layout: page
---

<h1>Tags</h1>

<p class="intro">These are all tags used in contents from this site:</p>

<ol class="tagscloud__tags">
{% for tag in collections.tags %}
  {% set tagUrl %}/tags/{{ tag.tag | slugify }}.html{% endset %}
    <li><a href="{{ tagUrl | url }}" class="tag" style="font-size: {{ tag.log }}em">{{ tag.tag }}</a></li>
  {% endfor %}
</ol>
