{# Inline critical JS #}
{# TODO: make inline #}
<script src="/js/early.js"></script>

{#
Inline critical CSS
#}
{# TODO: make inline #}
<link rel="stylesheet" href="/css/critical-styles.css" />

{#
Async non critical CSS
https://www.filamentgroup.com/lab/load-css-simpler/
#}
<link rel="stylesheet" href="/css/non-critical-styles.css" media="print" onload="this.media='all'" />
<noscript>
<link rel="stylesheet" href="/css/non-critical-styles.css" media="all" />
</noscript>
