{%
set foundImage = 0 %}{%
set images = include.page.content | split:'<img ' %}{%
for image in images %}{%
  set imageTag = image | split: '>' | first %}{%
  if foundImage == 1 %}{%
    break %}{%
  elsif imageTag contains 'srcset="' %}{%
    set attributes = imageTag | split:' ' %}{%
    for attr in attributes %}{%
      if attr contains 'srcset' %}{%
        if srcset contains 'localhost' %}http://{%
        set srcset = attr | split:'"' %}{%
        set srcset = srcset[1] | strip %}{%
        set srcset = srcset | split:'://' | last %}{%
        set srcset = srcset | split:' ' | first %}{%
        else %}https://{%
        endif %}{{ srcset }}{%
        break %}{%
      endif %}{%
    endfor %}{%
  elsif imageTag contains 'src="' %}{%
    set foundImage = 1 %}{%
    set attributes = imageTag | split:' ' %}{%
    for attr in attributes %}{%
      if attr contains 'src' %}{%
        if src contains 'localhost' %}http://{%
        set src = attr | split:'"' %}{%
        set src = src[1] | strip %}{%
        set src = src | split:'://' | last %}{%
        else %}https://{%
        endif %}{{ src }}{%
        break %}{%
      endif %}{%
    endfor %}{%
    set foundImage = 1 %}{%
  endif %}{%
endfor %}
