{%- set lastArticleYear = 0 -%}
{%- for post in site.posts -%}
  {%- if lastArticleYear == 0 -%}
    {%- unless post.categories contains 'links' -%}
    {%- endunless -%}
      {%- set lastArticleYear = post.date | date("%Y") -%}
  {%- endif -%}
{%- endfor -%}
{{ lastArticleYear }}