{%- set lastArticleYear = 0 -%}
{%- for post in site.posts -%}
  {%- if lastArticleYear == 0 -%}
    {%- if 'links' in post.categories -%}
    {%- else -%}
      {%- set lastArticleYear = post.date | date("%Y") -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{{ lastArticleYear }}
