{%- set image_width = 1200 -%}
{%- set image_height = 630 -%}
{%- set icon = '' -%}
{%- set icon_part = '' -%}
{%- if include.page.title == 'Homepage' -%}
  {%- set title = pkg.description -%}
{%- elif include.page.title == 'Search' -%}
  {%- set title = 'Search powered by Algolia' -%}
  {%- set icon = 'search' -%}
{%- elif page.tag -%}
  {%- set icon = 'tag' -%}
{%- else -%}
  {%- set title = include.page.title -%}
  {%- if include.page.layout == 'post' -%}
    {%- set icon = 'article' -%}
  {%- elif include.page.layout == 'link' -%}
    {%- set icon = 'link' -%}
  {%- elif include.page.title == 'Links' -%}
    {%- set icon = 'link' -%}
  {%- elif include.page.title == 'Talks' -%}
    {%- set icon = 'talk' -%}
  {%- endif -%}
{%- endif -%}
{%- set title = title | urlencode | replace(' ', '%20') | replace('.', '%2e') | replace(',', '%252C') | replace(':', '%253A') | replace('/', '%252F') | replace("'", '%E2%80%99') | replace('?', '%3F') | replace('#', '%23') -%}
{%- set background_image = pkg.homepage + '/assets/opengraph/background.png' -%}
{%- set padding = 50 -%}
{%- set padding_right = 50 -%}
{%- if icon != '' -%}
  {%- set padding_right = 150 -%}
  {%- set icon_image = pkg.homepage + '/assets/opengraph/' + icon + '.png' -%}
  {%- set icon_part %}l_fetch:{{ icon_image | base64_encode }},g_north_east,c_fill,w_{{ padding_right }},h_{{ padding_right }}/{%- endset -%}
{%- endif %}
{%- set font = "Noto%20Serif" -%}
{%- set font_size = 70 -%}
{%- set title_with_shadow -%}w_{{ image_width - padding - padding_right }},c_fit,l_text:{{ font }}_{{ font_size }}:{{ title }},g_north_west,x_{{ padding + 2 }},y_{{ padding + 2 }},co_white,o_50/w_{{ image_width - padding - padding_right }},c_fit,l_text:{{ font }}_{{ font_size }}:{{ title }},g_north_west,x_{{ padding }},y_{{ padding }},co_black{%- endset -%}
https://res.cloudinary.com/nho/image/fetch/{{ icon_part }}{{ title_with_shadow }}/{{ background_image }}
