---
layout: page
pagination:
  data: collections.articlesByYear
  size: 1
  alias: year
permalink: "articles/{{ year }}/"
renderData:
  title: Articles published in {{ year }}
---

{% from "macros/articleCard.njk" import articleCard %}

<ul class="list">
  {% for article in collections.articlesByYear[year] %}
    <li class="list__item list__item--large">
      <div class="card card--article h-entry">
        {{ articleCard(article.data.title, article.url, article.data.lang, article.date, article.data.tags, article.templateContent, webmentions ) }}
      </div>
    </li>
  {% endfor %}
</ul>

<p class="pagination">
  Years:
  {% set separator = joiner(", ") %}
  {%- for pageEntry in pagination.pages %}
    {{ separator() }}
    {% if page.url == pagination.hrefs[ loop.index0 ] %}
      <strong>{{ pageEntry }}</strong>
    {% else %}  
      <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ pageEntry }}</a>
    {% endif %}
  {%- endfor %}
</p>
