---
layout: default
title: Articles
eleventyExcludeFromCollections: true
---

{% from "macros/articleCard.njk" import articleCard %}

<h2>Latest article</h2>
<ul class="list">
  {% for article in collections.articles | limit(1) %}
    <li class="list__item list__item--large">
      <div class="card card--article h-entry">
        {{ articleCard(article.data.title, article.url, article.data.lang, article.date, article.data.tags, article.templateContent, webmentions ) }}
      </div>
    </li>
  {% endfor %}
</ul>

<h2>Latest noteworthy article</h2>
<ul class="list">
  {% for article in collections.promoted | limit(1) %}
    <li class="list__item list__item--large">
      <div class="card card--article h-entry">
        {{ articleCard(article.data.title, article.url, article.data.lang, article.date, article.data.tags, article.templateContent, webmentions ) }}
      </div>
    </li>
  {% endfor %}
</ul>

<h2>Browse all articles</h2>
<p class="pagination">
  Years:
  {% set separator = joiner(", ") %}
  {% for articleYear in collections.yearsWithArticles %}
    {{ separator() }}
    <a href="/articles/{{ articleYear }}/">{{ articleYear }}</a>
  {%- endfor %}
</p>

