---
layout: page
pagination:
  data: collections.articlesByMonth
  size: 1
  alias: month
permalink: "articles/{{ month }}/"
eleventyComputed:
  title: Articles published in {{ month | monthString }}
---

{% from "macros/articleCard.njk" import articleCard %}

<div class="cards-list">
  {% for article in collections.articlesByMonth[month] %}
    {{ articleCard(article) }}
  {% endfor %}
</ul>

<p class="pagination">
  Pages:
  {% set separator = joiner(", ") %}
{%- for pageEntry in pagination.pages %}
  {{ separator() }}
  {% if page.url == pagination.hrefs[loop.index0] %}
    <strong>{{ pageEntry }}</strong>
  {% else %}
    <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ pageEntry }}</a>
  {% endif %}
{%- endfor %}
</p>
