---
layout: false
pagination:
  data: collections.articlesByMonth
  size: 1
  alias: month
permalink: "articles/{{ month }}/"
eleventyComputed:
  title: Articles published in {{ month | monthString }}
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/archives.njk" %}
