<footer id="footer">
  <div class="wrap">
    <p>
      <small>
        <a href="/about/the-website.html">Built with Eleventy</a>
      </small>
    </p>
    <p>
      <small>&copy;&nbsp;<a href="/about/">Nicolas&nbsp;Hoizey</a>
      </small>
    </p>
  </div>
</footer>
