<footer id="footer" data-nosnippet>
  {% if githubEditUrl %}
    {# rel="source" https://twitter.com/jgarber/status/1395484695522123788 #}
    <div class="wrap">
      <p class="edit">If you want to share an error or suggest an enhancement of this content, please edit <a href="{{ githubEditUrl }}" rel="source">the source on GitHub</a>.</p>
    </div>
  {% endif %}
  <div class="wrap">
    <p>
      <small>© <a href="/about/" class="p-name u-url u-uid" rel="me">Nicolas Hoizey</a>
      </small>
    </p>
    <p>
      <small>
        <a href="/about/the-website.html">Built with Eleventy</a>
      </small>
    </p>
  </div>
</footer>
