  {% if build.env === "production" %}
    <script>
      window.ga = function () {
        ga
          .q
          .push(arguments)
      };
      ga.q = [];
      ga.l = + new Date;
      ga('create', {
        trackingId: 'UA-1655999-10',
        cookieDomain: 'auto',
        siteSpeedSampleRate: 100
      });
      ga('set', 'transport', 'beacon');
      ga('set', 'anonymizeIp', true);
      if (window.viewport_width > 0) {
        ga('set', {
          dimension1: window.screen_density,
          dimension2: window.viewport_width,
          dimension3: window.root_font_size
        });
      } else {
        ga('set', {
          dimension1: window.screen_density,
          dimension2: 0,
          dimension3: window.root_font_size
        });
      }
      ga('set', 'dimension4', 'online');
      ga('send', 'pageview');
    </script>
    <script src="https://www.google-analytics.com/analytics.js" defer></script>
  {% endif %}
