<nav class="navigation" role="navigation">
  <div class="wrap">
    <ul>
      <li {% if page.url == '/' %} class="current" aria-current="page"{% endif %}>
        <a href="/">home</a>
      </li>
      {% for type in[
        'articles',
        'links',
        'notes',
        'talks',
        'archives',
        'tags',
        'feeds',
        'about'
      ] %}
        {% set url = '/' + type + '/' %}
        {% if type == 'feeds' %}
        </ul>
        <ul>
        {% endif %}
        <li {% if url in page.url %} class="current" aria-current="page"{% endif %}>
          <a href="{{ url }}">{{ type }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
