<nav class="navigation" role="navigation">
  <div class="wrap">
    {# <span class="signature"><span title="Nicolas">N</span><span title=" Hoizey">H</span></span> #}
    <ul class="menu" role="list">
      <li class="navigation__home{% if page.url == '/' %} current" aria-current="page{% endif %}">
        <a href="/">home</a>
      </li>
      {% for type in[
        'articles',
        'links',
        'notes',
        'talks',
        'archives',
        'tags',
        'about'
      ] %}
        {% set url = '/' + type + '/' %}
        <li class="navigation__{{ type }}{% if url in page.url %} current" aria-current="page{% endif %}">
          <a href="{{ url }}">{{ type }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="tools" role="list">
      <li class="tools__feeds"><a href="/feeds/"><svg class="icon"><use xlink:href="#symbol-feeds" /></svg></a></li>
      <li class="tools__search"><a href="/archives/"><svg class="icon"><use xlink:href="#symbol-search" /></svg></a></li>
    </ul>
  </div>
</nav>
