<form id="search" method="get" action="https://www.google.com/search">
  <p>
    <input id="search_sites" type="hidden" name="as_sitesearch" value="nicolas-hoizey.com" />
    <input id="search_input" name="q" type="search" size="5" spellcheck="false" autocorrect="off" autocomplete="off" aria-label="Search articles on the site" />
    <label for="search_button">
      {{ '/src/_assets/images/icon-search.svg' | svgContents | safe }}
    </label>
    <input id="search_button" type="submit" value="" />
  </p>
</form>
<script>
  // Make the search form dynamic
  window
    .document
    .getElementById('search')
    .action = '/search/'

  // This hidden field is only for Google fallback when there's no JavaScript
  var sites = window
    .document
    .getElementById('search_sites')
  sites
    .parentNode
    .removeChild(sites)

  // Hide the button when there's JavaScript
  window
    .document
    .getElementById('search_button')
    .style
    .display = 'none'
</script>
