<svg style="display: none;" aria-hidden="true">
  {% asset "symbol-date.svg" @inline %}
  {% asset "symbol-tags.svg" @inline %}
  {% asset "symbol-webmentions.svg" @inline %}
  {% asset "symbol-link.svg" @inline %}
  {% asset "symbol-twitter.svg" @inline %}
  {% asset "symbol-online.svg" @inline %}
  {% asset "symbol-offline.svg" @inline %}
  {% asset "symbol-info.svg" @inline %}
</svg>
