<svg style="display: none;" aria-hidden="true">
  {{ '/src/_assets/images/symbol-date.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-tags.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-webmentions.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-link.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-twitter.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-online.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-offline.svg' | svgContents | safe }}
  {{ '/src/_assets/images/symbol-info.svg' | svgContents | safe }}
</svg>
