{% asset "components/webmentions" @inline %}
<aside>
  <h2 id="webmentions">{{ webmentions_int }} Webmention{% if webmentions_int > 1 %}s{% endif %}
  </h2>
  {% set webmentions_value %}{% webmention_count page.url %}{% endset %}
  {% set webmentions_value = 0 %}

  {% set webmentions_int = webmentions_value | int %}
  {% set likes %}{% webmention_count page.url likes %}{% endset %}
  {% set likes = 0 %}
  {% set likes_int = likes | int %}
  {% if likes_int > 0 %}
    <section>
      <h3>{{ likes }} like{% if likes_int > 1 %}s{% endif %}
      </h3>
      {% webmention_likes page.url %}
    </section>
  {% endif %}

  {% set reposts %}{% webmention_count page.url reposts %}{% endset %}
  {% set reposts = 0 %}
  {% set reposts_int = reposts | int %}
  {% if reposts_int > 0 %}
    <section>
      <h3>{{ reposts }} repost{% if reposts_int > 1 %}s{% endif %}
      </h3>
      {% webmention_reposts page.url %}
    </section>
  {% endif %}

  {% if likes_int > 0 or reposts_int > 0 %}
    <h3>Other Webmentions</h3>
  {% endif %}
  {% webmentions page.url posts replies links %}
</aside>