{% set allMentions = articleUrl | getWebmentionsForUrl %}
{% set allMentionsSize = allMentions | size %}

{% set likes = allMentions | webmentionsByType('like-of') %}
{% set likesSize = likes | size %}

{% set reposts = allMentions | webmentionsByType('repost-of') %}
{% set repostsSize = reposts | size %}

{% set replies = allMentions | webmentionsByType('in-reply-to') %}
{% set repliesSize = replies | size  %}

{% set mentions = allMentions | webmentionsByType('mention-of') %}
{% set mentionsSize = mentions | size  %}

<h2 id="webmentions">{{ allMentionsSize }} Webmention{% if allMentionsSize > 1 %}s{% endif %}</h2>

{% if likesSize > 0 %}
  <section>
    <h3>{{ likesSize }} like{% if likesSize > 1 %}s{% endif %}</h3>
    {% include "components/webmentions/likes.njk" %}
  </section>
{% endif %}

{% if repostsSize > 0 %}
  <section>
    <h3>{{ repostsSize }} repost{% if repostsSize > 1 %}s{% endif %}</h3>
    {% include "components/webmentions/reposts.njk" %}
  </section>
{% endif %}

{% if repliesSize > 0 %}
  <section>
    <h3>{{ repliesSize }} {% if repliesSize > 1 %}replies{% else %}reply{% endif %}</h3>
    {% include "components/webmentions/replies.njk" %}
  </section>
{% endif %}

{% if mentionsSize > 0 %}
  <section>
    <h3>{{ mentionsSize }} mention{% if mentionsSize > 1 %}s{% endif %}</h3>
    {% include "components/webmentions/mentions.njk" %}
  </section>
{% endif %}
