// ************************************************************
// Base colors
// ************************************************************

$color-white: #fff;
$color-blue: #39f;
$color-red: #f33;
$color-lightgrey: #eee;
$color-grey: #bbb;
$color-darkgrey: #555;
$color-gold: #937c07;

// ************************************************************
// Colors palette
// ************************************************************
//
// Rebecca Purple:
//   https://www.economist.com/babbage/2014/06/23/the-colour-purple
// https://gka.github.io/palettes/#/9|s|663399,ffffff||1|1

$color-primary: rebeccapurple; // #663399;
$color-primary-lighter-1: #7a4ca6;
$color-primary-lighter-2: #8e64b3;
$color-primary-lighter-3: #a17dbf;
$color-primary-lighter-4: #b496cc;
$color-primary-lighter-5: #c7b0d9;
$color-primary-lighter-6: #dacae6;
$color-primary-lighter-7: #ece4f2;
$color-primary-lighter-8: #ffffff;

// Persimmon:
//   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
$color-secondary: #ec5800;

// Global styles
$background-color: #fff;
$text-color: #222;

$link-decoration-color: $color-blue;

$meta-color: $color-darkgrey;
$meta-icon-color: $color-grey;
$meta-link-decoration-color: $color-grey;

// Colors from Prism OneDark theme
$inline-code-background-color: #282c34;
$inline-code-text-color: #abb2bf;

$icon-link-color: #aaa;
$icon-hover-color: $color-secondary;

$baseline: 1.5rem;

$cloudinary-prefix: 'https://res.cloudinary.com/nho/image/fetch/c_limit,f_auto,q_auto,w_';
