{
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
    },
    "iife": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["defaults"]
            }
          }
        ]
      ]
    }
  }
}
