---
layout: default
title: Accueil
---

{% if page.url == "/index.html" %}
  <h1>Nicolas Hoizey</h1>
  <p class="intro">Bienvenue sur mon recueil de créations et réflexions sur des sujets très variés, de la photo au Web en passant par la société, les voyages, etc. Vous pouvez <a href="/a-propos.html">en savoir plus sur moi et ce site</a>.</p>
{% endif %}

<section id="billets" class="list">
  {% for page in paginator.posts %}
    <article>
      {% include article-header.html page=page %}
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      {{ page.excerpt }}
    </article>
  {% endfor %}

  <div class="pagination">
    <h2>Voir
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{paginator.next_page}}#billets">les articles plus anciens</a>
      {% if paginator.previous_page %}
        ou
      {% endif %}
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.baseurl }}#billets">les derniers articles</a>
      {% else %}
        <a href="{{ site.baseurl }}{{paginator.previous_page}}#billets">les articles plus récents</a>
      {% endif %}
    {% endif %}
    </h2>
  </div>
</section>

<div class="tagscloud">
  <h2>Sujets à explorer</h2>
  {{ site | tag_cloud }}
</div>
