---
layout: default
title: Homepage
---

{% comment %}
JSON-LD for:
- Site name: https://developers.google.com/search/docs/data-types/sitename
- Site links searchbox: https://developers.google.com/search/docs/data-types/sitelinks-searchbox
- Social Profile Links: https://developers.google.com/search/docs/data-types/social-profile-links
{% endcomment %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Nicolas Hoizey",
  "url": "https://nicolas-hoizey.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://nicolas-hoizey.com/search.html?q={search_term_string}",
    "query-input": "required name=search_term_string"
  },
  "sameAs": [
    "https://twitter.com/nhoizey",
    "https://www.flickr.com/photos/nicolas-hoizey/",
    "https://www.facebook.com/nhoizey.photo/",
    "https://instagram.com/nhoizey",
    "https://github.com/nhoizey"
  ]
}
</script>

<section id="links" class="list">
  <h2 class="list__title">Latest links</h2>
  <ul class="list__items list__items--small">
    {% for link in site.categories['links'] limit:5 %}
      <li class="card list__item">
        {% if link.author %}
          <p class="card__author">{{ link.author }}:</p>
        {% endif %}
        <h3 class="card__title"><a href="{{ link.url }}">{{ link.title }}</a></h3>
        {% include_cached link-meta.html page=link %}
      </li>
    {% endfor %}
    <li class="list__more">
      <p>Discover <a href="/links/">more links.</a></p>
    </li>
  </ul>
</section>

<section id="articles" class="list">
  <h2 class="list__title">Latest articles</h2>
  <ul class="list__items">
    {% assign articles_number = 0 %}
    {% for post in site.posts %}
      {% if articles_number < 5 %}
        {% unless post.categories contains 'links' %}
          <li class="card list__item">
            {% include_cached post-abstract.html page=post level=3 %}
          </li>
          {% assign articles_number = articles_number | plus: 1 %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    
    <li class="list__more">
      <p>Read more articles in <a href="/{% include_cached last-article-year.html %}/">the archives</a>.</p>
    </li>
  </ul>
</section>
