---
layout: default
title: Ces contenus sont disponibles même sans connexion
---

<div id="offline-notification-static" class="alert alert-success">
  <p class="alert__icon"><svg class="icon"><use xlink:href="#symbol-offline" /></svg></p>
  <p class="alert__message">Cette page liste les contenus que vous pouvez consulter <strong>même lorsque vous n'êtes pas connecté</strong>.</p>
</div>
<p>En attendant de retrouver une connexion, vous pouvez en apprendre plus <a href="/a-propos/de-moi.html">sur moi</a> ou <a href="/a-propos/du-site.html">ce site</a>, ou lire les contenus tout de même disponibles hors connexion :</p>
{% for post in site.posts limit:1 %}
<script>
let lastPostUrl = '{{ post.url }}';
</script>
  <article class="latest">
    <a href="{{ post.url }}">
      <h2>{{ post.title }}</h2>
      {{ post.excerpt | strip_footnotes | strip_html }}
    </a>
    {% include_cached post-meta.html page=post %}
  </article>
{% endfor %}

<ul id="cache-entries"></ul>

<script>
// https://googlechrome.github.io/samples/service-worker/window-caches/
let cacheEntriesUl = document.querySelector('#cache-entries');

window.caches.keys().then(cacheNames => {
  cacheNames.forEach(cacheName => {
    if (/\:\:pages$/.test(cacheName)) {
      window.caches.open(cacheName).then(cache => {
        return cache.keys();
      })
      .then(requests => {
        requests.forEach(request => {
          let path = request.url.replace(/^https?:\/\/[^\/]+\//, '/');
          if (path !== lastPostUrl && /^\/(tags|[0-9]{4})\//.test(path)) {
            addRequestToList(cacheName, request);
          }
        });
      });
    }
  });
});

function addRequestToList(cacheName, request) {
  let url = request.url;
  let shortUrl = url.replace(/https?:\/\/[^\/]+\//, '');

  let linkElement = document.createElement('a');
  linkElement.href = url;
  linkElement.textContent = shortUrl;

  let liElement = document.createElement('li');
  liElement.appendChild(linkElement);

  cacheEntriesUl.appendChild(liElement);
}
</script>
