---
layout: null
permalink: /feeds/mastodon/billets.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "Billets - Nicolas Hoizey",
  "home_page_url": "{{ pkg.homepage }}/billets/",
  "feed_url": "{{ pkg.homepage }}/feeds/mastodon/billets.json",
  "items": [
  {% for entry in collections.billets | limit(20) %}
    {%- set absoluteEntryUrl -%}{{- pkg.homepage -}}{{- entry.url -}}{%- endset -%}
    {
      "id": "{{ absoluteEntryUrl }}",
      "url": "{{ absoluteEntryUrl }}",
      "lang": "{{ entry.data.lang }}",
      "title": "📓  Billet du {{ entry.date | formattedDateTime }}",
      "date_published": "{{ entry.date | rssDate }}",
      "content_text": "{{- 'billet' | mdToToot('', entry.template.frontMatter.content, entry.data.tags, absoluteEntryUrl) | safe -}}",
      {# "content_text": "📓 {{ entry.data.page.excerpt | truncateHtml(180) | striptags | cleanForJson | safe }}\n\n⚓️ {{ absoluteEntryUrl }}", #}
      "attachments": {{ entry.template.frontMatter.content | imagesAsAttachments(absoluteEntryUrl) | safe }}
    }{%- if not loop.last -%},{%- endif -%}
  {% endfor %}
  ]
}
