---
layout: null
permalink: /feeds/mastodon/links.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "Links - Nicolas Hoizey",
  "home_page_url": "{{ pkg.homepage }}/links/",
  "feed_url": "{{ pkg.homepage }}/feeds/mastodon/links.json",
  "items": [
  {% for entry in collections.links | limit(20) %}
    {%- set absoluteEntryUrl -%}{{- pkg.homepage -}}{{- entry.url -}}{%- endset -%}
    {%- set title -%}“{{ entry.data.title | escapeQuotes | safe }}”{%- endset -%}
    {
      "id": "{{ absoluteEntryUrl }}",
      "url": "{{ absoluteEntryUrl }}",
      "lang": "{{ entry.data.lang }}",
      "title": "{{ title }}",
      "date_published": "{{ entry.date | rssDate }}",
      "content_text": "{{- 'link' | mdToToot(title, entry.template.frontMatter.content, entry.data.tags, absoluteEntryUrl, entry.data.link, entry.data.authors) | safe -}}",
      "attachments": [
        {
          {%- if "youtube.com" in entry.data.link -%}
            {%- set youtubeId = entry.data.link | split("v=") | last -%}
            {%- set youtubeThumbnail = "https://img.youtube.com/vi/" ~ youtubeId ~ "/maxresdefault.jpg" -%}
            "url": "{{ screenshots.prefix }}{{ youtubeThumbnail | url_encode }}{{ screenshots.suffix }}",
            "mime_type": "image/jpeg",
            "title": "Thumbnail of YouTube video {{ entry.data.title }}"
          {%- else -%}
            "url": "{{ screenshots.prefix }}{{ entry.data.link | url_encode }}{{ screenshots.suffix }}",
            "mime_type": "image/png",
            "title": "Screenshot of {{ entry.data.title}}"
          {%- endif -%}
        }
      ]
    }{%- if not loop.last -%},{%- endif -%}
  {% endfor %}
  ]
}
