---
layout: null
permalink: /feeds/mastodon/notes.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "Notes - Nicolas Hoizey",
  "home_page_url": "{{ pkg.homepage }}/notes/",
  "feed_url": "{{ pkg.homepage }}/feeds/mastodon/notes.json",
  "items": [
  {% for entry in collections.notes | limit(20) %}
    {%- set absoluteEntryUrl -%}{{- pkg.homepage -}}{{- entry.url -}}{%- endset -%}
    {
      "id": "{{ absoluteEntryUrl }}",
      "url": "{{ absoluteEntryUrl }}",
      "lang": "{{ entry.data.lang }}",
      "title": "💬 Note from {{ entry.date | formattedDateTime }}",
      "date_published": "{{ entry.date | rssDate }}",
      "content_text": "{{ entry.template.frontMatter.content | noteToToot(entry.data.tags) | safe }}\n\n⚓️ {{ absoluteEntryUrl }}",
      "attachments": {{ entry.template.frontMatter.content | imagesAsAttachments(absoluteEntryUrl) | safe }}
    }{%- if not loop.last -%},{%- endif -%}
  {% endfor %}
  ]
}
