@import 'functions';
@import 'global/variables';
@import 'global/dimensions';
@import 'global/colors';
@import 'components/toast';
@import 'components/notification';
@import 'components/footnotes';
@import 'components/comments';
@import 'components/webmentions';
@import 'components/tagscloud';
@import 'components/code';
@import 'highlight/_prism-onedark';
@import 'components/footer';
@import 'components/tweets-icons';
@import 'global/print';

// ************************************************************
// Blockquotes
// ************************************************************

blockquote:not(.tweet-card) {
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 1em 0.5em calc(2em + 5vw);
  min-height: 3em;
  overflow: hidden;

  font-style: italic;
  color: $text-color;

  position: relative;

  & > * + * {
    margin-top: $baseline;
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: unicode('201C');
    color: $color-primary-lighter-3;
    font-size: calc(5em + 5vw);
    line-height: 1;
  }

  blockquote {
    background-color: $color-primary-lighter-7;
    font-style: normal;
  }
}

// ************************************************************
// Tables
// ************************************************************

table {
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;

  @supports (font-variant-numeric: tabular-nums) {
    font-feature-settings: normal;
    font-variant-numeric: tabular-nums;
  }
}

thead {
  background-color: #eee;

  th {
    vertical-align: bottom;
  }
}

th,
td {
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  vertical-align: top;
}

// ************************************************************
// Sub and sup texts
// ************************************************************

// https://gist.github.com/unruthless/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// ************************************************************
// Other elements inside the article
// ************************************************************

article {
  .socialphoto {
    background-color: #eef;
    color: #333;
    padding: 1em;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }
}

.edit {
  margin-top: $baseline;
  padding: 0.5em 0;
  font-size: var(--font-size-xxs);
  color: $color-primary-lighter-6;

  // https://sass-lang.com/documentation/style-rules/declarations#custom-properties
  --link-decoration-color: #{$color-primary-lighter-2};
}

// File link icons
a[href$='.zip'],
a[href$='.kml'] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
  background-position: 0 0;
  background-repeat: no-repeat;
}

a[href$='.zip'] {
  background-image: url(/assets/icons/zip.svg);
}

a[href$='.kml'] {
  background-image: url(/assets/icons/kml.svg);
}
