@use 'variables/dimensions';

.older-newer {
  ul {
    list-style-type: none;
    padding-inline-start: 0;

    display: grid;
    grid-template-columns: 5vw 1fr 5vw 1fr 5vw;
    grid-row-gap: dimensions.$gap;
    grid-column-gap: 0;

    grid-template-areas:
      'prev prev prev prev void1'
      'void2 next next next next';
    @media (min-width: 48rem) {
      grid-template-areas: 'prev prev void next next';
    }

    .older-newer__older {
      grid-area: prev;
    }

    .older-newer__newer {
      grid-area: next;

      justify-self: end;
    }

    svg {
      fill: none;
      stroke: var(--color-primary-lighter-7);
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
