// https://github.com/hankchizljaw/modern-css-reset
@use '../../node_modules/modern-css-reset/dist/reset';

@use 'global/colors';
@use 'global/utilities';
@use 'global/globals';
@use 'global/accessibility';
@use 'global/fonts';
@use 'components/avatar';
@use 'components/header';
@use 'components/navigation';
@use 'components/link';
@use 'components/button';
@use 'components/blockquote';
@use 'components/code';
@use 'components/meta';
@use 'components/card';
@use 'components/page';
@use 'components/tweets';
@use 'components/container';
@use 'components/toast';
@use 'components/notification';
@use 'components/footnotes';
@use 'components/reactions';
@use 'highlight/_prism-onedark';
@use 'components/footer';
@use 'components/tweets-icons';
@use 'global/print';

html {
  text-size-adjust: 100%;
  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;
}

body {
  font-size: var(--font-size-m);
  font-weight: 400;

  color: var(--color-primary-darker-6);
  background-color: white;

  word-break: break-word;
}

// ************************************************************
// Layout
// ************************************************************

body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0;
  flex: 1;

  .wrap {
    @extend %flow;
  }
}

.wrap {
  width: 90vw;
  max-width: var(--layout-max);
  margin-left: auto;
  margin-right: auto;
}

// ************************************************************
// Paragraphs and headers
// ************************************************************

.lead {
  @extend %flow;

  font-size: var(--font-size-xxl);
  color: var(--color-primary-lighter-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  color: var(--color-primary-lighter-2);
  position: relative;

  &:not(h1) {
    --flow-space: 2em;
  }
}

h1 {
  font-size: var(--font-size-xxxxl);
  font-weight: 900;
  color: var(--color-primary);
}

h2 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-l);
  font-weight: 300;
}

h5 {
  font-size: var(--font-size-m);
  font-weight: 300;
}

h6 {
  font-style: italic;
  font-size: var(--font-size-m);
  font-weight: 300;
}

// ************************************************************
// Links
// Lord Vader Hates Furry Animals
// https://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
// ************************************************************

a {
  &:link,
  &:visited {
    color: var(--color-link);
    background-color: var(--color-link-bg);
    text-decoration-line: underline;
    text-decoration-color: var(--color-link-decoration);
    text-decoration-thickness: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-left: -0.1em;
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-bg);
    text-decoration: var(--color-link-hover-decoration);
    outline: none;
  }

  &:active {
    color: #fff;
    background-color: var(--color-secondary);
    text-decoration: none;
    outline: none;
  }
}

// Deep links (aka anchors)

a.deeplink {
  &:link,
  &:visited {
    text-align: center;
    margin-left: 0.3rem;
    padding: 0 0.4rem;
    border-radius: 0.4em;
    color: #767676;
    text-decoration: none;

    svg {
      vertical-align: baseline;
      font-size: 0.7em;
      fill: none;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-bg);
  }

  @media (min-width: 65rem) {
    position: absolute;
    left: -3rem;
  }
}

:target {
  // Inspired by https://adrianroselli.com/2019/12/responsive-type-and-zoom.html#Update04
  animation-name: target;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

@keyframes target {
  0% {
    outline-style: solid;
    outline-offset: 0;
    outline-color: var(--color-primary);
    outline-width: 0.2em;
  }
  100% {
    outline-offset: 1em;
    outline-color: transparent;
    outline-width: 0;
  }
}

// Links to content in another language
// https://tzi.fr/css/link-hreflang/
:lang(fr) > :link[hreflang]:not([hreflang='fr'])::after,
:lang(en) > :link[hreflang]:not([hreflang='en'])::after {
  content: ' (' attr(hreflang) ')';
  font-size: 70%;
  vertical-align: super;
}

// ************************************************************
// General styles
// ************************************************************

img {
  display: inline; // because the reset sets it to block
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s;
}

svg {
  margin: 0;
  padding: 0;

  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

video {
  background-color: #eee;
}

.giphy {
  margin: 2em auto;
  padding: 0;

  video {
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}

iframe {
  max-width: 100%;
}

figure,
iframe,
.embed-video-container {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

lite-youtube > iframe {
  margin: 0;
}

figure {
  text-align: center;

  img,
  iframe,
  .embed-video-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

figure,
img {
  &.twothirds,
  &.onehalf {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &.twothirds {
    max-width: 66%;
  }

  &.onehalf {
    max-width: 50%;
  }

  &.onethird {
    @extend .right;

    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }
  }

  &.onefourth,
  &.logo {
    @extend .right;

    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }

    @media (min-width: 30em) {
      max-width: 25%;
    }
  }

  &.left {
    margin: var(--gap) auto;

    @media (min-width: 20em) {
      float: left;
      margin: 0 var(--gap) var(--gap) 0;
    }
  }

  &.right {
    margin: var(--gap) auto;

    @media (min-width: 20em) {
      float: right;
      margin: 0 0 var(--gap) var(--gap);
    }
  }
}

figure.border img,
img.border {
  border: 3px solid var(--color-primary-lighter-5);
}

.logo {
  display: block;
  margin: var(--gap) auto;
}

.portrait {
  border-radius: 20%;
}

figcaption {
  // http://nocode.in/aligning-text-smartly-in-css/
  display: inline-block;
  text-align: left;

  font-size: var(--font-size-s);
  font-style: italic;
  margin: 0.1em 1em;
  padding: 0.3em 0;
  color: #666;
}

.more {
  margin-top: var(--gap3);
}

ul,
ol {
  padding: 0 0 0 var(--gap2);
}

// ************************************************************
// Tables
// ************************************************************

table {
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;

  @supports (font-variant-numeric: tabular-nums) {
    font-feature-settings: normal;
    font-variant-numeric: tabular-nums;
  }
}

thead {
  background-color: #eee;

  th {
    vertical-align: bottom;
  }
}

th,
td {
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  vertical-align: top;
}

// ************************************************************
// Sub and sup texts
// ************************************************************

// https://gist.github.com/unruthless/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// ************************************************************
// Other elements inside the article
// ************************************************************

article {
  .socialphoto {
    background-color: #eef;
    color: #333;
    padding: 1em;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }
}

// File link icons
a[href$='.zip'],
a[href$='.kml'] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
  background-position: 0 0;
  background-repeat: no-repeat;
}

a[href$='.zip'] {
  background-image: url(/assets/icons/zip.svg);
}

a[href$='.kml'] {
  background-image: url(/assets/icons/kml.svg);
}

// Hidden for everyone
.hidden {
  display: none;
}

.quickaccess {
  &:link,
  &:visited {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 0.5em;
    background-color: white;
    color: var(--color-primary);
  }
}
