// https://github.com/hankchizljaw/modern-css-reset
@use '../../node_modules/modern-css-reset/dist/reset';

@use 'variables/fonts';
@use 'variables/colors';
@use 'variables/dimensions';
@use 'global/utilities';
@use 'global/globals';
@use 'global/accessibility';
@use 'components/avatar';
@use 'components/header';
@use 'components/navigation';
@use 'components/link';
@use 'components/button';
@use 'components/blockquote';
@use 'components/code';
@use 'components/meta';
@use 'components/card';
@use 'components/page';
@use 'components/tweets';
@use 'components/container';

html {
  text-size-adjust: 100%;
  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;
}

@media (prefers-reduced-motion: no-preference) {
  // https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  min-height: var(--full-height);

  color: var(--color-primary-darker-6);

  font-family: fonts.$font-family-serif;
  font-weight: 400;
  font-size: var(--font-size-m);
  word-break: break-word;

  background-color: white;
  accent-color: var(--color-primary);
}

// ************************************************************
// Layout
// ************************************************************

body {
  display: flex;
  flex-direction: column;

  padding: 0;
}

main {
  flex: 1;

  margin: 3 * dimensions.$gap 0 0;

  .wrap {
    @extend %flow;
  }
}

.wrap {
  width: 90vw;
  max-width: var(--layout-max);
  margin-right: auto;
  margin-left: auto;
}

// ************************************************************
// Paragraphs and headers
// ************************************************************

.lead {
  color: var(--color-primary-lighter-1);
  font-size: var(--font-size-l);
  @extend %flow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  color: var(--color-primary-lighter-2);
  font-weight: normal;
  font-family: fonts.$font-family-sans-serif;
  line-height: 1.2;

  &:not(h1) {
    --flow-space: #{3 * dimensions.$gap};
  }
}

h1 {
  color: var(--color-primary);
  font-weight: bold;
  font-size: var(--font-size-xxl);
}

h2 {
  color: var(--color-primary-lighter-1);
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-m);
}

h5 {
  font-size: var(--font-size-m);
  font-style: italic;
}

h6 {
  font-size: var(--font-size-s);
}

// ************************************************************
// Links
// Lord Vader Hates Furry Animals
// https://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
// ************************************************************

a {
  &:link,
  &:visited {
    margin-left: -0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;

    font-weight: bold;

    color: var(--color-link);

    background-color: var(--color-link-bg);
    text-decoration-color: var(--color-link-decoration);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: var(--color-link-hover-decoration);

    background-color: var(--color-link-hover-bg);

    outline: none;
  }

  &:active {
    color: #fff;
    text-decoration: none;

    background-color: var(--color-complementary);

    outline: none;
  }
}

// Anchor links
// Based on https://smolcss.dev/#smol-article-anchors
.heading-wrapper {
  --flow-space: #{3 * dimensions.$gap};
  display: grid;
  // anchor link on the far right for long wrapping headings
  grid-template-columns: minmax(auto, max-content) min-content;
  gap: 0.5rem;
  align-items: stretch;
}

.deeplink {
  // display: grid;
  // justify-content: center;
  // align-content: center;

  &:link,
  &:visited {
    padding: 0 0.25rem;

    color: var(--color-meta);
    text-decoration: none;

    border-radius: 0.3em;

    svg {
      fill: none;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  .heading-wrapper:hover &,
  &:hover,
  &:focus {
    color: var(--color-link-hover);

    background-color: var(--color-link-hover-bg);
  }
}

@media (min-width: 65rem) {
  .heading-wrapper {
    // Anchor link in the left margin on larger viewports
    grid-template-columns: min-content auto;

    margin-left: -2rem; // 1rem width + .25rem * 2 paddings + 0.5rem gap
  }

  .deeplink {
    grid-row-start: 1;
  }
}

:target {
  // Inspired by https://adrianroselli.com/2019/12/responsive-type-and-zoom.html#Update04
  animation-name: target;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

@keyframes target {
  0% {
    background-color: inherit;
  }
  85% {
    background-color: var(--color-yellow-light);
  }
}

// Links to content in another language
// https://tzi.fr/css/link-hreflang/
:lang(fr) > :link[hreflang]:not([hreflang='fr'])::after,
:lang(en) > :link[hreflang]:not([hreflang='en'])::after {
  content: ' (' attr(hreflang) ')';

  font-size: 70%;
  vertical-align: super;
}

// ************************************************************
// General styles
// ************************************************************

img {
  display: inline; // because the reset sets it to block

  height: auto;
  max-width: 100%;

  opacity: 1;

  transition: opacity 0.3s;

  // show broken image in Firefox
  -moz-force-broken-image-icon: 1;
}

svg {
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;

  vertical-align: text-bottom;
}

video {
  background-color: #eee;
}

.giphy {
  margin: 2em auto;
  padding: 0;

  video {
    display: block;

    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}

iframe {
  max-width: 100%;
}

figure,
iframe,
.embed-video-container {
  display: block;
  clear: both;

  margin-right: auto;
  margin-left: auto;
}

lite-youtube > iframe {
  margin: 0;
}

// https://blog.codepen.io/2017/05/01/make-embedded-pen-resizeable/
.cp_embed_wrapper {
  /* default height */
  height: 400px;
  padding-bottom: 10px;

  /* required to see the handle */
  background: white;
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  iframe {
    height: 100% !important;
  }
}

figure {
  text-align: center;

  img,
  iframe,
  .embed-video-container {
    display: block;

    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

figure,
img {
  &.twothirds,
  &.onehalf {
    display: block;

    margin-right: auto;
    margin-left: auto;
  }

  &.twothirds {
    max-width: 66%;
  }

  &.onehalf {
    max-width: 50%;
  }

  &.onethird {
    max-width: 50%;
    @extend .right;

    @media (min-width: 20em) {
      max-width: 33%;
    }
  }

  // base: min(90vw, 60rem)
  // sizes="(min-width: 66.7rem) 60rem * 25%, (min-width: 30rem) 90vw * 25%, (min-width: 20rem) 90vw * 33%, 90vw * 50%"
  // sizes="(min-width: 66.7rem) 15rem, (min-width: 30rem) 22.5vw, (min-width: 20rem) 30vw, 45vw"
  &.onefourth,
  &.logo {
    max-width: 50%;
    @extend .right;

    @media (min-width: 20em) {
      max-width: 33%;
    }

    @media (min-width: 30em) {
      max-width: 25%;
    }
  }

  &.small_logo {
    max-width: 25%;
    @extend .right;

    @media (min-width: 20em) {
      max-width: 16.5%;
    }

    @media (min-width: 30em) {
      max-width: 12.5%;
    }
  }

  &.left {
    margin: dimensions.$gap auto;

    @media (min-width: 20em) {
      float: left;

      margin: 0 dimensions.$gap dimensions.$gap 0;
    }
  }

  &.right {
    margin: dimensions.$gap auto;

    @media (min-width: 20em) {
      float: right;

      margin: 0 0 dimensions.$gap dimensions.$gap;
    }
  }
}

figure.border img,
img.border {
  border: 3px solid var(--color-primary-lighter-5);
}

.logo {
  display: block;

  margin: dimensions.$gap auto;
}

// base: min(90vw, 60rem)
// sizes="(min-width: 66.7rem) calc(60rem * 25% - 2 * .15rem - 2 * .15rem), (min-width: 30rem) calc(90vw * 25% - 2 * .15rem - 2 * .15rem), (min-width: 20rem) calc(90vw * 33% - 2 * .15rem - 2 * .15rem), calc(90vw * 50% - 2 * .15rem - 2 * .15rem)"
// sizes="(min-width: 66.7rem) 14.4rem, (min-width: 30rem) calc(22.5vw - .6rem), (min-width: 20rem) calc(30vw - .6rem), calc(45vw - .6rem)"
.portrait {
  background-color: white;
  padding: dimensions.$border-width;
  border-color: var(--color-primary);
  border-style: solid;
  border-width: dimensions.$border-width;
  border-radius: 50%;
}

figcaption {
  // http://nocode.in/aligning-text-smartly-in-css/
  display: inline-block;

  margin: 0.1em 1em;
  padding: 0.3em 0;

  color: #666;
  font-size: var(--font-size-s);
  font-style: italic;
  text-align: left;
}

.more {
  margin-top: 3 * dimensions.$gap;
}

ul,
ol {
  padding: 0 0 0 2 * dimensions.$gap;
}

// ************************************************************
// Tables
// ************************************************************

table {
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;

  @supports (font-variant-numeric: tabular-nums) {
    font-feature-settings: normal;
    font-variant-numeric: tabular-nums;
  }
}

thead {
  background-color: #eee;

  th {
    vertical-align: bottom;
  }
}

th,
td {
  padding: 0.3em 0.5em;

  vertical-align: top;

  border: 1px solid #ccc;
}

// ************************************************************
// Sub and sup texts
// ************************************************************

// https://gist.github.com/unruthless/413930
sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// ************************************************************
// Other elements inside the article
// ************************************************************

article {
  .socialphoto {
    padding: 1em;

    color: #333;

    background-color: #eef;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }
}

.eleventy-plugin-youtube-embed {
  margin: dimensions.$gap 0;
}

// File link icons
a[href$='.zip'],
a[href$='.kml'] {
  padding-left: 1.6em;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 1.4em 1.4em;
  background-size: contain;
}

a[href$='.zip'] {
  background-image: url(/assets/icons/zip.svg);
}

a[href$='.kml'] {
  background-image: url(/assets/icons/kml.svg);
}

// Hidden for everyone
.hidden {
  display: none;
}

hr {
  --flow-space: #{3 * dimensions.$gap};
  margin-bottom: var(--flow-space);
  width: 70%;
  height: 1px;
  color: var(--color-primary);
  background-color: var(--color-primary);
  border: none;
}

.quickaccess {
  &:link,
  &:visited {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding-left: 0.5em;

    color: var(--color-primary);

    background-color: white;
  }
}

.encart_photo_du_jour {
  max-width: 50%;
  @media (min-width: 20em) {
    max-width: 33%;
  }

  margin: dimensions.$gap auto;
  @media (min-width: 20em) {
    float: right;
    margin: 0 0 2 * dimensions.$gap 2 * dimensions.$gap;
  }

  color: var(--color-primary);
  font-size: var(--font-size-s);
  @extend %flow;
}

del {
  color: darkred;
}

ins {
  color: darkgreen;
  text-decoration: none;
}
