@import 'global/variables';
@import 'global/dimensions';
@import 'global/colors';

.instant-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'searchbox searchbox'
    'stats poweredby'
    'hits hits'
    'pagination pagination';
  grid-gap: 1em;
  gap: 1em;
}

#clear-refinements,
.refinements {
  display: none;
}

@media (min-width: 40em) {
  .instant-search {
    grid-template-columns: 10em 1fr;
    grid-template-areas:
      'searchbox searchbox searchbox'
      'clear stats poweredby'
      'refinements hits hits'
      'refinements pagination pagination';
  }

  #clear-refinements,
  .refinements {
    display: block;
  }
}

#searchbox {
  grid-area: searchbox;
}

#clear-refinements {
  grid-area: clear;
  align-self: center;

  .ais-ClearRefinements-button--disabled {
    display: none;
  }
}

#stats {
  grid-area: stats;
  font-size: var(--font-size-xs);
  align-self: center;
}

#powered-by {
  grid-area: poweredby;
  align-self: center;
  justify-self: end;
}

.refinements {
  grid-area: refinements;
}

#hits {
  grid-area: hits;
}

#pagination {
  grid-area: pagination;
}

.refinements {
  dt {
    margin-top: 1em;
    font-size: var(--font-size-xs);
  }

  dd {
    margin-left: 0.5em;
  }

  ul {
    font-size: var(--font-size-s);
    padding-left: 0;
    list-style-type: none;
  }

  input,
  button {
    font-size: var(--font-size-xs);
  }

  button {
    background-color: $color-lightgrey;
  }

  .ais-HierarchicalMenu-list--child {
    padding-left: 1em;
  }

  .ais-HierarchicalMenu-showMore--disabled {
    display: none;
  }

  .ais-RefinementList-count,
  .ais-HierarchicalMenu-count {
    font-size: 0.7em;
    padding: 0.1em 0.3em;
    background-color: $color-lightgrey;
    text-decoration: none;
  }
}

.ais-HierarchicalMenu-item--selected > div > a > .ais-HierarchicalMenu-label {
  font-weight: bold;
}

.ais-Pagination {
  margin-top: 1em;
}

.ais-InfiniteHits-list {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  grid-auto-flow: dense;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;

  .card__title {
    font-size: var(--font-size-s);
  }
}

.ais-SearchBox-form {
  display: flex;
  align-items: center;

  padding: 0.2em 0.5em;

  background-color: $color-lightgrey;

  border-width: 1px;
  border-style: solid;
  border-color: $color-grey;
  border-radius: 2em;

  input,
  button {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    border: transparent;
    background-color: transparent;
    outline: none;
    width: auto;
  }

  // from
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type='search'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  button {
    flex: 1;
    fill: $color-darkgrey;
  }

  .ais-SearchBox-submit {
    display: none;
  }
}

#searchbox .ais-SearchBox-form {
  input,
  button {
    font-size: var(--font-size-m);
  }
}
