@import 'global/variables';
@import 'global/dimensions';
@import 'global/colors';

// ************************************************************
// Layout
// ************************************************************

.instant-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'searchbox searchbox'
    'stats poweredby'
    'hits hits'
    'pagination pagination';
  grid-gap: 1em;
  gap: 1em;
}

#clear-refinements,
.refinements {
  // Hide refinements on mobile
  // TODO: find a way to allow refinements
  display: none;
}

@media (min-width: 40em) {
  .instant-search {
    grid-template-columns: 10em 1fr;
    grid-template-areas:
      'searchbox searchbox searchbox'
      'clear stats poweredby'
      'refinements hits hits'
      'refinements pagination pagination';
  }

  #clear-refinements,
  .refinements {
    display: block;
  }
}

#searchbox {
  grid-area: searchbox;
}

#clear-refinements {
  grid-area: clear;
}

#stats {
  grid-area: stats;
}

#powered-by {
  grid-area: poweredby;
}

.refinements {
  grid-area: refinements;
}

#hits {
  grid-area: hits;
}

#pagination {
  grid-area: pagination;
}

// ************************************************************
// Refinements
// ************************************************************

#clear-refinements {
  align-self: center;

  .ais-ClearRefinements-button--disabled {
    display: none;
  }
}

.refinements {
  font-size: var(--font-size-xs);

  dt {
    border-bottom: 1px solid $color-grey;
    margin-bottom: 0.3em;
  }

  dd {
    margin-left: 0;
    margin-bottom: $gap;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  button {
    font-size: var(--font-size-xs);
    background-color: $color-lightgrey;
  }

  .ais-HierarchicalMenu-item {
    padding-left: 1em;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0.2em;
      font-family: monospace;
      font-size: 1em;
      content: '+\00a0';
    }

    &.ais-HierarchicalMenu-item--selected::before {
      content: '-\00a0';
    }
  }

  .ais-HierarchicalMenu-list--child {
    .ais-HierarchicalMenu-item {
      padding-left: 0;

      &::before {
        content: '';
      }
    }
  }

  .ais-HierarchicalMenu-list--child {
    padding-left: 1em;
  }

  .ais-HierarchicalMenu-showMore--disabled {
    display: none;
  }

  .ais-RefinementList-count,
  .ais-HierarchicalMenu-count {
    font-size: 0.7em;
    padding: 0.1em 0.3em;
    background-color: $color-lightgrey;
    text-decoration: none;
  }
}

.ais-HierarchicalMenu-item--selected > div > a > .ais-HierarchicalMenu-label {
  font-weight: bold;
}

// ************************************************************
// Stats
// ************************************************************

#stats {
  font-size: var(--font-size-xs);
  align-self: center;
}

// ************************************************************
// Powered by
// ************************************************************

#powered-by {
  align-self: center;
  justify-self: end;
}

// ************************************************************
// Search box
// ************************************************************

.ais-SearchBox-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.2em 0.5em;

  background-color: $color-lightgrey;

  border-width: 1px;
  border-style: solid;
  border-color: $color-grey;
  border-radius: 2em;

  input,
  button {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    border: transparent;
    background-color: transparent;
    outline: none;
    width: auto;
    height: 1.5em;
  }

  // from
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type='search'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  input {
    flex-grow: 1;
    max-width: calc(100% - 2em);
  }

  button {
    width: 1.5em;
    fill: $color-darkgrey;

    svg {
      width: 0.5em;
      height: 0.5em;
    }
  }

  .ais-SearchBox-submit {
    display: none;
  }
}

#searchbox .ais-SearchBox-form {
  input,
  button {
    font-size: var(--font-size-m);
  }
}

// ************************************************************
// Hits list
// ************************************************************

.ais-InfiniteHits-list {
  & > * + * {
    margin-top: $gap;
  }

  padding: 0;
  list-style-type: none;
  font-size: 1rem;

  .card__title {
    font-size: var(--font-size-s);
  }

  .card.note {
    max-width: none;
  }
}

// ************************************************************
// Pagination
// ************************************************************

.ais-Pagination {
  margin-top: 1em;
}
