.tagscloud__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  padding: 0;

  list-style-type: none;

  a {
    &:link,
    &:visited {
      display: inline-block;

      margin: 0.2em 0.3em;
      padding: 0.1em 0.3em;

      color: white;
      white-space: nowrap;
      text-decoration: none;

      border-radius: 0.5em;

      background-color: var(--color-primary-lighter-3);
    }
  }

  a {
    &.tag2 {
      &:link,
      &:visited {
        background-color: var(--color-primary-lighter-2);
      }
    }

    &.tag3 {
      &:link,
      &:visited {
        background-color: var(--color-primary-lighter-1);
      }
    }

    &.tag4 {
      &:link,
      &:visited {
        background-color: var(--color-primary);
      }
    }

    &.tag5 {
      &:link,
      &:visited {
        background-color: var(--color-primary-darker-1);
      }
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;

      background-color: var(--color-secondary);

      outline: none;

      &.tag2,
      &.tag3,
      &.tag4,
      &.tag5 {
        background-color: var(--color-secondary);
      }
    }
  }
}
