@use 'global/utilities';

.welcome {

  margin-top: 3vw;
  margin-bottom: 3vw;
  @extend %clearfix;
  @extend %flow;
}

.welcome__name {
  color: var(--color-primary);
  font-size: var(--font-size-xxl);

  @media (min-width: 20em) {
    margin-top: 0;
  }
}

.welcome__text {
  font-size: var(--font-size-l);
}
