@use 'global/utilities';

.welcome {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5vw;

  margin-top: 3vw;
  margin-bottom: 3vw;

  & > * {
    margin: 0;
  }
}

.welcome__text {
  --flow-space: 3rem;
  @extend %flow;

  font-size: var(--font-size-l);
}

.welcome__name {
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
}
