@use 'global/variables';
@use 'global/colors';
@use 'global/utilities';
@use 'components/card';

// ************************************************************
// Layout
// ************************************************************

.archives {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'searchbox searchbox'
    'stats poweredby'
    'hits hits';
  grid-column-gap: var(--gap3);
  column-gap: var(--gap3);
  grid-row-gap: calc(var(--gap) * 2);
  row-gap: calc(var(--gap) * 2);
}

#clear-refinements,
.refinements {
  // Hide refinements on mobile
  // TODO: find a way to allow refinements
  display: none;
}

@media (min-width: 48rem) {
  .archives {
    grid-template-columns: 1fr 1fr 12rem;
    grid-template-areas:
      'searchbox searchbox clear'
      'stats poweredby empty'
      'hits hits refinements';
  }

  #clear-refinements,
  .refinements {
    display: block;
  }
}

#searchbox {
  grid-area: searchbox;

  // prepare space to prevent layout shift
  // input font-size + padding + border
  min-height: calc(1.5em + 2 * 0.2em + 2 * 1px);
}

#clear-refinements {
  grid-area: clear;
  align-self: center;
}

#stats {
  grid-area: stats;
  font-size: var(--font-size-xs);
  align-self: center;
}

#powered-by {
  grid-area: poweredby;
  min-height: 1.5em;
}

#stats,
#powered-by {
  margin-top: -1rem;
}

#stats {
  display: none;

  @media (min-width: 20em) {
    display: block;
  }
}

.refinements {
  grid-area: refinements;
}

#hits {
  grid-area: hits;
}

#pagination {
  grid-area: pagination;

  .ais-Pagination {
    margin-top: var(--gap);
  }
}

// ************************************************************
// Buttons
// ************************************************************

.ais-InfiniteHits-loadMore {
  display: block;
  margin: var(--gap) auto;
}

.ais-ClearRefinements-button--disabled,
.ais-RefinementList-showMore--disabled,
.ais-HierarchicalMenu-showMore--disabled,
.ais-InfiniteHits-loadMore--disabled {
  display: none;
}

// ************************************************************
// Refinements
// ************************************************************

.refinements {
  font-size: var(--font-size-s);

  .ais-Panel {
    margin-bottom: var(--gap);
  }

  .ais-Panel-header {
    font-size: var(--font-size-xs);
    border-bottom: 1px solid colors.$color-grey;
    margin-bottom: 0.3em;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

// HierarchicalMenu
.ais-HierarchicalMenu-item {
  padding-left: 1em;
}

.ais-HierarchicalMenu-item--selected > div > a {
  font-weight: bold;
}

// RefinementList
.ais-RefinementList-item--selected .ais-RefinementList-labelText {
  font-weight: bold;
}

// Counts
.ais-RefinementList-count,
.ais-HierarchicalMenu-count {
  color: var(--color-primary-darker-6);
  position: relative;
  top: -0.1em;
  font-size: 0.7em;
  margin-left: 0.2em;
  padding: 0.1em 0.5em;
  background-color: colors.$color-lightgrey;
  border-radius: 1em;
}

// ************************************************************
// Powered by
// ************************************************************

#powered-by {
  align-self: center;
  justify-self: end;

  .ais-PoweredBy-link {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }
}

// ************************************************************
// Search box
// ************************************************************

.ais-SearchBox-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.2em 0.5em;

  background-color: colors.$color-lightgrey;

  border-width: 1px;
  border-style: solid;
  border-color: colors.$color-grey;
  border-radius: 2em;

  input,
  button {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    border: transparent;
    background-color: transparent;
    outline: none;
    width: auto;
    height: 1.5em;
  }

  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type='search'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  $search-button-width: 1.5em;
  input {
    flex-grow: 1;
    max-width: calc(100% - #{$search-button-width} - 0.5em);
    padding-left: 0.3em;
  }

  button {
    width: $search-button-width;
    fill: colors.$color-darkgrey;

    svg {
      width: 0.5em;
      height: 0.5em;
    }
  }

  .ais-SearchBox-submit {
    display: none;
  }
}

#searchbox .ais-SearchBox-form {
  input,
  button {
    font-size: var(--font-size-m);
  }
}

// ************************************************************
// Hits list
// ************************************************************

.ais-InfiniteHits-list {
  @extend .cards-list;
}

.ais-InfiniteHits-loadMore {
  margin-top: var(--gap3);
}

// ************************************************************
// Before Algolia instant search loads
// ************************************************************

.no-ais-RefinementList-list {
  li {
    padding-left: 1.2em;
  }
}
