@use 'variables/fonts';

#tagscloud {
  --min-log: 0; // log(1)
  --max-log: 5; // ~log(150)
  --min-size: 0.8;
  --max-size: 1.8;
  --min-weight: 300;
  --max-weight: 900;
  --min-l: 30;
  --max-l: 60;

  font-family: fonts.$font-family-sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  padding: 0;

  list-style-type: none;

  a {
    &:link,
    &:visited {
      display: inline-block;

      margin: 0.5rem;
      padding: 0 1rem;

      white-space: nowrap;
      text-decoration: none;

      --factor: (var(--log) - var(--min-log)) /
        (var(--max-log) - var(--min-log) + 1);
      font-size: calc(
        ((var(--max-size) - var(--min-size)) * var(--factor) + var(--min-size)) *
          1em
      );
      font-weight: calc(
        (var(--max-weight) - var(--min-weight)) * var(--factor) +
          var(--min-weight)
      );

      --h: 270;
      --s: 50%;
      --l: calc(
        ((var(--max-l) - var(--min-l)) * var(--factor) + var(--min-l)) * 1%
      );
      --a: 1;
      background-color: var(--color-primary);
      background-color: hsl(var(--h) var(--s) var(--l) / var(--a));
      color: white;

      border-color: var(--color-primary);
      border-style: solid;
      border-width: 1px;
      border-radius: 2rem;
    }
  }

  a {
    &:hover,
    &:focus,
    &:active {
      color: var(--color-primary);
      background-color: white;

      outline: none;
    }
  }
}
