---
title: Home
---

{% from "macros/linkCard.njk" import linkCard %}

<h2>Recent links</h2>
<ul class="list">
  {% for link in collections.links | limit(6) %}
    <li class="list__item">
      <div class="card card--link h-entry">
        {{ linkCard(link.data.title, link.url, link.data.link, link.data.authors, link.date, link.data.tags, webmentions) }}
      </div>
    </li>
  {% endfor %}
</ul>
<p>Discover <a href="/links/">all links</a>…</p>

{% from "macros/tagsCloud.njk" import tagsCloud %}

<h2>Main topics</h2>
<p>These are the tags the most used on the site to set content topics:</p>
{{ tagsCloud(collections.mainTags) }}
<p>Browse <a href="/tags/">all tags</a>…</p>
