---
pagination:
  data: collections.links
  size: 1
  alias: link
layout: lazy
permalink: "/lazy/{{ link.filePathStem | dirname }}/index.html"
---

{% set articleUrl = link.url %}
{% set lazy = false %}
{% include "components/webmentions.njk" %}
