@use '../variables/fonts';

:root {
  // Default settings that can be chosen by users
  --default-density: 1;
  --default-hue: 270; // Rebecca Purple: https://www.economist.com/babbage/2014/06/23/the-colour-purple

  // Computed values from default settings and users choices
  --density: var(--user-density, var(--default-density));
  --hue: var(--user-hue, var(--default-hue));

  --gap: calc(var(--density) * 1rem);
  --flow-space: calc(var(--density) * 1em);

  // https://every-layout.dev/rudiments/modular-scale/
  --font-size-m: calc(#{fonts.$base} + #{fonts.$viewport-sprinkle});
  --font-size-m: clamp(
    1rem,
    #{fonts.$base} + #{fonts.$viewport-sprinkle},
    1.4rem
  );
  --font-size-s: calc(var(--font-size-m) / #{fonts.$scale});
  --font-size-xs: calc(var(--font-size-s) / #{fonts.$scale});
  --font-size-l: calc(var(--font-size-m) * #{fonts.$scale});
  --font-size-xl: calc(var(--font-size-l) * #{fonts.$scale});
  --font-size-xxl: calc(var(--font-size-xl) * #{fonts.$scale});
  --font-size-xxxl: calc(var(--font-size-xxl) * #{fonts.$scale});
  --font-size-xxxxl: calc(var(--font-size-xxxl) * #{fonts.$scale});

  --layout-max: 60rem;

  // Color ingredients
  --sat: 50%; // Rebecca Purple
  --sat-step: 4%;
  --lum: 40%; // Rebecca Purple
  --lum-step: 7%;

  // Colors
  --color-primary: hsl(var(--hue), var(--sat), var(--lum));
  --color-complementary: hsl(calc(var(--hue) + 180), var(--sat), var(--lum));

  @for $i from 1 through 7 {
    --color-primary-lighter-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) - #{$i} * var(--sat-step)),
      calc(var(--lum) + #{$i} * var(--lum-step))
    );
    --color-primary-darker-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) - #{$i} * var(--sat-step)),
      calc(var(--lum) - #{$i} * var(--lum-step))
    );
  }

  --color-link: var(--color-primary-darker-3);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-3);

  --color-link-hover: #fff;
  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: none;

  --color-meta: #666;
  --color-meta-decoration: #999;

  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(59, 100%, 88%);
}
