@use 'colors';

:root {
  --gap: 1rem;
  --gap2: calc(2 * var(--gap));
  --gap3: calc(3 * var(--gap));

  --flow-space: 1em;

  // --font-family-serif: NotoSerif, Georgia, 'Times New Roman', Times, serif;
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  // --font-family-monospace: 'Fira Code', 'Courier New', Courier, monospace;
  --font-family-monospace: 'Courier New', Courier, monospace;

  --font-size-base: 0.9rem;
  --font-size-responsive: 0.5vw;
  --font-size-scale: 1.2;

  // https://every-layout.dev/rudiments/modular-scale/
  --font-size-m: calc(var(--font-size-base) + var(--font-size-responsive));
  --font-size-m: min(
    calc(var(--font-size-base) + var(--font-size-responsive)),
    1.4rem
  );
  --font-size-s: calc(var(--font-size-m) / var(--font-size-scale));
  --font-size-xs: calc(var(--font-size-s) / var(--font-size-scale));
  --font-size-l: calc(var(--font-size-m) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-l) * var(--font-size-scale));
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-size-scale));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--font-size-scale));
  --font-size-xxxxl: calc(var(--font-size-xxxl) * var(--font-size-scale));

  // --layout-max: calc(50 * var(--font-size-m));
  --layout-max: 60rem;

  // Color ingredients
  --hue: 270;
  --sat: 50%;
  --sat-step: 4%;
  --lum: 40%;
  --lum-step: 7%;

  // Colors
  // Rebecca Purple:
  //   https://www.economist.com/babbage/2014/06/23/the-colour-purple
  --color-primary: hsl(var(--hue), var(--sat), var(--lum));

  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
  --color-secondary: hsl(22, 100%, 46%);

  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-6);

  --color-link-hover: #fff;
  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: none;

  --color-meta: #666;
  --color-meta-decoration: #999;

  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(59, 100%, 88%);

  --border-width: 0.15em;

  @for $i from 1 through 7 {
    --color-primary-lighter-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) - #{$i} * var(--sat-step)),
      calc(var(--lum) + #{$i} * var(--lum-step))
    );
    --color-primary-darker-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) - #{$i} * var(--sat-step)),
      calc(var(--lum) - #{$i} * var(--lum-step))
    );
  }
}
