// ************************************************************
// Print styles
// ************************************************************

@media print {
  @page {
    margin: 2cm;
  }

  a,
  blockquote,
  table,
  pre,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-inside: avoid;
  }

  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  a[href^='http']:after {
    content: ' &lt; ' attr(href) '&gt; ';
  }
}
