#header {
  white-space: nowrap;
  font-size: var(--font-size-l);
  margin: 0;
  padding: 0;

  color: #fff;
  background: $color-primary;
  border-bottom: solid 2px $color-primary-lighter-2;

  .wrap {
    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > *:first-child {
        flex: 1;
      }
    }
  }

  .site_title {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3;
    letter-spacing: -0.02em;

    margin: 0;
    color: #fff;

    &:last-child {
      text-align: right;
    }
  }

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
    mix-blend-mode: normal;
  }

  .offline_indicator a {
    display: inline-block;
    line-height: 1;
    padding: 0.4em;
  }
}
