// ************************************************************
// Base colors
// ************************************************************

$color-blue: #39f;
$color-red: #f33;
$color-lightgrey: #eee;
$color-grey: #bbb;
$color-darkgrey: #555;

$color-twitter: #1da1f2;
