{{#prettify}}
<!DOCTYPE HTML>
<!--[if lte IE 8]><html class="no-js oldie" lang="fr" xmlns:og="http://opengraphprotocol.org/schema/"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="fr" xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}" />
		<meta name="keywords" content="{{ keywords }}" />
		{{> head }}
	</head>
	<body>
		<div class="layout">
			<div class="layout__main">
				<main>
					{{> body }}
				</main>
				<footer>
					{{> footer }}
				</footer>
			</div>
			<div class="layout__header">
				<header>
					{{> header }}
				</header>
			</div>
			<a href="#header" class="layout__header__toggle"><figure>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40.006px" height="40.007px" viewBox="0 0 40.006 40.007" xml:space="preserve">
					<path fill="#fff" d="M37.324,30.003c-5.522,9.566-17.755,12.843-27.32,7.32   C0.438,31.801-2.84,19.569,2.683,10.003C8.206,0.438,20.438-2.84,30.003,2.683C39.569,8.206,42.847,20.438,37.324,30.003z    M28.003,6.147c-7.653-4.418-17.438-1.796-21.856,5.856c-4.418,7.653-1.796,17.438,5.856,21.856 c7.652,4.418,17.438,1.796,21.856-5.856C38.278,20.351,35.656,10.565,28.003,6.147z M18.932,27.075 c-0.781,0.781-2.047,0.781-2.829,0l0,0c-0.781-0.781-0.781-2.047,0-2.829l4.243-4.243l-4.243-4.243 c-0.781-0.781-0.781-2.047,0-2.828l0,0c0.781-0.781,2.047-0.781,2.829,0l5.656,5.656c0,0,0,0,0,0l0,0 c0.781,0.781,0.781,2.047,0,2.828L18.932,27.075z"/>
				</svg>
				<figcaption>menu</figcaption>
			</figure></a>
		</div>
		<script>/*<![CDATA[*/
		(function(d) {
			var toggle = d.querySelector('.layout__header__toggle'),
				body = d.querySelector('body');
			toggle.addEventListener('click', function (event) {
				event.preventDefault();
				body.className = body.className === 'open' ? '' : 'open';
			});
		})(document);
		/*]]>*/</script>
	</body>
</html>
{{/prettify}}
