<!-- nomicrotypo -->
<head{% if page.title == "Accueil" %} itemscope itemtype="http://schema.org/WebSite"{% endif %}>
  {% comment %}
  charset and viewport first: http://www.nateberkopec.com/2015/10/21/hacking-head-tags-for-speed-and-profit.html
  {% endcomment %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% include_cached assets.html %}

  {% comment %} opengraph and Twitter {% endcomment %}
  <meta property="og:site_name" content="Nicolas Hoizey" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@nhoizey" />
  <meta name="twitter:site" content="@nhoizey" />

  {% comment %} https://dev.twitter.com/web/overview/widgets-webpage-properties#csp {% endcomment %}
  <meta name="twitter:widgets:csp" content="on" />

  {% if page.title == "Accueil" %}
    {% assign title='Nicolas Hoizey' %}
    {% assign description=site.description %}
    <title itemprop="name">{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <link rel="canonical" href="{{ site.url }}" itemprop="url" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
  {% else %}
    {% if page.layout == "link" %}
      {% capture title %}{% include_cached link-title.html page=page %}{% endcapture %}
      {% capture description %}{{ page.content | strip_html | truncatewords: 150 | truncate: 290 | strip_newlines | escape_once }}{% endcapture %}
      <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
      <meta property="og:type" content="article" />
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
      <meta property="article:author" content="https://www.facebook.com/nhoizey" />
      {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% else %}
      {% if page.type == "year" %}
        {% capture title %}Articles from year {{ page.date | date: "%Y" }}{% endcapture %}
        {% capture description %}Articles published by Nicolas Hoizey in {{ page.date | date: "%Y" }}{% endcapture %}
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type" content="website" />
      {% else %}
        {% if page.type == "month" %}
          {% capture title %}Articles from {% include_cached mois.html date=page.date %} {{ page.date | date: "%Y" }}{% endcapture %}
          {% capture description %}Articles published by Nicolas Hoizey in {% include_cached mois.html date=page.date %} {{ page.date | date: "%Y" }}{% endcapture %}
          <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
          <meta property="og:type" content="website" />
        {% else %}
          {% if page.tag %}
            {% capture title %}{{ page.tag }}{% endcapture %}
            {% capture description %}Articles published by Nicolas Hoizey with the tag ”{{ page.tag }}”{% endcapture %}
            <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
            <meta property="og:type" content="website" />
          {% else %}
            {% capture title %}{{ page.title }}{% endcapture %}
            {% capture description %}{{ page.excerpt | strip_html | truncatewords: 150 | truncate: 290 | strip_newlines | escape_once }}{% endcapture %}
            <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
            <meta property="og:type" content="article" />
            <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
            <meta property="article:author" content="https://www.facebook.com/nhoizey" />
            {% for tag in page.tags %}
              <meta property="article:tag" content="{{ tag }}" />
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
    <title>{{ title }} &ndash; Nicolas Hoizey</title>
    <meta property="og:title" content="{{ title }}" />
  {% endif %}
  <meta name="description" content="{{ description }}" />
  <meta property="og:description" content="{{ description }}" />

  {% comment %}
  https://developers.facebook.com/docs/sharing/best-practices?locale=fr_FR#images
  https://developers.facebook.com/tools/debug/sharing/
  {% endcomment %}
  {% assign og_image_width = 1200 %}
  {% assign og_image_height = 630 %}
  <meta property="og:image" content="{% include social-image-url.html page=page width=og_image_width height=og_image_height %}?{{ site.time | date: '%Y%m%d%H%M%S' }}" />
  <meta property="og:image:width" content="{{ og_image_width }}" />
  <meta property="og:image:height" content="{{ og_image_height }}" />

  <link rel="alternate" type="application/rss+xml" title="Feed for articles" href="/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="Feed for links" href="/atom-links.xml" />
  <link rel="icon" type="image/jpeg" href="/favicon.jpg" />

  {% comment %} webmentions with webmention.io {% endcomment %}
  <link rel="pingback" href="https://webmention.io/nicolas-hoizey.com/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/nicolas-hoizey.com/webmention" />

  {% comment %} iOS features {% endcomment %}
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="/favicon.jpg" />
  <meta name="apple-mobile-web-app-title" content="N. Hoizey" />
  {% comment %} https://timkadlec.com/remembers/2018-06-06-web-watch/ {% endcomment %}
  <meta name="disabled-adaptations" content="watch" />

  {% comment %} Theme color: https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android {% endcomment %}
  <meta name="theme-color" content="#663399">

  {% comment %} web app manifest {% endcomment %}
  <link rel="manifest" href="/manifest.webmanifest" />

  {% comment %} rel-me (should be in visible links) {% endcomment %}
  <link rel="me" href="https://twitter.com/nhoizey" />
  <link rel="me" href="https://github.com/nhoizey" />

  {% comment %} Algolia settings {% endcomment %}
  <script>
  var algoliaApplicationId = '{{ site.algolia.application_id }}';
  var algoliaApiKey = '{{ site.algolia.read_only_api_key }}';
  var algoliaIndexName = '{{ site.algolia.index_name }}';
  </script>
</head>
<!-- endnomicrotypo -->
