{% if include.page.poster %}
  {% capture poster_image %}{{ site.url }}{{ include.page.url | url_path }}{{ include.page.poster }}{% endcapture %}
{% else %}
  {% capture poster_image %}{% include first-image-src.html page=include.page %}{% endcapture %}
{% endif %}
{% if poster_image != "" %}
  <img
    src="https://res.cloudinary.com/nho/image/fetch/w_250,h_250,c_limit,q_auto,f_auto/{{ poster_image }}"
    srcset="https://res.cloudinary.com/nho/image/fetch/w_250,h_250,c_limit,q_auto,f_auto/{{ poster_image }} 250w, https://res.cloudinary.com/nho/image/fetch/w_500,h_500,c_limit,q_auto,f_auto/{{ poster_image }} 500w"
    sizes="(min-width: 50rem) 13rem, 23vw"
    class="poster" />
{% else %}
  <!-- no poster image -->
{% endif %}
