{% assign year = include.page.date | date: "%Y" %}
<footer>
  <ul>
    <li class="date">
      <svg class="icon"><use xlink:href="#symbol-date" /></svg>
      {% if include.page.lang == 'en' %}
        <a href="/{{ include.page.date | date: "%Y/%m" }}/">{{ include.page.date | date: "%B" }}</a>&nbsp;
        {{ include.page.date | date: "%-d" }},
        <a href="/{{ year }}/">{{ year }}</a>
      {% else %}
        {{ include.page.date | date: "%-d" }}
        <a href="/{{ include.page.date | date: "%Y/%m" }}/">{% include_cached mois.html date=include.page.date %}</a>
        <a href="/{{ year }}/">{{ year }}</a>
      {% endif %}
    </li>
    <li class="tags">
      <svg class="icon"><use xlink:href="#symbol-tags" /></svg>
      {{ include.page | tags }}
    </li>
    {% capture webmention_count_value %}{% webmention_count include.page.url %}{% endcapture %}
    {% assign webmention_count_int = webmention_count_value | strip_html | plus: 0 %}
    {% if webmention_count_int > 0 %}
      <li class="webmentions">
        <svg class="icon"><use xlink:href="#symbol-webmentions" /></svg>
        <a href="{{ include.page.url }}#webmentions">{{ webmention_count_int }} webmention{% if webmention_count_int > 1 %}s{% endif %}</a>
      </li>
    {% endif %}
  </ul>
</footer>
