<form id="search" method="get" action="http://www.google.com/search">
  <input id="search_sites" type="hidden" name="as_sitesearch" value="nicolas-hoizey.com" />
  <p>
    <input name="q" type="search" placeholder="Que cherchez vous ?" spellcheck="false" autocorrect="off" autocomplete="off" />
    <input id="search_button" type="submit" value="go" />
  </p>
</form>
<div id="posts" class="list results"></div>

<script type="text/javascript">
var sites = window.document.querySelector("#search_sites"),
    button = window.document.querySelector("#search_button");
sites.parentNode.action = "";
sites.parentNode.removeChild(sites);
button.parentNode.removeChild(button);
</script>

<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<script type="text/javascript">
var algolia = algoliasearch("{{ site.algolia.application_id }}", "{{ site.algolia.search_only_api_key }}");
var index = algolia.initIndex("{{ site.algolia.index_name }}");
var $input = $("#search input[type=search]");
var searchSettings = {
      hitsPerPage: 50,
      facets: '*',
      attributesToHighlight: "title,tags",
      attributesToSnippet: "content:20"
    };

// A search query may come from the URL query string
var query = getParameterByName("q");
if (query.length > 0) {
  $input.val(query);
  if (query.length > 1) {
    index.search(query, searchSettings, searchCallback);
  }
}

// A search query may come from the user typing in the search field
$input.keyup(function() {
  if ($input.val().length > 1) {
    index.search($input.val(), searchSettings, searchCallback);
  } else {
    $("#posts").empty();
  }
}).focus();

// Search callback function that shows the results
function searchCallback(err, content) {
  if (content.query !== $("#search input[type=search]").val()) {
    // If we receive a result for an old query, abort
    return;
  }

  var months = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
  var $posts = $("#posts");
  $posts.empty();

  if (err) {
    console.error(err);
    return;
  }

  if (content.nbHits === 0) {
    $posts.append("<p>Aucun résultat, veuillez modifier votre recherche.</p>");
    return;
  }

  $posts.append("<p class=\"nb\">" + content.nbHits + " résultat" + (content.nbHits > 1 ? "s" : ""));

  var hit, post, post_date, post_tags, post_tags_match;
  for (var i = 0; i < content.hits.length; i++) {
    hit = content.hits[i];

    // Build the date to show
    post_date = hit.date;
    post_date = post_date.replace(/^[0-9]{4}-[0-9]{2}-([0-9]{2}).*$/g, "$1") + " " +months[parseInt(post_date.replace(/^[0-9]{4}-([0-9]{2}).*$/g, "$1"), 10) - 1] + " " + post_date.replace(/^([0-9]{4}).*$/g, '$1');

    // Build the tags list
    post_tags = "";
    post_tags_match = "none";
    for (var j = 0; j < hit._highlightResult.tags.length; j++) {
      post_tags = post_tags + ", " + hit._highlightResult.tags[j].value;
      if (hit._highlightResult.tags[j].matchLevel !== "none") {
        post_tags_match = hit._highlightResult.tags[j].matchLevel;
      }
    }
    post_tags = post_tags.replace(/^, /, "");

    post = "<article><header><dl><dt>Date</dt><dd class=\"date\">" + post_date + "</dd><dt>Tags</dt><dd class=\"tags\">" + post_tags + "</dd></dl></header><h2><a href=\"" + hit.url + "\">" + hit._highlightResult.title.value + "</a></h2>";

    if (post_tags_match === "none" && hit._highlightResult.title.matchLevel === "none" && hit._snippetResult.content.matchLevel !== "none") {
      post += "<p>…&nbsp;" + hit._snippetResult.content.value + "&nbsp;…</p>";
    }

    post += "</article>";
    $posts.append(post);
  }
}

// Utility function to get the search query from the URL query string
{% comment %} http://stackoverflow.com/a/901144/717195 {% endcomment %}
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
