<form id="search" method="get" action="https://www.google.com/search">
  <input id="search_sites" type="hidden" name="as_sitesearch" value="nicolas-hoizey.com" />
  <p>
    <input name="q" type="search" placeholder="Que cherchez vous ?" spellcheck="false" autocorrect="off" autocomplete="off" />
    <input id="search_button" type="submit" value="go" />
  </p>
</form>
<div id="results" class="list results"></div>
<p id="powered-by-algolia"><a href="https://nicolas-hoizey.com/2015/06/la-recherche-dans-du-statique-facile-avec-algolia.html">Propulsé par l'excellent {% asset Algolia_logo_bg-white.svg %}</a></p>

<!-- nomicrotypo -->
<script type="text/javascript">
var sites = window.document.querySelector("#search_sites"),
    button = window.document.querySelector("#search_button");
sites.parentNode.action = "";
sites.parentNode.removeChild(sites);
button.parentNode.removeChild(button);

{% asset vendors/jquery-3.1.0 %}
{% asset vendors/algoliasearchLite-3.18.0 %}

var algolia = algoliasearch("{{ site.algolia.application_id }}", "{{ site.algolia.read_only_api_key }}");
var index = algolia.initIndex("{{ site.algolia.index_name }}");
var $input = $("#search input[type=search]");
var searchSettings = {
      hitsPerPage: 50,
      facets: '*',
      attributesToHighlight: "title,tags",
      attributesToSnippet: "content:20"
    };

// A search query may come from the URL query string
var query = getParameterByName("q");
if (query.length > 0) {
  $input.val(query);
  if (query.length > 1) {
    index.search(query, searchSettings, searchCallback);
  }
}

// A search query may come from the user typing in the search field
$input.keyup(function() {
  if ($input.val().length > 1) {
    history.pushState(null, null, 'recherche.html?q=' + $input.val());
    index.search($input.val(), searchSettings, searchCallback);
  } else {
    history.pushState(null, null, 'recherche.html');
    $("#results").empty();
  }
}).focus();

// Search callback function that shows the results
function searchCallback(err, content) {
  if (content.query !== $("#search input[type=search]").val()) {
    // If we receive a result for an old query, abort
    return;
  }

  var months = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];
  var $results = $("#results");
  $results.empty();

  if (err) {
    console.error(err);
    return;
  }

  var resultsNumber = content.hits.length;

  if (resultsNumber === 0) {
    $results.append("<p>Aucun résultat, veuillez modifier votre recherche.</p>");
    return;
  }

  $results.append("<p class=\"nb\">" + resultsNumber + " résultat" + (resultsNumber > 1 ? "s" : ""));

  var hit, post, post_date, post_tags, post_tags_match;
  for (var i = 0; i < resultsNumber; i++) {
    hit = content.hits[i];

    if (hit.layout == "post") {
      // Build the date to show
      post_date = hit.date;
      post_date = post_date.replace(/^[0-9]{4}-[0-9]{2}-([0-9]{2}).*$/g, "$1").replace(/^0/, "") + " " + months[parseInt(post_date.replace(/^[0-9]{4}-([0-9]{2}).*$/g, "$1"), 10) - 1] + " " + post_date.replace(/^([0-9]{4}).*$/g, "$1");

      // Build the tags list
      post_tags = "";
      post_tags_match = "none";
      for (var j = 0; j < hit._highlightResult.tags.length; j++) {
        post_tags = post_tags + ", " + hit._highlightResult.tags[j].value;
        if (hit._highlightResult.tags[j].matchLevel !== "none") {
          post_tags_match = hit._highlightResult.tags[j].matchLevel;
        }
      }
      post_tags = post_tags.replace(/^, /, "");

      post = "<article><h2><a href=\"" + hit.url + "\">" + hit._highlightResult.title.value + "</a></h2><header><ul><li class=\"date\"><svg class=\"icon\"><use xlink:href=\"#symbol-date\" /></svg> " + post_date + "</li><li class=\"tags\"><svg class=\"icon\"><use xlink:href=\"#symbol-tags\" /></svg> " + post_tags + "</li></ul></header>" + (hit.text ? "<p>… " + hit.text + " …</p>" : "") + "</article>";

      $results.append(post);
    }

    if (hit.layout == "page") {
      page = "<article><h2><a href=\"" + hit.url + "\">" + hit._highlightResult.title.value + "</a></h2>" + (hit.text ? "<p>… " + hit.text + " …</p>" : "") + "</article>";

      $results.append(page);
    }
  }
}

// Utility function to get the search query from the URL query string
{% comment %} http://stackoverflow.com/a/901144/717195 {% endcomment %}
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
<!-- endnomicrotypo -->
