<form id="search" method="get" action="https://www.google.com/search">
  <input id="search_sites" type="hidden" name="as_sitesearch" value="nicolas-hoizey.com" />
  <p>
    <input id="search_input" name="q" type="search" placeholder="Que cherchez vous ?" spellcheck="false" autocorrect="off" autocomplete="off" />
    <input id="search_button" type="submit" value="go" />
  </p>
</form>
<div id="search_results" class="list results"></div>
<p id="powered-by-algolia"><a href="/2015/06/la-recherche-dans-du-statique-facile-avec-algolia.html">Propulsé par l'excellent {% asset algolia-logo.svg %}</a></p>
