{%- assign image_width = 1200 -%}
{%- assign image_height = 630 -%}
{%- assign icon = '' -%}
{%- assign icon_part = '' -%}
{%- if include.page.title == 'Homepage' -%}
  {%- assign title = site.description -%}
{%- elsif include.page.title == 'Search' -%}
  {%- assign title = 'Search powered by Algolia' -%}
  {%- assign icon = 'search' -%}
{%- elsif page.tag -%}
  {%- assign icon = 'tag' -%}
{%- else -%}
  {%- assign title = include.page.title -%}
  {%- if include.page.layout == 'post' -%}
    {%- assign icon = 'article' -%}
  {%- elsif include.page.layout == 'link' -%}
    {%- assign icon = 'link' -%}
  {%- endif -%}
{%- endif -%}
{%- assign title = title | url_escape | replace: ' ', '%20' | replace: '.', '%2e' | replace: ',', '%252C' | replace: ':', '%253A' | replace: '/', '%252F' | replace: "'", '%E2%80%99' | replace: '?', '%3F' | replace: '#', '%23' -%}
{%- assign background_image = site.url | append: '/assets/opengraph-background.png' -%}
{%- assign padding = 50 -%}
{%- assign padding_right = 50 -%}
{%- if icon != '' -%}
  {%- assign padding_right = 150 -%}
  {%- assign icon_image = site.url | append: '/assets/opengraph/' | append: icon | append: '.png' -%}
  {%- capture icon_part %}l_fetch:{{ icon_image | base64_encode }},g_north_east,c_fill,w_{{ padding_right }},h_{{ padding_right }}/{%- endcapture -%}
{%- endif %}
{%- assign font = "Noto%20Serif" -%}
{%- assign font_size = 70 -%}
{%- capture title_with_shadow -%}w_{{ image_width | minus: padding | minus: padding_right }},c_fit,l_text:{{ font }}_{{ font_size }}:{{ title }},g_north_west,x_{{ padding | plus: 2 }},y_{{ padding | plus: 2 }},co_white,o_50/w_{{ image_width | minus: padding | minus: padding_right }},c_fit,l_text:{{ font }}_{{ font_size }}:{{ title }},g_north_west,x_{{ padding }},y_{{ padding }},co_black{%- endcapture -%}
https://res.cloudinary.com/nho/image/fetch/{{ icon_part }}{{ title_with_shadow }}/{{ background_image }}