{% assign image_width = include.width
%}{% assign image_height = include.height
%}{% assign avatar = "https://nicolas-hoizey.com/assets/photo-de-nicolas-hoizey.jpg"
%}{% assign twitter_logo = "https://nicolas-hoizey.com/assets/logos/twitter.png"
%}{% comment %} Get the first image in the page {% endcomment
%}{% if include.page.poster
%}{% capture image %}{{ site.url }}{{ include.page.url | url_path }}{{ include.page.poster }}{% endcapture
%}{% else
%}{% comment %} Get the first image in the page {% endcomment
%}{% assign image = include.page.content | first_image_url
%}{% endif
%}{% if image == ""
%}{% assign image = site.url | append:'/assets/degrade.png'
%}{% endif
%}{% if include.page.title == 'Accueil'
%}{% assign title = site.description
%}{% elsif include.page.title == 'Recherche'
%}{% assign title = 'Moteur de recherche propulsé par Algolia'
%}{% elsif include.page.layout == 'note'
%}{% capture title %}{{ include.page.content | strip_html | truncatewords: 30 | truncate: 160 | strip_newlines | escape_once }}{% endcapture %}{% else
%}{% assign title = include.page.title
%}{% endif
%}{% assign title = title | url_escape | replace: ' ', '%20' | replace: '.', '%2e' | replace: ',', '%252C' | replace: ':', '%253A' | replace: '/', '%252F' | replace: "'", '%E2%80%99' | replace: '?', '%3F' | replace: '#', '%23'
%}{% capture background_image %}e_blur:2000,c_crop,ar_{{ image_width }}:{{ image_height }},b_white/e_grayscale/w_{{ image_width }}/l_fetch:{{ image | base64_encode }},h_1.0,w_1.0,fl_relative,c_limit{% endcapture
%}{% capture color_overlay %}b_rgb:3d2e68,o_40{% endcapture
%}{% capture title_with_shadow %}w_{{ image_width | minus: 80 }},c_fit,l_text:georgia_60:{{ title }},g_north_west,x_42,y_42,co_black,o_50/w_{{ image_width | minus: 80 }},c_fit,l_text:georgia_60:{{ title }},g_north_west,x_40,y_40,co_white{% endcapture
%}{% capture website %}l_text:georgia_50:nicolas-hoizey.com,g_south_west,x_41,y_40,co_black/l_text:georgia_50:nicolas-hoizey.com,g_south_west,x_40,y_41,co_white{% endcapture
%}{% capture twitter %}l_fetch:{{ twitter_logo | base64_encode }},g_south_east,x_220,y_40,c_fill,w_50,r_max/l_text:georgia_50:nhoizey,g_south_east,x_40,y_40,co_black/l_text:georgia_50:nhoizey,g_south_east,x_41,y_41,co_white{% endcapture
%}https://res.cloudinary.com/nho/image/fetch/{{ background_image }}/{{ color_overlay }}/{{ title_with_shadow }}/{{ website }}/{{ twitter }}/{{ image }}