---
layout: page
pagination:
  data: collections.linksByMonth
  size: 1
  alias: month
permalink: "links/{{ month }}/"
eleventyComputed:
  title: Links published in {{ month | monthString }}
---

{% from "macros/linkCard.njk" import linkCard %}

<ul class="grid">
  {% for link in collections.linksByMonth[month] %}
    <li class="card">
      {{ linkCard(link) }}
    </li>
  {% endfor %}
</ul>

<p class="pagination">
  Pages:
  {% set separator = joiner(", ") %}
  {%- for pageEntry in pagination.pages %}
    {{ separator() }}
    {% if page.url == pagination.hrefs[loop.index0] %}
      <strong>{{ pageEntry }}</strong>
    {% else %}
      <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ pageEntry }}</a>
    {% endif %}
  {%- endfor %}
</p>
