---
layout: page
pagination:
  data: collections.linksByYear
  size: 1
  alias: year
permalink: "links/{{ year }}/"
eleventyComputed:
  title: Links published in {{ year }}
---

{% from "macros/linkCard.njk" import linkCard %}

<ul class="grid">
  {% for link in collections.linksByYear[year] %}
    <li class="card">
      {{ linkCard(link) }}
    </li>
  {% endfor %}
</ul>

<p class="pagination">
  Years:
  {% set separator = joiner(", ") %}
  {%- for pageEntry in pagination.pages %}
    {{ separator() }}
    {% if page.url == pagination.hrefs[loop.index0] %}
      <strong>{{ pageEntry }}</strong>
    {% else %}
      <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ pageEntry }}</a>
    {% endif %}
  {%- endfor %}
</p>
