---
layout: false
pagination:
  data: collections.linksByMonth
  size: 1
  alias: month
permalink: "links/{{ month }}/"
eleventyComputed:
  title: Links published in {{ month | monthString }}
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/archives.njk" %}
