---
layout: default
title: Links
---

<h1 class="list__title">Links</h1>
<ul class="list">
  {% for link in site.categories['links'] limit:6 %}
    <li class="list__item">
      <div class="card card--link">
        {% include components/link-card.njk link=link lazy="off" %}
      </div>
    </li>
  {% endfor %}
  {% for link in site.categories['links'] offset:6 %}
    <li class="list__item">
      <div class="card card--link">
        {% include components/link-card.njk link=link lazy="on" %}
      </div>
    </li>
  {% endfor %}
</ul>