---
layout: default
title: Links
eleventyExcludeFromCollections: true
---

{% from "macros/linkCard.njk" import linkCard %}

<h2>Latest links</h2>
<ul class="list">
  {% for link in collections.links | limit(6) %}
    <li class="list__item">
      <div class="card card--link h-entry">
        {{ linkCard(link.data.title, link.url, link.data.link, link.data.authors, link.date, link.data.tags, webmentions) }}
      </div>
    </li>
  {% endfor %}
</ul>

<h2>Browse all links</h2>
<p class="pagination">
  Years:
  {% set separator = joiner(", ") %}
  {% for linkYear in collections.yearsWithLinks %}
    {{ separator() }}
    <a href="/links/{{ linkYear }}/">{{ linkYear }}</a>
  {%- endfor %}
</p>

