---
layout: null
permalink: /feeds/twitter/billets.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "Billets - Nicolas Hoizey",
  "home_page_url": "{{ pkg.homepage }}/billets/",
  "feed_url": "{{ pkg.homepage }}/feeds/twitter/billets.json",
  "items": [
  {% for entry in collections.billets | limit(20) %}
    {%- set absoluteEntryUrl -%}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{%- endset -%}
    {
      "id": "{{ absoluteEntryUrl }}",
      "url": "{{ absoluteEntryUrl }}",
      "title": "📓 {{ entry.data.body.title }}",
      "date_published": "{{ entry.date | rssDate }}",
      "content_text": "📓 {{ entry.data.body.title }}\n\n{{ entry.templateContent | excerpt | truncateHtml(150) | striptags | safe }}\n\n{{ absoluteEntryUrl }}",
      "attachments": {{ entry.template.frontMatter.content | imagesAsAttachments(absoluteEntryUrl) | safe }}
    }{%- if not loop.last -%},{%- endif -%}
  {% endfor %}
  ]
}
