---
layout: null
permalink: /feeds/twitter/links-with-image.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Nicolas Hoizey - Links</title>
  <link href="{{ pkg.homepage }}/links/" />
  <updated>{{ collections.links | rssLastUpdatedDate }}</updated>
  <id>{{ pkg.homepage }}/links/</id>
  <author>
    <name>{{ pkg.author.name }}</name>
    <email>{{ pkg.author.email }}</email>
  </author>
  {% for entry in collections.links | limit(50) %}
    {%- set absoluteEntryUrl -%}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{%- endset -%}
    <entry>
      <title>🔗 "{{ entry.data.title}}"</title>
      <link href="{{ absoluteEntryUrl }}"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html"><![CDATA[🔗 "{{ entry.data.title}}"
        <br />
        {%- set by = false -%}
        {%- if entry.data.authors -%}
          {%- for author in entry.data.authors -%}
            {%- if author.twitter -%}
              {%- if by == false -%}
                by
                {%- set by = true -%}
              {%- endif %}
              @{{ author.twitter }}
            {%- endif -%}
          {%- endfor -%}
        {%- endif %}
        <br /><br />
        {% for tag in entry.data.tags -%}#{{ tag | tagToHashtag }} {% endfor %}
        <br /><br />
        https://nho.io/l/{{ entry.url | replace("/links/", "") }}
        <br /><br />
        <img src="https://image.thum.io/get/width/1200/crop/800/noanimate/{{ entry.data.link }}" width="600" height="400" />
        ]]></content>
    </entry>
  {% endfor %}
</feed>
