{% from "macros/meta.njk" import meta %}
{% from "macros/card.njk" import card %}

{% macro articleCard(article) %}
  {% set content %}
  {{ article.templateContent | excerpt | striptags | safe }}
  {% endset %}

  {% set meta %}
  {{ meta(article) }}
  {% endset %}

  {{ card(
    type = 'article',
    lang = article.data.lang,
    title = article.data.title,
    url = article.url,
    content = content,
    meta = meta) }}
{% endmacro %}
