{% macro articleCard(article) %}
  <article class="card h-entry">
    <p class="card__title p-name">
      <a href="{{ article.url }}" hreflang="{{ article.data.lang }}" class="u-url">{{ article.data.title }}</a>
    </p>
    <p class="card__text p-summary">{{ article.templateContent | excerpt | safe }}</p>
    {% from "macros/meta.njk" import meta %}
    {{ meta(article) }}
  </article>
{% endmacro %}
