{% macro card(type = false, lang = 'en', surtitle = false, title = false, url = false, illustration = false, content = false, meta = false) %}
  <article class="card {{ type or '' }} h-entry" lang="{{ lang }}">
    {% if illustration %}
      <figure class="card__illustration">
        <img
      alt="{{ illustration.alt }}"
      width="{{ illustration.width }}"
      height="{{ illustration.height }}"
      src="{{ illustration.src }}"
      {% if illustration.classes %}class="{{ illustration.classes }}"{% endif %}
      crossorigin="anonymous" />
      </figure>
    {% endif %}
    {% if surtitle %}
      <p class="card__surtitle">{{ surtitle | safe }}</p>
    {% endif %}
    {% if title %}
      <p class="card__title">
        <a href="{{ url }}">{{ title }}</a>
      </p>
    {% endif %}
    {% if content %}
      <div class="card__text">
        {{ content | safe }}
      </div>
    {% endif %}
    {% if meta %}
      <div class="card__meta">
        {{ meta | safe }}
      </div>
    {% endif %}
  </article>
{% endmacro %}
