{% macro linkCard(title, url, link, authors, date, tags, webmentions) %}

  {% set thumbUrl = 'https://image.thum.io/get/width/1200/crop/800/noanimate/' %}
  <figure class="card__image">
    <img
      alt="screenshot of {{ title }}"
      width="300"
      height="200"
      src="{{ thumbUrl }}{{ link }}"
      class="vignette"
      crossorigin="anonymous" />
  </figure>
  {% if authors %}
    <p class="card__source">
      {%- for author in authors -%}
        {%- if not loop.first -%}
          {%- if not loop.last -%},&ensp;{%- else -%}&ensp;and&ensp;{%- endif -%}
        {%- endif -%}
        {%- if author.twitter -%}
          <img class="u-photo smallavatar" src="https://avatars.io/twitter/{{ author.twitter }}/large" alt="{{ author.name }} avatar" width="24" height="24"/>&ensp;
        {%- endif -%}
        {{- author.name -}}
      {%- endfor -%}
      &ensp;wrote
    </p>
  {% endif %}
  <p class="card__title">
    <a href="{{ url }}">{{ title }}</a>
  </p>

  {% from "macros/meta.njk" import meta %}
  {{ meta(url, date, tags, 'links', webmentions) }}

{% endmacro %}
