{% macro meta(item, permalink = false) %}
  <ul class="meta">
    <li class="permalink meta__item meta__author h-card u-author">
      {% icon "author", "Author" %}
      <a href="https://nicolas-hoizey.com/" class="u-url p-name">Nicolas Hoizey</a>
    </li>
    {% if item.date %}
      <li class="date meta__item meta__date">
        {% icon "date", "Date" %}
        <time class="dt-published" datetime="{{ item.date | isoDate }}">
          {{ item.date | formattedDate }}
        </time>
      </li>
    {% endif %}
    {% if item.data.location %}
      <li class="date meta__item meta__location">
        {% icon "location", "Location" %}
        {% if item.data.location.url %}
          <a href="{{ item.data.location.url }}">{{ item.data.location.name }}</a>
        {% else %}
          {{ item.data.location.name }}
        {% endif %}
      </li>
    {% endif %}
    {% set tagsSize = item.data.tags | size %}
    {% if tagsSize > 0 %}
      <li class="tags meta__item card__tags">
        {% icon "tags", "Tags" %}
        {% set comma = joiner(", ") %}
        {%- for tag in item.data.tags -%}
          {{ comma() }}
          <a href="/tags/{{ tag | slugify }}/" rel="tag" class="p-category">{{ tag }}</a>
        {%- endfor -%}
      </li>
    {% endif %}
    {# TODO: optimize with add number to the computed FM data? #}
    {% set comments = item.url | getCommentsForUrl %}
    {% set commentsSize = comments | size %}
    {% set webmentions = item.url | getWebmentionsForUrl %}
    {% set webmentionsSize = webmentions | size %}
    {% set reactionsSize = commentsSize + webmentionsSize %}
    {% if reactionsSize > 0 %}
      <li class="reactions meta__item meta__count">
        {% icon "reactions", "Reactions" %}
        <a href="{{ item.url }}#reactions">{{ reactionsSize }} reaction{% if reactionsSize > 1 %}s{% endif %}
        </a>
      </li>
    {% endif %}
    {% if permalink %}
      <li class="permalink meta__item">
        {% icon "link", "Permalink" %}
        <a href="{{ item.url }}" class="u-url">permalink</a>
      </li>
    {% endif %}
  </ul>
{% endmacro %}
