{% macro noteCard(note) %}
  <article class="card h-entry" lang="{{ note.data.lang }}">
    {{ note.templateContent | noteToHtml | absoluteImagePath(note.url) | safe }}
    {% from "macros/meta.njk" import meta %}
    {{ meta(note, permalink=true) }}
  </article>
{% endmacro %}
