{% macro tagsCloud(tags, minFactor=0) %}

{% set minSize = 0.9 %}
{% set maxSize = 1.8 %}
{% set minWeight = 300 %}
{% set maxWeight = 900 %}

<ol class="tagscloud__tags">
{% for tag in tags %}
  {% if tag.factor >= minFactor %}
    {% set tagUrl %}/tags/{{ tag.tag | slugify }}.html{% endset %}
      <li>
        <a href="{{ tagUrl }}"
          class="tag{{ tag.step }}"
          style="
            font-size: {{ (maxSize - minSize) * tag.factor + minSize }}em;
            font-weight: {{ (maxWeight - minWeight) * tag.factor  + minWeight }}"
          rel="tag">{{ tag.tag }}</a>
      </li>
  {% endif %}
{% endfor %}
</ol>

{% endmacro %}
