---
layout: default
---

{% asset "components/archives" @inline %}

<h1>Articles from {{ page.date | date: "%B" }}
  <a href="/{{ page.date | date: "%Y" }}/">{{ page.date | date: "%Y" }}</a>
</h1>

<ul class="list">
  {% for post in page.posts reversed %}
    {% unless 'links' in post.categories %}
      <li class="list__item list__item--large">
        <div class="card card--article">
          {% include components/post-card.njk page=post %}
        </div>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
