---
layout: default
---

{#
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
#}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://nicolas-hoizey.com/{{ page.date | date("YYYY") }}/",
      "name": "{{ page.date | date("YYYY") }}"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://nicolas-hoizey.com/{{ page.date | date("YYYY/MM") }}/",
      "name": "{{ page.date | date("MM") }}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ site.url }}{{ page.url }}",
      "name": "{{ title }}"
    }
  }]
}
</script>

<article
    class="main clearfix h-entry"
    lang="{{ lang }}">
  <h1 id="post" class="card__title p-name">{{ title }}</h1>

  {% from "macros/meta.njk" import meta %}
  {{ meta(page.url, page.date, tags, 'articles', webmentions, permalink=true) }}

  <div class="e-content">{{ content | safe }}</div>

  {% if page.data.flickr or page.data.facebook or page.data.instagram %}
    <div class="socialphoto">
      <p>You'll also find this photo on your favorite service&nbsp;:
        <span>
        {% if page.data.flickr %}
          <a href="{{ page.data.flickr }}" class="icon flickr"><svg><use xlink:href="#symbol-flickr" /></svg></a>
        {% endif %}
        {% if page.data.facebook %}
          <a href="{{ page.data.facebook }}" class="icon facebook"><svg><use xlink:href="#symbol-facebook" /></svg></a>
        {% endif %}
        {% if page.data.instagram %}
          <a href="{{ page.data.instagram }}" class="icon instagram"><svg><use xlink:href="#symbol-instagram" /></svg></a>
        {% endif %}
        </span>
      </p>
    </div>
  {% endif %}

  <p class="edit">If you want to share an error or suggest an enhancement of this content, please edit <a href="https://github.com/nhoizey/nicolas-hoizey.com/tree/master/{{ page.inputPath }}">the source on Github</a>.</p>

  {% include "components/comments.njk" %}

  {% set webmentionUrl = page.url %}
  {% include "components/webmentions.njk" %}
</article>
