---
layout: default
---

{#
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
#}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://nicolas-hoizey.com/articles/{{ page.date | date("YYYY") }}/",
          "name": "{{ page.date | date(" YYYY ") }}"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://nicolas-hoizey.com/articles/{{ page.date | date("YYYY/MM") }}/",
          "name": "{{ page.date | date(" MM ") }}"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ pkg.homepage }}{{ page.url }}",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>

<article
    class="main clearfix h-entry"
    lang="{{ lang }}">
  <h1 id="post" class="p-name">{{ title }}</h1>

  {% set item = {
    data: {
      layout: 'article',
      lang: lang,
      title: title,
      tags: tags,
      webmentions: webmentions,
      comments: comments
    },
    date: page.date,
    url: page.url
  } %}
  {% from "macros/meta.njk" import meta %}
  {{ meta(item) }}

  <div class="e-content">{{ content | safe }}</div>

  {% set articleUrl = page.url %}
  {% include "components/comments.njk" %}
  {% include "components/webmentions.njk" %}
</article>
