---
layout: default
---

{% set newerContent = collections[layout + 's'] | getPreviousCollectionItem(page) %}
{% set olderContent = collections[layout + 's'] | getNextCollectionItem(page) %}

{#
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
#}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://nicolas-hoizey.com/{{ layout }}s/{{ date | date("YYYY") }}/",
          "name": "{{ date | date(" YYYY ") }}"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://nicolas-hoizey.com/{{ layout }}s/{{ date | date("YYYY/MM") }}/",
          "name": "{{ date | date(" MM ") }}"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ pkg.homepage }}{{ page.url }}",
          "name": "{% if layout == 'note' %}Note from {{ page.data.formattedDate }}{% else %}{{ title }}{% endif %}"
        }
      }
    ]
  }
</script>

<article
    class="page h-entry"
    lang="{{ lang }}">

  {% if layout == 'link' and authors %}
    <p class="page__surtitle">{{ authors.html | safe }}</p>
  {% endif %}

  {% if layout == 'note' %}
    <h1 class="page__title p-name">Note from {{ page.data.formattedDate }}</h1>
  {% else %}
    <h1 class="page__title p-name">{{ title | orphans | safe }}</h1>
  {% endif %}

  {% set item = {
    data: {
      layout: layout,
      formattedDate: formattedDate,
      lang: lang,
      title: title,
      tags: tags
    },
    date: date,
    url: page.url
  } %}
  {% from "macros/meta.njk" import meta %}
  <footer class="page__meta">
    {{ meta(item) }}
  </footer>

  <div class="page__body e-content">
    {% if layout == 'link' %}
      <img
        alt="Screenshot of “{{ title }}”"
        width="1200"
        height="800"
        src="https://image.thum.io/get/width/1200/crop/800/noanimate/{{ link }}"
        class="page__illustration u-photo"
        crossorigin="anonymous"
        >
      <p class="link__url">
        <a href="{{ link }}" class="u-bookmark-of">{{ link | replace('_', '_&shy;') | safe }}</a>
      </p>
    {% endif %}
    {% if layout == 'note' %}
      {{ content | noteToHtml | safe }}
    {% else %}
      {{ content | safe }}
    {% endif %}
  </div>

  {% set cssFilename = "component-older-newer.css" %}
  {% include "add-css.njk" %}
  <ul class="older-newer__shortcuts">
    <li class="older-newer__older">
      {% if olderContent %}
        <a href="{{ olderContent.url }}" aria-label="older {{ layout }}">{% icon "older", "Older" %}</a>
      {% endif %}
    </li>
    <li class="older-newer__newer">
      {% if newerContent %}
        <a href="{{ newerContent.url }}" aria-label="newer {{ layout }}">{% icon "newer", "Newer" %}</a>
      {% endif %}
    </li>
  </ul>
  <ul class="older-newer">
    <li class="older-newer__older">
      {% if olderContent %}
        {% icon "older", "Older" %} older {{ layout }}:<br />
        {% if layout == 'note' %}
          <a href="{{ olderContent.url }}">Note from {{ olderContent.data.formattedDate }}</a>
        {% else %}
          <a href="{{ olderContent.url }}">{{ olderContent.data.title }}</a>
        {% endif %}
      {% endif %}
    </li>
    <li class="older-newer__newer">
      {% if newerContent %}
        {% icon "newer", "Newer" %} newer {{ layout }}:<br />
        {% if layout == 'note' %}
          <a href="{{ newerContent.url }}">Note from {{ newerContent.data.formattedDate }}</a>
        {% else %}
          <a href="{{ newerContent.url }}">{{ newerContent.data.title }}</a>
        {% endif %}
      {% endif %}
    </li>
  </ul>
</article>

{% set articleUrl = page.url %}
{% include "components/reactions.njk" %}

