<!DOCTYPE html>
<html lang="en" class="no-js">
  {% set pageExcerpt = content | excerpt %}
  {% include "head.njk" %}

  {% set section = page.outputPath | split('/') %}
  {% set section = section[1] | replace('index.html', 'home') %}
  <body
    itemscope
    itemtype="https://schema.org/{% if "about/" in page.inputPath %}AboutPage{% else %}WebPage{% endif %}"
    class="layout-{{ layout }} section-{{ section }}"
    data-img-src="{{ page.inputPath | dirname }}/"
    data-img-dist="{{ page.outputPath | dirname }}/"
  >

    <a class="visually-hidden" href="#main">Jump to main content</a>

    <header id="header" role="banner">
      <div
        class="wrap">
        {% if page.url == "/" %}
          <h1 class="site_title h-card" rel="me">Nicolas Hoizey</h1>
        {% else %}
          <p class="site_title">
            <a class="h-card" href="/" rel="me" title="Homepage">Nicolas Hoizey</a>
          </p>
        {% endif %}
        <ul class="tools">
          <li><a href="/feeds/"><svg class="icon"><use xlink:href="#symbol-rss" /></svg></a></li>
          <li><a href="/tags/"><svg class="icon"><use xlink:href="#symbol-tag" /></svg></a></li>
          <li><a href="/archives/"><svg class="icon"><use xlink:href="#symbol-search" /></svg></a></li>
        </ul>
      </div>
    </header>

    {% include "components/navigation.njk" %}

    <main id="main" role="main">
      <div class="wrap">
        {% block content %}{% endblock %}
        {{ content | safe }}
      </div>
    </main>

    {% include "components/footer.njk" %}
    {% include "svg-sprite.svg" %}

    {% if build.env == 'production' %}
      <link rel="stylesheet" href="/css/{{ hashes_css['additional.css'] }}" />
    {% else %}
      <link rel="stylesheet" href="/css/additional.css" />
    {% endif %}

    {#
    https://buzut.net/configurer-rollup-bundles-esm-cjs/
    https://v8.dev/features/modules#browser
    #}
    <script defer type="module" src="/js/{{ hashes_additional_es['assets/js/additional.js']}}"></script>
    <script defer nomodule src="/js/{{ hashes_additional_iife['assets/js/additional.js']}}"></script>
  </body>

</html>
