<!DOCTYPE html>
<html lang="en">
  {% set pageExcerpt = content | excerpt %}
  {% include "head.njk" %}

  {% set section = page.outputPath | split('/') %}
  {% set section = section[1] | replace('index.html', 'home') %}
  <body
    itemscope
    itemtype="https://schema.org/{% if "about/" in page.inputPath %}aboutpage{% else %}webpage{% endif %}"
    class="layout-{{ layout }} section-{{ section }}"
    data-img-src="{{ page.inputPath | dirname }}/"
    data-img-dist="{{ page.outputPath | dirname }}/"
  >

    {% include "components/svg-sprite.njk" %}

    <a class="sr-only" href="#main">Jump to main content</a>

    <header id="header" role="banner">
      <div
        class="wrap">
        <!-- {{ page.url }} -->
        {% if page.url == "/" %}
          <h1 class="site_title h-card" rel="me">Nicolas Hoizey</h1>
        {% else %}
          <p class="site_title">
            <a class="h-card" href="/" rel="me" title="Homepage">Nicolas Hoizey</a>
          </p>
        {% endif %}
        {% include "components/search-form.njk" %}
      </div>
    </header>

    {% include "components/navigation.njk" %}

    <main id="main" role="main">
      <div class="wrap">
        {{ content | safe }}
      </div>
    </main>
    <div class="search">
      <div class="wrap">
        <div class="results" id="search_results"></div>
      </div>
    </div>

    {% include "components/footer.njk" %}

    {# <link rel="stylesheet" href="/css/{{ hashes_css['additional.css'] }}" /> #}

    {#
    https://buzut.net/configurer-rollup-bundles-esm-cjs/
    https://v8.dev/features/modules#browser
    #}
    <script async type="module" src="/js/{{ hashes_additional_es['src/_assets/scripts/additional.js']}}"></script>
    <script async nomodule src="/js/{{ hashes_additional_iife['src/_assets/scripts/additional.js']}}"></script>

    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js');
      });

      navigator.serviceWorker.addEventListener('message', async (event) => {
        // Optional: ensure the message came from workbox-broadcast-update
        if (event.data.meta === 'workbox-broadcast-update') {
          const {cacheName, updatedUrl} = event.data.payload;
          console.groupCollapsed(`[Page] Updated content in "${cacheName}": ${updatedUrl}`);
          const cache = await caches.open(cacheName);
          const updatedResponse = await cache.match(updatedUrl);
          if (updatedResponse) {
            const updatedText = await updatedResponse.text();
            console.log(updatedText);
          }
          console.groupEnd();
        }
      });
    }

    window.addEventListener('load', () => {
      if (window.viewport_width > 0) {
        backgroundImageWidth = Math.ceil(window.viewport_width / 20) * 20;
        window.document.querySelector('body').style.backgroundImage = `url("https://res.cloudinary.com/nho/image/fetch/c_limit,f_auto,q_auto,w_${backgroundImageWidth}/https://nicolas-hoizey.com/assets/limbes.jpg")`;
      }
    });
    </script>
  </body>

</html>
