---
layout: default
---

{#
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
#}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://nicolas-hoizey.com/notes/{{ page.date | date("YYYY") }}/",
      "name": "{{ page.date | date("YYYY") }}"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://nicolas-hoizey.com/notes/{{ page.date | date("YYYY/MM") }}/",
      "name": "{{ page.date | date("MM") }}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ site.url }}{{ page.url }}",
      "name": "{{ content | striptags | truncate(100, true, '…') }}"
    }
  }]
}
</script>

{% set previousNote = collections.notes | getPreviousCollectionItem(page) %}
{% set nextNote = collections.notes | getNextCollectionItem(page) %}

<ul class="prevnext">
  <li class="prevnext__prev">{% if previousNote %}<a href="{{ previousNote.url }}" class="button">&lt; newer</a>{% endif %}</li>
  <li class="prevnext__next">{% if nextNote %}<a href="{{ nextNote.url }}" class="button">older &gt;</a>{% endif %}</li>
</ul>

<article
    class="main clearfix h-entry"
    lang="{{ lang }}">

  <div class="e-content">{{ content | noteToHtml | safe }}</div>

  {% from "macros/meta.njk" import meta %}
  {{ meta(page.url, page.date, tags, 'notes', webmentions) }}

  <p class="edit">If you want to share an error or suggest an enhancement of this content, please edit <a href="https://github.com/nhoizey/nicolas-hoizey.com/tree/master/{{ page.inputPath }}">the source on Github</a>.</p>

  {% set articleUrl = page.url %}
  {% include "components/webmentions.njk" %}
</article>
