---
layout: default
---

{#
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
#}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://nicolas-hoizey.com/{{ page.date | date("YYYY") }}/",
      "name": "{{ page.date | date("YYYY") }}"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://nicolas-hoizey.com/{{ page.date | date("YYYY/MM") }}/",
      "name": "{{ page.date | date("MM") }}"
    }
  {# },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ site.url }}{{ page.url }}",
      "name": "{{ title }}"
    }
  }] #}
}
</script>

<article
    class="main clearfix h-entry"
    lang="{{ lang }}">

  <div class="e-content">{{ content | safe }}</div>

  {% from "macros/meta.njk" import meta %}
  {{ meta(page.url, page.date, tags, 'notes', webmentions) }}

  <p class="edit">If you want to share an error or suggest an enhancement of this content, please edit <a href="https://github.com/nhoizey/nicolas-hoizey.com/tree/master/{{ page.inputPath }}">the source on Github</a>.</p>

  {% set webmentionUrl = page.url %}
  {% include "components/webmentions.njk" %}
</article>
