---
layout: default
permalink: "{{ page.filePathStem }}.html"
---

<div class="main" lang="{{ lang }}">
  <h1>{{ title }}</h1>
  <div class="page__body e-content">
    {{ content | safe }}
  </div>
</div>
