---
layout: default
---

{%- capture tag_image_path -%}assets/logos/{{ page.tag | slugify }}.png{%- endcapture -%}
{%- capture tag_image -%}
  {% file_exists {{ tag_image_path }} %}
{%- endcapture -%}
{% if tag_image == "true" %}
  <img class="tag" src="/{{ tag_image_path }}"/>
{% endif %}

<h1>Contents with tag
  <em>{{ page.tag }}</em>
</h1>

{% set tag_description_path %}tags/{{ page.tag | slugify }}.md
{% endset %}
{% set tag_description %}
  {% file_exists {{ tag_description_path }} %}
{% endset %}
{% if tag_description == "true" %}
  <div class="intro">{% markdown {{ tag_description_path }} %}</div>
{% endif %}

<ul class="list">
  {% for post in page.posts %}
    {% if post.categories contains 'links' %}
      <li class="list__item">
        <div class="card card--link">
          {% include components/link-card.njk link=post %}
        </div>
      </li>
    {% else %}
      <li class="list__item list__item--large">
        <div class="card card--article">
          {% include components/post-card.njk page=post %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="tagscloud">
  <p>Other tags to explore:</p>
  {% include components/tags-cloud.njk %}
</div>
