---
layout: default
---

{#
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
#}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://nicolas-hoizey.com/talks/",
          "name": "Talks"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://nicolas-hoizey.com/talks/{{ page.date | year }}/",
          "name": "{{ page.date | year }}"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https://nicolas-hoizey.com/talks/{{ page.date | year }}/{{ page.date | month }}/",
          "name": "{{ page.date | month }}"
        }
      }, {
        "@type": "ListItem",
        "position": 4,
        "item": {
          "@id": "{{ pkg.homepage }}{{ page.url }}",
          "name": "{{ title }}"
        }
      }
    ]
  }
</script>

<article
    class="page h-entry"
    lang="{{ lang }}">
  <h1 id="post" class="page__title p-name">{{ title }}</h1>

  {% set item = {
      date: date,
      url: page.url,
      data: {
        layout: 'talk',
        lang: lang,
        title: title,
        tags: tags,
        location: {
          name: location.name,
          url: location.url or ''
        }
      }
  } %}
  {% from "macros/meta.njk" import meta %}
  <aside class="page__meta">
    {{ meta(item) }}
  </aside>

  <div class="page__body e-content">
    <img
      alt="Cover slide from the talk “{{ title }}”"
      width="{{ illustration.width }}"
      height="{{ illustration.height }}"
      src="{{ illustration.src }}"
      class="page__illustration u-photo"
      crossorigin="anonymous"
      >

    {{ content | safe }}

    <p>See slides and additional content on Notist:<br /><a href="{{ notist_url }}">{{ title }}</a>
  </div>

  {% set articleUrl = page.url %}
  {% include "components/reactions.njk" %}

</article>
