---
layout: default
title: Links
---

<h1 class="list__title">Links</h1>
<ul class="list">
  {% for link in site.categories['links'] %}
  <li class="list__item">
    <div class="card card--link">
      <figure class="card__image">
        <img alt="screenshot of {{ link.title }}" src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_300,h_200/https://image.thum.io/get/width/1200/crop/800/noanimate/{{
                                                                                                                                                                  link.link
                                                                                                                                                                }}" style="--aspect-ratio: 1.5" />
      </figure>
      {% if link.authors %}
      <p class="card__source">
        {%- for author in link.authors -%}
        {{ author.name }}
        {%- if forloop.last == false -%}, {% endif -%} {%- endfor -%}:
      </p>
      {% endif %}
      <p class="card__title">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </p>
      {% include_cached link-meta.html page=link %}
    </div>
  </li>
  {% endfor %}
</ul>
