@use '../global/colors';

.avatar {
  width: 1.3em;
  height: auto;
  border-radius: 1em;
  vertical-align: text-bottom;
  border-width: 1px;
  border-style: solid;
  border-color: colors.$color-grey;
}
