@use '../global/colors';

.avatar {
  width: 1.3em;
  height: auto;

  vertical-align: text-bottom;

  border-color: colors.$color-grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
}
