@use '../global/functions';
@use '../global/utilities';

blockquote:not(.tweet-card) {
  position: relative;

  min-height: 3em;
  margin-right: 0;
  margin-left: 0;
  padding: 1em;

  color: var(--color-primary);
  font-size: var(--font-size-l);
  font-style: italic;

  mark {
    color: var(--color-primary);
  }

  em {
    font-style: normal;
  }

  @extend %flow;

  &::before {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    z-index: -1;

    content: functions.unicode('201C');

    color: var(--color-primary-lighter-7);
    opacity: 0.7;

    font-size: 9em;
    font-style: normal;
    line-height: 1;
  }

  blockquote {
    font-style: normal;

    background-color: var(--color-primary-lighter-7);
  }
}
