@use '../global/functions';
@use '../global/utilities';

blockquote:not(.tweet-card) {
  position: relative;

  min-height: 3rem;

  margin: 3rem 0;
  padding-inline-start: 2rem;
  padding-inline-end: 1rem;
  border-inline-start: .3rem solid var(--color-primary);

  color: var(--color-primary);
  font-size: var(--font-size-l);
  font-style: italic;

  mark {
    color: var(--color-primary);
  }

  em {
    font-style: normal;
  }

  @extend %flow;

  &::before {
    position: absolute;
    top: -0.1rem;
    left: -1.1rem;

    content: functions.unicode('275D');

    color: var(--color-primary);
    background-color: white;

    font-size: 2em;
    font-style: normal;
    line-height: 1;
  }

  blockquote {
    font-style: normal;

    background-color: var(--color-primary-lighter-7);
  }
}
