.button:link,
.button:visited,
button {
  padding: 0.1em 0.5em;

  color: white;
  font-size: 0.9em;
  text-decoration: none;

  border-color: var(--color-primary);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 1em;

  background-color: var(--color-primary-lighter-2);

  box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.2);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-primary);
  }
}
