@use '../global/colors';
@use '../global/utilities';

// ************************************************************
// Card lists
// ************************************************************

.cards-list {
  @extend %flow;

  clear: both;
  padding: 0;
  // margin: 0;
  list-style-type: none;

  * {
    --flow-space: var(--gap3);
  }
}

// ************************************************************
// Cards
// ************************************************************

.card {
  @extend %clearfix;

  * {
    --flow-space: 0.5em;
  }
  @extend %flow;
}

.card__illustration {
  margin-top: 0;

  @media (min-width: 30em) {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
  }
}

.card__illustration img,
img.card__illustration {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-primary-lighter-3);
  padding: var(--border-width);
}

.card__surtitle {
  margin-top: 0;
  color: colors.$color-darkgrey;
}

.card__title {
  margin-top: 0;
  font-size: var(--font-size-xl);
  font-weight: bold;
  letter-spacing: -0.02em;

  .card__surtitle + & {
    margin-top: 0;
  }
}

.card__body {
  @extend %flow;
}

// TODO: remove?
.card.note {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
