$card-radius: 0.5em;
$card-padding: 1em;

.cards-list {
  clear: both;

  margin: $gap 0;
  padding: 0;

  list-style-type: none;
}

.cards-list > * + * {
  margin-top: $gap;
}

.card {
  position: relative;
  padding: $card-padding;

  border: 2px solid $color-grey;
  border-radius: $card-radius;
  background-color: $color-white;
  transition: border 0.3s ease-in-out;
  &:hover {
    border: 2px solid $color-primary;
  }

  & > * + * {
    margin-top: $baseline;
    margin-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// https://tobiasahlin.com/blog/how-to-animate-box-shadow/
.card::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: $card-radius;

  opacity: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transition: opacity 0.3s ease-in-out;
}

.card:hover::after {
  opacity: 1;
}

.card__illustration {
  margin-top: -1 * $card-padding;
  margin-left: -1 * $card-padding;
  margin-right: -1 * $card-padding;
  margin-bottom: 0;

  img {
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: $color-white $color-white $color-lightgrey $color-white;
    border-radius: $card-radius $card-radius 0 0;
  }
}

.card__content {
  flex: 1;

  & > * + * {
    margin-top: $baseline;
    margin-bottom: 0;
  }
}

.card__surtitle {
  color: $color-darkgrey;

  .u-photo {
    width: 1.2em;
    height: auto;
    border-radius: 0.3em;
    vertical-align: middle;
  }
}

.card__title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  letter-spacing: -0.02em;

  .card__surtitle + & {
    margin-top: 0;
  }
}

.card.note {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
