// ************************************************************
// Card lists
// ************************************************************

.cards-list {
  @extend .flow;
  clear: both;

  & > * + * {
    padding-top: var(--gap3);
    border-top: 1px solid $color-primary-lighter-3;
  }
}

// ************************************************************
// Cards
// ************************************************************

.card {
  --flow-space: 3em;
  & * {
    --flow-space: 0.5em;
  }
  @extend .clearfix;
  @extend .flow;
}

.card__illustration {
  margin-top: 0;

  @media (min-width: 30em) {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
  }
}

.card__illustration img,
img.card__illustration {
  border-style: solid;
  border-width: 2px;
  border-color: $color-primary-lighter-3;
  padding: 2px;
}

.card__surtitle {
  margin-top: 0;
  color: $color-darkgrey;
}

.card__title {
  margin-top: 0;
  font-size: var(--font-size-xl);
  font-weight: bold;
  letter-spacing: -0.02em;

  .card__surtitle + & {
    margin-top: 0;
  }
}

.card__body {
  @extend .flow;
}

// TODO: remove?
.card.note {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
