@use '../global/colors';

pre {
  margin-left: -0.5em;
  margin-right: -0.5em;
  overflow-x: scroll;
  word-break: normal;
}

code,
kbd {
  font-size: 0.9em;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

code {
  margin: 0;
  background-color: #fff4d1;
  color: currentColor;

  pre & {
    display: block;
    overflow-x: scroll;
    padding: 0.3em 0.5em;
    background-color: colors.$inline-code-background-color;
    color: colors.$inline-code-text-color;
  }
}

kbd {
  white-space: nowrap;

  color: #444d56;
  background-color: #f3f3f3;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  box-shadow: inset 0 -1px 0 #959da5;
}

a:hover,
a:focus,
a:active {
  code {
    color: inherit;
    background-color: transparent;
  }
}
