@use '../variables/dimensions';
@use 'sass:math';

.info,
.success,
.warning,
.error {
  position: relative;

  clear: both;

  padding: math.div(dimensions.$gap, 3);

  color: #222;
  text-decoration: none;

  border: dimensions.$border-width solid #999;
  border-radius: 0.3em;

  background-color: #ccc;

  &::before {
    position: absolute;
    top: math.div(dimensions.$gap, 2);
    left: math.div(dimensions.$gap, 2);
  }

  & > * {
    padding-left: 2em;
  }
}

.info.info,
.success.success,
.warning.warning,
.error.error {
  & a:hover,
  & a:focus,
  & a:active {
    color: #fff;
    text-decoration: var(--color-link-hover-decoration);

    background-color: var(--color-link-hover-bg);
  }
}

.info {
  color: #3c3d76;

  border-color: #d6c6e9;

  background-color: #dfd8f0;

  &::before {
    content: url(/assets/icons/info.svg);
  }

  a:link,
  a:visited {
    color: #2b2c54;
    text-decoration-color: #3c3d76;
  }
}

.success {
  color: #3c763d;

  border-color: #d6e9c6;

  background-color: #dff0d8;

  &::before {
    content: url(/assets/icons/thumbs-up.svg);
  }

  a:link,
  a:visited {
    color: #2b542c;
    text-decoration-color: #3c763d;
  }
}

.warning {
  color: #8a6d3b;

  border-color: #faebcc;

  background-color: #fcf8e3;

  &::before {
    content: url(/assets/icons/alert.svg);
  }

  a:link,
  a:visited {
    color: #66512c;
    text-decoration-color: #8a6d3b;
  }
}

.error {
  color: #a94442;

  border-color: #ebccd1;

  background-color: #f2dede;

  &::before {
    content: url(/assets/icons/meh.svg);
  }

  a:link,
  a:visited {
    color: #843534;
    text-decoration-color: #a94442;
  }
}
