.info,
.success,
.warning,
.error {
  clear: both;
  padding: calc(var(--gap) / 3);

  background-color: #ccc;
  color: #222;
  border: var(--border-width) solid #999;
  border-radius: 0.3em;

  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    top: calc(var(--gap) / 2);
    left: calc(var(--gap) / 2);
  }

  & > * {
    padding-left: 2em;
  }
}

.info.info,
.success.success,
.warning.warning,
.error.error {
  & a:hover,
  & a:focus,
  & a:active {
    color: #fff;
    background-color: var(--color-link-hover-bg);
    text-decoration: var(--color-link-hover-decoration);
  }
}

.info {
  color: #3c3d76;
  background-color: #dfd8f0;
  border-color: #d6c6e9;

  &::before {
    content: url(/assets/icons/info.svg);
  }

  a:link,
  a:visited {
    color: #2b2c54;
    text-decoration-color: #2b2c54;
  }
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

  &::before {
    content: url(/assets/icons/thumbs-up.svg);
  }

  a:link,
  a:visited {
    color: #2b542c;
    text-decoration-color: #2b542c;
  }
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;

  &::before {
    content: url(/assets/icons/alert.svg);
  }

  a:link,
  a:visited {
    color: #66512c;
    text-decoration-color: #66512c;
  }
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  &::before {
    content: url(/assets/icons/meh.svg);
  }

  a:link,
  a:visited {
    color: #843534;
    text-decoration-color: #843534;
  }
}
