// ************************************************************
// Footnotes
// ************************************************************

.footnotes-sep {
  display: none;
}

.footnotes {
  margin: var(--gap) 0;
  background-color: #eee;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  font-size: var(--font-size-s);

  ol {
    margin: 0;
    padding: 1em 1em 1em 2em;
    list-style-position: outside;
  }
}

.footnote-item + .footnote-item {
  margin-top: 0.5em;
}

a.footnote.footnote {
  text-decoration: none;
  padding: 0.1em 0.4em;
  margin: 0 0.2em;
  background-color: #39f;
  color: #fff;
  border-radius: 30%;

  // https://css-tricks.com/touch-devices-not-judged-size/
  @media (pointer: coarse) {
    padding: 0.3em 0.6em;
  }
}

a.reversefootnote {
  text-decoration: none;
}
