@use '../variables/dimensions';

// ************************************************************
// Footnotes
// ************************************************************

.footnotes-sep {
  display: none;
}

.footnotes {
  margin: dimensions.$gap 0;

  color: #333;
  font-size: var(--font-size-s);

  border: 1px solid #ccc;
  border-radius: 0.3em;

  background-color: #eee;

  ol {
    margin: 0;
    padding: 1em 1em 1em 2em;

    list-style-position: outside;
  }
}

.footnote-item + .footnote-item {
  margin-top: 0.5em;
}

a.footnote.footnote {
  margin: 0 0.2em;
  padding: 0.1em 0.4em;

  color: #fff;
  text-decoration: none;

  border-radius: 30%;

  background-color: #39f;

  // https://css-tricks.com/touch-devices-not-judged-size/
  @media (pointer: coarse) {
    padding: 0.3em 0.6em;
  }
}

a.reversefootnote {
  text-decoration: none;
}
