@use '../variables/dimensions';

// ************************************************************
// Footer
// ************************************************************

@keyframes revealFooter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer {
  margin: 1em 0 0;
  padding: 1em 0;

  // https://web.dev/content-visibility/
  // https://www.smashingmagazine.com/2021/04/humble-img-element-core-web-vitals/#lazy-render-offscreen-content
  // https: //twitter.com/csswizardry/status/1584563794780770309/photo/1
  content-visibility: auto;
  contain-intrinsic-size: auto 250px;

  // transition color and padding if background image is added with JS
  color: currentColor;
  white-space: nowrap;

  background-image: var(--limbes),
    linear-gradient(
      to bottom,
      white,
      var(--color-primary-lighter-4) 50%,
      var(--color-primary-darker-2) 80%,
      var(--color-primary-darker-5)
    );
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  // animate opacity
  opacity: 0;

  transition-property: color, padding;
  transition-delay: 0s;
  transition-timing-function: ease-in;
  transition-duration: 1s;
  animation-name: revealFooter;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  a:link,
  a:visited {
    color: currentColor;
  }

  a:hover,
  &:focus,
  a:active {
    color: var(--color-link-hover);

    background-color: var(--color-link-hover-bg);
  }

  .wrap {
    opacity: 1;

    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > *:first-child {
        flex: 1;
      }
    }
  }

  p {
    line-height: 2;

    & + p {
      text-align: right;
    }
  }

  .edit {
    margin-bottom: dimensions.$gap;

    font-size: var(--font-size-xs);
    line-height: 1.3;
    white-space: normal;
  }
}
