@use '../variables/fonts';
@use '../variables/dimensions';

#header {
  margin: 0;
  padding: 0;

  color: var(--color-primary);
  font-size: var(--font-size-l);
  white-space: nowrap;

  border-top: solid dimensions.$border-width var(--color-primary);

  .wrap {
    @media (min-width: 15em) {
      display: grid;
      grid-template-columns: auto min-content min-content;
      gap: 1rem;
      align-items: center;
    }
  }

  .site_title {
    margin: 0;
    padding: 0.3em 0;

    font-weight: bold;
    font-size: 1em;
    font-family: fonts.$font-family-sans-serif;
    line-height: 1.3;

    &:last-child {
      text-align: right;
    }
  }

  .follow {
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;

    a:link,
    a:visited {
      display: inline-block;

      padding-right: calc(0.3em + 2vw);
      padding-left: calc(0.3em + 2vw);

      white-space: nowrap;
      text-decoration: none;
    }
  }

  a:link,
  a:visited {
    color: var(--color-primary);
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: var(--color-primary-lighter-2);
    text-decoration: underline;

    background-color: transparent;

    mix-blend-mode: normal;
  }
}
