.site__intro {
  @extend .flow;

  margin-top: 3vw;
  margin-bottom: 3vw;
  font-size: var(--font-size-xxl);
}

.site__intro__name {
  font-size: var(--font-size-xxxl);

  @media (min-width: 20em) {
    margin-top: 0;
  }
}
