@use '../variables/colors';
@use '../variables/dimensions';

.page .link__url {
  margin-top: 2 * dimensions.$gap;
  margin-bottom: 2 * dimensions.$gap;

  font-size: var(--font-size-xl);
}

.author__twitter,
.author__mastodon {
  font-size: 0.9em;
  vertical-align: text-bottom;

  svg {
    fill: currentColor;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;

    svg {
      transform: scale(1.2);
    }
  }
}

.author__twitter {
  &:link,
  &:visited {
    color: colors.$color-twitter;
  }
}

.author__mastodon {
  &:link,
  &:visited {
    color: colors.$color-mastodon;
  }
}
