.navigation {
  background-color: $color-primary;
  color: #fff;

  margin: 0 0 calc(var(--gap) * 3);
  padding: 0.25em 0 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;

  .wrap {
    display: flex;
    justify-content: space-between;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;

    & + li {
      margin-left: 2vw;
    }

    &.navigation__home {
      display: none;

      @media (min-width: 30em) {
        display: block;
      }
    }

    &.navigation__articles,
    &.navigation__links,
    &.navigation__notes,
    &.navigation__talks {
      display: none;

      @media (min-width: 25em) {
        display: block;
      }
    }

    a:link,
    a:visited {
      display: inline-block;
      margin: 0;
      padding: 0 0.5vw;
      color: $color-white;
      text-decoration: none;
      white-space: nowrap;

      border-radius: 0.25rem 0.25rem 0 0;
    }
    a:hover,
    a:focus {
      text-decoration-line: underline;
      text-decoration-color: $color-white;
      background-color: $color-primary-lighter-3;
    }

    &.current {
      a:link,
      a:visited {
        color: $color-primary;
        background-color: $color-white;
      }

      a:hover,
      a:focus {
        text-decoration-color: $color-primary;
      }
    }
  }
}
