.navigation {
  border-top: solid 2px $color-primary-lighter-2;

  font-family: var(--font-family-sans-serif);
  font-variant: small-caps;
  font-size: var(--font-size-m);

  padding: 0 0 calc(var(--gap) * 3);
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;

  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;

    &.navigation__articles,
    &.navigation__links,
    &.navigation__notes,
    &.navigation__talks {
      display: none;

      @media (min-width: 45em) {
        display: block;
      }
    }

    a:link,
    a:visited {
      display: inline-block;
      margin: 2px 0 0 0;
      padding: 0.1em 1vw 0.2em;
      text-decoration: none;
      white-space: nowrap;
    }

    &.current {
      a:link,
      a:visited {
        color: $color-primary;
        text-decoration-line: underline;
        text-decoration-thickness: 0.1em;
        text-decoration-color: $color-primary-lighter-2;
        -webkit-text-stroke-width: 0.05em;
      }

      a:hover,
      a:focus {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  .tools {
    a:link,
    a:visited {
      color: $color-primary;
    }

    a:hover,
    a:focus {
      color: $color-white;
    }

    svg {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 2px;
    }
  }

  // .signature {
  //   display: none;
  // }
}

.no-js .tools__search {
  display: none !important;
}

// Sticky navigation
@media (min-height: 30rem) {
  .navigation {
    background-image: linear-gradient(
      to top,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.05) calc(var(--gap) * 0.5),
      hsla(0, 0%, 100%, 0.2) calc(var(--gap) * 0.75),
      hsla(0, 0%, 100%, 0.5) var(--gap),
      hsla(0, 0%, 100%, 0.75) calc(var(--gap) * 1.25),
      hsla(0, 0%, 100%, 0.9) calc(var(--gap) * 1.5),
      hsla(0, 0%, 100%, 0.95) calc(var(--gap) * 2),
      hsla(0, 0%, 100%, 0.95)
    );
    position: sticky;
    top: 0;
    z-index: 2;

    // .wrap {
    //   position: relative;
    // }

    // .signature {
    //   display: inline-block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;

    //   font-family: var(--font-family-serif);
    //   font-weight: bold;
    //   background-color: $color-primary;
    //   color: $color-white;
    //   padding: 0 0.2em;
    //   opacity: 0;

    //   animation: animate-sig 1s linear;
    //   animation-play-state: paused;
    //   animation-delay: calc((var(--scrollTo200) - 0.5) * -1.5s);
    // }
  }

  // Inspiration:
  //   https://www.commarts.com/
  // Technique :
  //   https://css-tricks.com/books/greatest-css-tricks/scroll-animation/

  // .navigation ul:first-of-type {
  //   animation: animate-nav 1s linear;
  //   animation-play-state: paused;
  //   animation-delay: calc(var(--scrollTo200) * -1s);
  // }
}

// @keyframes animate-sig {
//   to {
//     opacity: 1;
//   }
// }

// @keyframes animate-nav {
//   to {
//     margin-left: 2.5em;
//     letter-spacing: 0.05vw;
//   }
// }
