@use 'global/colors';

.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;

  margin: 3em auto;
  padding: 0;

  font-size: var(--font-size-l);

  li {
    flex-grow: 1;

    text-align: center;

    list-style-type: none;

    @media (min-width: 20em) {
      &.extreme {
        display: block;
      }

      &.ellipsis1 {
        display: none;
      }
    }

    @media (min-width: 25em) {
      &.dist1 {
        display: block;
      }

      &.ellipsis2 {
        display: none;
      }
    }

    @media (min-width: 30em) {
      &.dist2 {
        display: block;
      }

      &.ellipsis3 {
        display: none;
      }
    }

    &.dist1,
    &.dist2,
    &.dist3,
    &.extreme {
      display: none;
    }

    a,
    strong,
    &.disabled {
      padding: 0.1em 0.3em;

      text-decoration: none;

      border: var(--border-width) solid #fff;
      border-radius: 0.3em;
    }

    a:hover,
    &:focus {
      border-color: colors.$color-blue;
    }

    strong {
      color: #fff;

      border-color: colors.$color-blue;
      // font-weight: 400;
      background-color: colors.$color-blue;
    }

    &.next,
    &.prev {
      font-weight: 700;

      &.disabled {
        font-weight: 400;
      }
    }
  }
}
