@use '../global/colors';
@use '../global/utilities';

.page {
  @extend %clearfix;
  @extend %flow;

  .lazy {
    --flow-space: var(--gap3);
    @extend %flow;
  }
}

.page__surtitle {
  color: colors.$color-darkgrey;
  font-size: var(--font-size-m);

  & + .page__title {
    margin-top: 0;
  }
}

.page__illustration {
  margin-top: 0;

  @media (min-width: 40em) {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
  }
}

.page__illustration img,
img.page__illustration {
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--color-primary-lighter-3);
  padding: var(--border-width);
}

.page__body {
  @extend %flow;

  margin-top: var(--gap2);
}
