.page {
  @extend .clearfix;

  & > * + * {
    margin-top: var(--gap);
  }
}

.page__surtitle {
  color: $color-darkgrey;
  padding-top: var(--gap);
  font-size: var(--font-size-l);

  & + .page__title {
    margin-top: 0;
  }
}

.u-photo {
  width: 1.3em;
  height: auto;
  border-radius: 1em;
  vertical-align: text-bottom;
  border-width: 1px;
  border-style: solid;
  border-color: $color-grey;
}

.page__illustration {
  margin-top: 0;

  @media (min-width: 40em) {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
  }
}

.page__illustration img,
img.page__illustration {
  border-width: 2px;
  border-style: solid;
  border-color: $color-primary-lighter-3;
  padding: 2px;
}

.page__text {
  & > * + * {
    margin-top: var(--gap);
  }
}
