.prevnext {
  margin-bottom: 2em;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 87rem) {
    position: fixed;
    width: 90vw;
    left: 5vw;
  }
}

.prevnext__prev {
  align-self: flex-start;
}

.prevnext__next {
  align-self: flex-end;
}
