@use '../variables/dimensions';
@use '../global/utilities';
@use 'sass:math';

// TODO: sortir de critical

#reactions {
  // https://www.smashingmagazine.com/2021/04/humble-img-element-core-web-vitals/#lazy-render-offscreen-content
  // https: //twitter.com/csswizardry/status/1584563794780770309/photo/1
  content-visibility: auto;
  contain-intrinsic-size: 1px 250px;

  @extend %flow;

  summary > h3 {
    display: inline-block;
  }
}

.reactions__list {
  padding: 0;

  list-style-type: none;
}

.reaction__author__photo {
  width: 48px;
  height: 48px;
  padding: 0;

  border-color: var(--color-link-decoration);
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.reactions__item .meta {
  margin-top: math.div(dimensions.$gap, 2);
}

.reactions--like-of,
.reactions--repost-of {
  li {
    display: inline-block;
  }

  a:link,
  a:visited {
    display: inline-block;

    margin: 0;
    padding: 0.1em;

    border-radius: 0.3em;

    &:hover,
    &:focus {
      background-color: var(--color-link-decoration);
    }
  }

  .reaction__author__photo {
    margin: 0.1em;
  }
}

.reactions--in-reply-to,
.reactions--mention-of {
  --flow-space: #{3 * dimensions.$gap};
  @extend %flow;

  .reactions__item {
    position: relative;

    clear: both;

    min-height: 48px;
    padding-left: calc(48px + 1em);

    &.reaction--no-photo {
      padding-right: 1em;
      padding-left: 1em;

      @media (min-width: 30em) {
        padding-right: 0;
        padding-left: calc(48px + 1em);
      }
    }
  }

  .reaction__author__photo {
    position: absolute;
    top: 0.3em;
    left: 0;

    display: block;

    margin: 0;
  }
}
