.tagscloud__tags {
  // THESE STYLES ARE ALREADY INLINE
  // list-style: none;
  // padding: 0;
  // text-align: center;

  // li {
  //   display: inline-block;
  //   margin: 0;
  // }

  // a {
  //   &:link,
  //   &:visited {
  //     display: inline-block;
  //     margin: 0.2em 0.3em;
  //     padding: 0.1em 0.3em;

  //     text-decoration: none;
  //     white-space: nowrap;

  //     background-color: $color-primary-lighter-2;
  //     color: $color-white;
  //     border-radius: 0.2em;

  //     transition-property: background-color;
  //     transition-timing-function: ease-in-out;
  //     transition-duration: 0.5s;
  //   }
  // }

  a {
    &.tag2 {
      &:link,
      &:visited {
        background-color: $color-primary-lighter-1;
      }
    }

    &.tag3 {
      &:link,
      &:visited {
        background-color: $color-primary;
      }
    }

    &.tag4 {
      &:link,
      &:visited {
        background-color: $color-primary-darker-1;
      }
    }

    &.tag5 {
      &:link,
      &:visited {
        background-color: $color-primary-darker-2;
      }
    }

    &:hover,
    &:focus {
      background-color: $link-decoration-color;
      outline: none;
      text-decoration: underline;

      &.tag2,
      &.tag3,
      &.tag4,
      &.tag5 {
        background-color: $link-decoration-color;
      }
    }

    &:active {
      background-color: $color-secondary;

      &.tag2,
      &.tag3,
      &.tag4,
      &.tag5 {
        background-color: $color-secondary;
      }
    }
  }
}

img.tag {
  max-width: 25%;
  float: right;
  margin: 0 0 2em 1em;
}
