// Forked from https://github.com/apvarun/toastify-js

.toast {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4em 0.7em;
  position: fixed;

  background-color: #ccc;
  color: #222;
  border: 1px solid #999;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  max-width: max-content;

  // position
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 15px;
  z-index: 10;
}

// Augment specificity
.toast.toast {
  a:hover,
  a:focus,
  a:active {
    color: #fff;
    background-color: var(--color-link-decoration);
    text-decoration: none;
  }
}

.toast.on {
  opacity: 1;
}

.toast-close {
  opacity: 0.4;
  padding: 0 0.3em;
}

.toast-icon {
  font-size: 1.8em;
  width: 1em;
  height: 1em;
  margin: 0 0.3em 0 0;
  fill: currentColor;
  vertical-align: middle;
}

.toast-info {
  color: #3c3d76;
  background-color: #dfd8f0;
  border-color: #d6c6e9;

  a:link,
  a:visited {
    color: #2b2c54;
  }
}

.toast-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

  a:link,
  a:visited {
    color: #2b542c;
  }
}

.toast-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;

  a:link,
  a:visited {
    color: #66512c;
  }
}

.toast-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  a:link,
  a:visited {
    color: #843534;
  }
}
