// Forked from https://github.com/apvarun/toastify-js

.toast {
  position: fixed;
  left: 0;
  bottom: 15px;
  right: 0;
  z-index: 10;

  display: inline-block;

  max-width: calc(50% - 20px);
  max-width: max-content;
  margin-right: auto;

  // position
  margin-left: auto;
  padding: 0.4em 0.7em;

  color: #222;
  font-size: 1.2rem;
  text-decoration: none;

  border: 1px solid #999;
  border-radius: 0.5em;

  background-color: #ccc;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

  cursor: pointer;

  opacity: 0;

  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Augment specificity
.toast.toast {
  a:hover,
  a:focus,
  a:active {
    color: #fff;
    text-decoration: none;

    background-color: var(--color-link-decoration);
  }
}

.toast.on {
  opacity: 1;
}

.toast-close {
  padding: 0 0.3em;

  opacity: 0.4;
}

.toast-icon {
  width: 1em;
  height: 1em;
  margin: 0 0.3em 0 0;

  font-size: 1.8em;
  vertical-align: middle;

  fill: currentColor;
}

.toast-info {
  color: #3c3d76;

  border-color: #d6c6e9;

  background-color: #dfd8f0;

  a:link,
  a:visited {
    color: #2b2c54;
  }
}

.toast-success {
  color: #3c763d;

  border-color: #d6e9c6;

  background-color: #dff0d8;

  a:link,
  a:visited {
    color: #2b542c;
  }
}

.toast-warning {
  color: #8a6d3b;

  border-color: #faebcc;

  background-color: #fcf8e3;

  a:link,
  a:visited {
    color: #66512c;
  }
}

.toast-error {
  color: #a94442;

  border-color: #ebccd1;

  background-color: #f2dede;

  a:link,
  a:visited {
    color: #843534;
  }
}
