@use '../variables/colors';
@use '../variables/dimensions';

/* card */
.tweet-card {
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;

  color: #1c2022;
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1.4;
  text-align: left;

  border: dimensions.$border-width solid colors.$color-grey;
  border-radius: 0.5em;

  background-color: #fff;

  &:hover,
  &:focus {
    border-color: colors.$color-twitter;
  }

  a:link,
  a:visited {
    color: colors.$color-twitter;
    text-decoration: none;

    background-color: transparent;
  }

  a:hover,
  a:focus,
  a:active {
    color: colors.$color-twitter;
    text-decoration: underline;

    background-color: transparent;
  }
}

/* header */
.tweet-header {
  display: flex;

  margin-bottom: 1em;
}

.tweet-profile {
  flex-shrink: 0;

  margin-right: 9px;

  img {
    width: 36px;
    height: 36px;
    margin: 0;

    border-radius: 50%;
  }
}

.tweet-author {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tweet-author-name {
  &:link,
  &:visited {
    color: #1c2022;
    font-weight: bold;
    line-height: 1.3;
  }
  &:hover,
  &:focus {
    color: colors.$color-twitter;
  }
}

.tweet-author-handle {
  &:link,
  &:visited {
    color: colors.$color-darkgrey;
    font-size: var(--font-size-s);
    line-height: 1;
  }
  &:hover,
  &:focus {
    color: colors.$color-twitter;
  }
}

.tweet-bird {
  margin-left: dimensions.$gap;
}

/* images */
.tweet-images img {
  height: auto;
  max-width: 100%;
  margin-bottom: 0.5em;

  border: 1px solid colors.$color-lightgrey;
}

/* footer */
.tweet-footer {
  display: flex;
  align-items: center;
}

.tweet-card .tweet-footer a {
  color: colors.$color-darkgrey;
  font-size: var(--font-size-s);
}

.tweet-footer .tweet-date:hover {
  color: colors.$color-twitter;
}

.tweet-footer .tweet-like {
  display: flex;
  align-items: center;

  margin-right: 1em;

  font-size: 1em;
}

.tweet-footer .tweet-like:hover {
  color: colors.$color-red;
}

.tweet-footer .tweet-like-count {
  margin-left: 4px;
}

.tweet-footer .tweet-like-icon {
  filter: grayscale(1) brightness(1.4);

  transition: filter;
}

.tweet-footer .tweet-like:hover .tweet-like-icon {
  filter: none;
}

/* icons */
.tweet-bird-icon,
.tweet-like-icon {
  display: inline-block;

  width: 1.25em;
  height: 1.25em;

  vertical-align: text-bottom;

  background-repeat: no-repeat;
  background-size: contain;
}
