.webmentions__list {
  content-visibility: auto;
  contain-intrinsic-size: 1px 500px;

  padding: 0;
  list-style-type: none;
}

.webmentions--like-of,
.webmentions--repost-of {
  li {
    display: inline-block;
  }

  a:link,
  a:visited {
    margin: 0;
    display: inline-block;
    padding: 0.1em;
    border-radius: 0.3em;

    &:hover {
      background-color: var(--color-link-decoration);
    }
  }

  .webmention__author__photo {
    width: 48px;
    height: 48px;
    margin: 0.2em;
    padding: 0;
    border-radius: 5px;
  }
}

// .webmention--author-starts .webmention__author .p-name {
//   display: none;
// }

.webmentions--in-reply-to,
.webmentions--mention-of {
  .webmentions__item {
    clear: both;
    position: relative;
    min-height: 48px;

    margin: 0 0 2em;
    padding: 0.5em 0 0 calc(48px + 1em);

    &.webmention--no-photo {
      padding: 0.5em 1em 0 1em;
      @media (min-width: 30em) {
        padding: 0.5em 0 0 calc(48px + 1em);
      }
    }
  }

  .webmention__author__photo {
    display: block;
    position: absolute;
    top: 0.8em;
    left: 0;
    width: 48px;
    height: 48px;
    margin: 0;
    border-radius: 5px;
  }
}

.webmentions__item .meta {
  margin-top: calc(var(--gap) / 2);
}
