.card--note {
  position: relative;
  font-size: var(--font-size-s);
  padding: 1em;
  border: 2px solid $color-grey;
  border-radius: 0.5em;
  background-color: $color-white;
  transition: border 0.3s ease-in-out;

  &:hover {
    border: 2px solid $color-primary;
  }

  .card__content {
    margin: 0;

    & > * + * {
      margin: $baseline 0;
    }
  }

  .meta {
    margin-top: $baseline;
    margin-bottom: 0;
    padding-top: $baseline / 2;
    border-top: 1px solid $color-lightgrey;
  }
}

// https://tobiasahlin.com/blog/how-to-animate-box-shadow/
.card--note::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0.5em;

  opacity: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transition: opacity 0.3s ease-in-out;
}

.card--note:hover::after {
  opacity: 1;
}

.card__image img {
  margin: 0;
  border: 1px solid #ddd;
}

.card__source {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-xs);
  color: $color-darkgrey;

  .u-photo {
    display: inline;
    margin: 0;
    padding: 0;
    width: 1.2em;
    height: auto;
    border-radius: 0.3em;
    vertical-align: middle;
    overflow: hidden;
  }
}

.card__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: -0.02em;

  .card--article & {
    font-size: var(--font-size-xl);
  }
}

.card__excerpt,
.card__content {
  margin: 0.5em 0;
}

.card__date,
.card__webmentionscount {
  white-space: nowrap;
}
