.card {
  margin: 0;
  padding: 0;
}

.card--note .card__content {
  font-size: var(--font-size-s);
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: $color-primary-lighter-7;
  background: linear-gradient(
    135deg,
    $color-primary-lighter-5,
    $color-primary-lighter-7
  );

  p {
    margin: 0;
  }

  p + p {
    margin: 1em 0;
  }
}

.card__image img {
  margin: 0;
  border: 1px solid #ddd;
}

.card__source {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-xs);
  color: $color-darkgrey;

  .u-photo {
    display: inline;
    margin: 0;
    padding: 0;
    width: 1.2em;
    height: auto;
    border-radius: 0.3em;
    vertical-align: middle;
    overflow: hidden;
  }
}

.card__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: -0.02em;

  .card--article & {
    font-size: var(--font-size-xl);
  }
}

.card__excerpt,
.card__content {
  margin: 0.5em 0;
}

.card__date,
.card__webmentionscount {
  white-space: nowrap;
}
