.link__info > * + * {
  margin-top: $baseline;
}

.link__authors {
  padding-left: 0;

  display: grid;
  grid-template-columns: 2em auto;
  grid-template-rows: 2.1em;
  grid-gap: 0.5em;
  align-items: center;

  li {
    display: contents;
  }

  .u-photo {
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
  }
}

.link__link {
  font-size: var(--font-size-xxl);
}

@media (min-width: 40em) {
  .link__header {
    display: flex;
    flex-direction: row;
  }

  .link__info {
    flex-grow: 1;
  }

  .link__screenshot {
    flex-shrink: 0;
    margin: 0 0 $baseline $baseline;
    width: 40%;

    img {
      border: 1px solid #ddd;
    }
  }
}
