#search {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  margin: 0.5rem 0 0.5rem 2rem;

  input {
    font-size: 1rem;
    margin: 0;
    padding: 0.3em 1.7em 0.3em 0.7em;
    border-radius: 2em;
    outline: none;
  }

  [type='search'] {
    background-color: $color-primary-lighter-5;
    border: 2px solid $color-primary-lighter-2;
    color: #111;
    -webkit-appearance: none;

    width: 30%;
    min-width: 5em;
    margin-left: auto;

    transition-property: background-color, border-color, color, width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    &:focus {
      border: 2px solid $color-primary-lighter-2;
      background-color: #fff;
      width: 100%;
    }
  }

  [type='submit'] {
    background-color: $color-primary-lighter-4;
    border: 2px solid $color-primary-lighter-2;
    color: #fff;
  }

  label {
    position: absolute;
    right: 0.7em;
    font-size: 0.8em;
  }

  svg,
  use {
    width: 1em;
    height: 1em;
    fill: $color-primary;
  }

  .algolia-autocomplete {
    display: contents !important;
    color: $color-primary;

    .aa-dropdown-menu {
      margin: 0;
      padding: 0.1em;
      width: 100%;
      font-size: 1rem;
      line-height: 1.2;
      white-space: normal;
      background-color: $color-primary-lighter-8;
      border: 2px solid $color-primary;
      border-top: none;
      overflow: hidden;

      .aa-suggestion {
        cursor: pointer;
        padding: 0.5em;

        a:link,
        a:visited,
        a:hover,
        a:active {
          color: currentColor;
        }
      }

      .aa-suggestion.aa-cursor {
        background-color: $color-primary-lighter-1;
        color: $color-white;
      }
    }
  }

  .branding {
    font-size: 1rem;
    margin: 0.5em 0.2em;
    text-align: right;
  }

  .branding img {
    height: 1rem;
    margin-bottom: -0.3em;
  }
}
