---
layout: null
permalink: /feeds/all.xml
---

{% extends "./../_layouts/feed.njk" %}

{% block title %}Nicolas Hoizey - All contents{% endblock %}

{% block self %}all.xml{% endblock %}

{% block page %}archives/{% endblock %}

{% block id %}archives/{% endblock %}

{% block update %}{{ collections.archives | rssLastUpdatedDate }}{% endblock %}

{% block entries %}
  {% for entry in collections.archives | limit(20) %}
    {%- set absoluteEntryUrl %}{{- entry.url | url | absoluteUrl(pkg.homepage) -}}{%- endset -%}
    {%- set readableDate = entry.date | formattedDateTime -%}
    {%- set icon -%}
      {%- if entry.data.layout == 'article' -%}🖋{%- endif -%}
      {%- if entry.data.layout == 'link' -%}🔗{%- endif -%}
      {%- if entry.data.layout == 'billet' -%}📓{%- endif -%}
      {%- if entry.data.layout == 'note' -%}💬{%- endif -%}
    {%- endset -%}
    <entry>
      <title>{{ icon }} {{ entry.data.body.title }}</title>
      <link href="{{ absoluteEntryUrl }}" />
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">
        {% if entry.data.layout == 'link' %}
          &lt;p&gt;
          {% if entry.data.authors %}
              {%- for author in entry.data.authors -%}
                {%- if not loop.first -%}
                  {%- if not loop.last -%},&amp;ensp;{%- else -%}&amp;ensp;and&amp;ensp;{%- endif -%}
                {%- endif -%}
                {{- author -}}
              {%- endfor -%}
              &lt;br /&gt;
          {% endif %}
          &lt;a href="{{ entry.data.link }}"&gt;{{ entry.data.link }}&lt;/a&gt;
          &lt;/p&gt;
          &lt;figure&gt;&lt;img src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_300,h_200/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ entry.data.link }}" width="300" height="200" /&gt;&lt;/figure&gt;
        {% endif %}
        {% if entry.data.layout == 'billet' and entry.data.photo %}
          &lt;div style="max-width: 33%; float: right; margin: 0 0 1em 1em;"&gt;
            &lt;p&gt;Une photo prise un {{ entry.date | dayMonth('fr') }} :&lt;/p&gt;
            &lt;figure&gt;
              &lt;img
                src="https://res.cloudinary.com/nho/image/fetch/w_800,q_auto,f_auto/{{ entry.data.photo.src }}"
                alt="{{ entry.data.photo.title }}"
                width="{{ entry.data.photo.width }}"
                height="{{ entry.data.photo.height }}"
                crossorigin="anonymous"
                /&gt;
              &lt;figcaption&gt;&lt;a href="{{ entry.data.photo.url }}"&gt;{{ entry.data.photo.title }}&lt;/a&gt;&lt;/figcaption&gt;
            &lt;/figure&gt;
          &lt;/div&gt;
        {% endif %}
        {{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}
      </content>
    </entry>
  {% endfor %}
{% endblock %}
