---
layout: null
permalink: /feeds/all.xml
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/assets/pretty-atom-feed-v3.xsl" type="text/xsl" media="screen"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Nicolas Hoizey - All contents</title>
  <link href="{{ pkg.homepage }}/feeds/all.xml" rel="self" />
  <link href="{{ pkg.homepage }}/" />
  <link rel="hub" href="http://pubsubhubbub.superfeedr.com/" />
  <updated>{{ collections.archives | rssLastUpdatedDate }}</updated>
  <id>{{ pkg.homepage }}</id>
  <author>
    <name>{{ pkg.author.name }}</name>
    <email>{{ pkg.author.email }}</email>
  </author>
  <generator uri="https://11ty.dev" version="{{ build.version }}">Eleventy {{ build.version }}</generator>
  {% for entry in collections.archives | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{% endset %}
    {% set readableDate = entry.date | formattedDateTime %}
    {% set icon %}
    {% if entry.data.layout == 'article' %}🖋{% endif %}
    {% if entry.data.layout == 'link' %}🔗{% endif %}
    {% if entry.data.layout == 'note' %}💬{% endif %}
    {% endset %}
    <entry>
      <title>{{ icon }}
        {{ entry.data.title or 'Note from ' + readableDate }}</title>
      <link href="{{ absoluteEntryUrl }}" />
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">
        {% if entry.data.layout == 'link' %}
        &lt;p&gt;
        {% if entry.data.authors %}
            {%- for author in entry.data.authors -%}
              {%- if not loop.first -%}
                {%- if not loop.last -%},&amp;ensp;{%- else -%}&amp;ensp;and&amp;ensp;{%- endif -%}
              {%- endif -%}
              {{- author.name -}}
            {%- endfor -%}
            &lt;br /&gt;
        {% endif %}
        &lt;a href="{{ entry.data.link }}"&gt;{{ entry.data.link }}&lt;/a&gt;
        &lt;/p&gt;
        &lt;figure&gt;&lt;img src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_300,h_200/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ entry.data.link }}" width="300" height="200" /&gt;&lt;/figure&gt;
      {% endif %}
        {{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}
      </content>
    </entry>
  {% endfor %}
</feed>
