---
layout: null
permalink: /feeds/billets.xml
---

{% extends "./../_layouts/feed.njk" %}

{% block title %}Nicolas Hoizey - Billets{% endblock %}

{% block self %}billets.xml{% endblock %}

{% block page %}billets/{% endblock %}

{% block id %}billets/{% endblock %}

{% block update %}{{ collections.billets | rssLastUpdatedDate }}{% endblock %}

{% block entries %}
  {% for entry in collections.billets | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{% endset %}
    <entry>
      <title>{{ entry.data.body.title }}</title>
      <link href="{{ absoluteEntryUrl }}"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">
        {% if entry.data.photo %}
          &lt;div style="max-width: 33%; float: right; margin: 0 0 1em 1em;"&gt;
            &lt;p&gt;Une photo prise un {{ entry.date | dayMonth }} :&lt;/p&gt;
            &lt;figure&gt;
              &lt;img
                src="https://res.cloudinary.com/nho/image/fetch/w_800,q_auto,f_auto/{{ entry.data.photo.src }}"
                alt="{{ entry.data.photo.title }}"
                width="{{ entry.data.photo.width }}"
                height="{{ entry.data.photo.height }}"
                crossorigin="anonymous"
                /&gt;
              &lt;figcaption&gt;&lt;a href="{{ entry.data.photo.url }}"&gt;{{ entry.data.photo.title }}&lt;/a&gt;&lt;/figcaption&gt;
            &lt;/figure&gt;
          &lt;/div&gt;
        {% endif %}
        {{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}
      </content>
    </entry>
  {% endfor %}
{% endblock %}
