---
layout: null
permalink: /feeds/links.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Nicolas Hoizey - Links</title>
  <link href="{{ site.url }}/feeds/links.xml" rel="self"/>
  <link href="{{ site.url }}/links/"/>
  <updated>{{ collections.links | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}/links/</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>

  {% for entry in collections.links | limit(20) %}
    {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(site.url) }}{% endset %}
    <entry>
      <link href="{{ absoluteEntryUrl }}"/>
      <title>{{ entry.data.title }}</title>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">
        &lt;p&gt;
        {% if entry.data.authors %}
          {%- for author in entry.data.authors -%}
            {%- if not loop.first -%}
              {%- if not loop.last -%},&amp;ensp;{%- else -%}&amp;ensp;and&amp;ensp;{%- endif -%}
            {%- endif -%}
            {{- author.name -}}
          {%- endfor -%}
          &amp;ensp;wrote&lt;br /&gt;
        {% endif %}
        &lt;a href="{{ entry.data.link }}"&gt;{{ entry.data.link }}&lt;/a&gt;
        &lt;/p&gt;
        &lt;figure&gt;&lt;img src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_600,h_400/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ entry.data.link }}" /&gt;&lt;/figure&gt;
        {{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}
      </content>
      <link rel="enclosure" type="image/png"
      href="https://res.cloudinary.com/nho/image/fetch/c_fill,f_png,q_auto,w_600,h_400/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ entry.data.link }}"/>
      {%- for tag in entry.tags -%}
        <category term="{{ tag | slugify }}" label="{{ tag }}"/>
      {%- endfor -%}
    </entry>
  {% endfor %}

</feed>
