---
layout: null
permalink: /feeds/notes-twitter-without-image.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Nicolas Hoizey - Notes</title>
  <link href="{{ pkg.homepage }}/notes/" />
  <updated>{{ collections.notes | rssLastUpdatedDate }}</updated>
  <id>{{ pkg.homepage }}/notes/</id>
  <author>
    <name>{{ pkg.author.name }}</name>
    <email>{{ pkg.author.email }}</email>
  </author>
  {% for entry in collections.notes | limit(50) %}
    {% if not entry.data.rawContent | hasImage %}
      {% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{% endset %}
      <entry>
        <title>💬 Note from {{ entry.date | date("Do MMMM YYYY") }}</title>
        <link href="{{ absoluteEntryUrl }}"/>
        <updated>{{ entry.date | rssDate }}</updated>
        <id>{{ absoluteEntryUrl }}</id>
        <content type="html"><![CDATA[{{ entry.data.rawContent | noteToTweetForIfttt(absoluteEntryUrl) | safe }}<br /><br />https://nho.io/n/{{ entry.url | replace("/notes/", "") }}]]></content>
      </entry>
    {% endif %}
  {% endfor %}
</feed>
