---
layout: null
permalink: /feeds/notes.xml
---

{% extends "./../_layouts/feed.njk" %}

{% block title %}Nicolas Hoizey - Notes{% endblock %}

{% block self %}notes.xml{% endblock %}

{% block page %}notes/{% endblock %}

{% block id %}notes/{% endblock %}

{% block update %}{{ collections.notes | rssLastUpdatedDate }}{% endblock %}

{% block entries %}
  {% for entry in collections.notes | limit(20) %}
    {%- set absoluteEntryUrl -%}{{- entry.url | url | absoluteUrl(pkg.homepage) -}}{%- endset -%}
    <entry>
      <title>Note from {{ entry.date | formattedDateTime }}</title>
      <link href="{{ absoluteEntryUrl }}"/>
      <updated>{{ entry.date | rssDate }}</updated>
      <id>{{ absoluteEntryUrl }}</id>
      <content type="html">{{ entry.templateContent | cleanDeepLinks | htmlToAbsoluteUrls(absoluteEntryUrl) }}</content>
    </entry>
  {% endfor %}
{% endblock %}
