---
layout: null
permalink: /feeds/webmentions.xml
---

{% extends "./../_layouts/feed.njk" %}

{% block title %}Nicolas Hoizey - Webmentions{% endblock %}

{% block self %}webmentions.xml{% endblock %}

{% block page %}tools/latest-webmentions/{% endblock %}

{% block id %}tools/latest-webmentions/{% endblock %}

{% block update %}{{ build.timestamp }}{% endblock %}

{% block entries %}
  {% set webmentions = '' | getLatestWebmentions %}

  {% for webmention in webmentions | reverse %}
    <entry>
      <title>{{ webmention['wm-target'] }}</title>
      <link href="{{ webmention['wm-target'] }}"/>
      <updated>{{ webmention.published }}</updated>
      <id>{{ webmention['wm-target'] }}</id>
      <content type="html">
        &lt;p&gt;&lt;a href="{{ webmention.url }}"&gt;{{ webmention.url }}&lt;/a&gt;&lt;/p&gt;
        &lt;p&gt;Type: {{ webmention['wm-property'] }}&lt;/p&gt;
        &lt;p&gt;{{ webmention.content.text }}&lt;/p&gt;
      </content>
    </entry>
  {% endfor %}
{% endblock %}
