---
layout: null
permalink: /feeds/webmentions.xml
---

{% extends "./../_layouts/feed.njk" %}

{% block title %}Nicolas Hoizey - Webmentions{% endblock %}

{% block self %}webmentions.xml{% endblock %}

{% block page %}tools/latest-webmentions/{% endblock %}

{% block id %}tools/latest-webmentions/{% endblock %}

{% block update %}{{ build.timestamp }}{% endblock %}

{% block entries %}
  {% set webmentions = '' | getLatestWebmentions %}

  {% for webmention in webmentions | reverse %}
    <entry>
      <title>👀 {{ webmention['wm-property'] }} {{ webmention['wm-target'] }}</title>
      <link href="{{ webmention['wm-target'] }}"/>
      {% if webmention.published %}
        <updated>{{ webmention.published | formattedDateTimeFromIso }}</updated>
      {% else %}
        <updated>{{ webmention['wm-received'] | formattedDateTimeFromIso }}</updated>
      {% endif %}
      <id>{{ webmention['wm-target'] }}</id>
      <content type="html">
        &lt;dl&gt;
          &lt;dt&gt;&lt;/dt&gt;
          &lt;dd&gt;&lt;a href="{{ webmention.url }}"&gt;{{ webmention.url }}&lt;/a&gt;&lt;/dd&gt;
          &lt;dt&gt;Type&lt;/dt&gt;
          &lt;dd&gt;{{ webmention['wm-property'] }}&lt;/dd&gt;
          &lt;dt&gt;Target&lt;/dt&gt;
          &lt;dd&gt;&lt;a href="{{ webmention['wm-target'] }}"&gt;{{ webmention['wm-target'] | replace('https://nicolas-hoizey.com', '') }}&lt;/a&gt;&lt;/dd&gt;
          &lt;dt&gt;URL&lt;/dt&gt;
          &lt;dd&gt;&lt;a href="{{ webmention.url }}"&gt;{{ webmention.url | replace('https://twitter.com/', '@') }}&lt;/a&gt;&lt;/dd&gt;
          &lt;dt&gt;Content&lt;/dt&gt;
          &lt;dd&gt;{{ webmention.content.text }}&lt;/dd&gt;
        &lt;/dl&gt;
      </content>
    </entry>
  {% endfor %}
{% endblock %}
