// From https://github.com/ericwbailey/styled-component-template

// ============================================================================
// Type
// Name
// Link
// ============================================================================

// Long-form Comments
//
// [1] Numbered reference for comments that apply to multiple lines

.type-name {
  // 1. Encapsulated logic
  // 1.1. Variables
  // 1.2. Maps
  // 1.3. Functions
  // 1.4. Mixins
  // 1.5. Extends

  // 2. Properties
  // 2.1. Box
  // 2.2. Border
  // 2.3. Background
  // 2.4. Text
  // 2.5. Other

  // 3. Pseudo
  // 3.1. Classes
  // 3.2. Elements

  // 4. States
  // 4.1. Visited
  // 4.2. Focus
  // 4.3. Hover
  // 4.4. Active
  // 4.5. Attributes

  // 5. Contexts

  // 6. Media Queries
  // 6.1. @supports
  // 6.2. Feature Queries
  // 6.3. Breakpoints

  // 7. Nested selectors
}
