// ************************************************************
// Colors
// ************************************************************

$color-blue: #39f;
$color-red: #f33;
$color-grey: #bbb;
$color-minsk: #3d2e68;
$color-jacarta: #43246a;
$color-kingfisher-daisy: #522c82;
$color-purple-heart: #6531a6;

$color-background: #fff;
$color-text: #222;

$color-link: $color-blue;
$color-link-underline: $color-grey;
$color-link-visited: darken($color-link, 10%);
$color-link-hover: $color-purple-heart;
$color-link-active: $color-red;

$color-title: #333;
$color-hover: $color-blue;

$color-post-meta: #555;
$color-post-meta-link: #555;
$color-post-meta-hover: $color-blue;

$color-article-intro: #333;

$color-networks-background: #fff;
$color-networks-text: $color-title;
$color-networks-link: #aaa;
$color-networks-border: #fff;
$color-networks-hover: $color-link-hover;
$color-networks-specific-hover: 'twitter' #55acee, 'px500' #000,
  'flickr' #ff0084, 'github' #666, 'facebook' #3b5998, 'instagram' #3f729b,
  'deviantart' #5fbb3b, 'feed' #ee9900;

$baseline: 1.5em;

:root {
  --base-duration: 0.25s;
}

@media screen and (prefers-reduced-motion) {
  :root {
    --base-duration: 0s;
  }
}
