@import 'settings';

:root {
  font: -apple-system-body;
  --base-duration: 0.25s;
}

@media screen and (prefers-reduced-motion) {
  :root {
    --base-duration: 0s;
  }
}

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: Georgia, 'DejaVu Serif', serif;
  font-size: calc(0.9em + 0.5vw);
  line-height: 1.5;
  font-weight: 400;

  color: $color-text;
  background-color: $color-background;

  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('#{$cloudinary-prefix}640/https://nicolas-hoizey.com/assets/limbes.jpg');

  @media (min-width: 640px), (min-resolution: 2dppx) {
    background-image: url('#{$cloudinary-prefix}1024/https://nicolas-hoizey.com/assets/limbes.jpg');
  }

  @media (min-width: 1024px), (min-width: 512px) and (min-resolution: 2dppx) {
    background-image: url('#{$cloudinary-prefix}1280/https://nicolas-hoizey.com/assets/limbes.jpg');
  }

  @media (min-width: 1280px), (min-width: 640px) and (min-resolution: 2dppx) {
    background-image: url('#{$cloudinary-prefix}1534/https://nicolas-hoizey.com/assets/limbes.jpg');
  }

  scroll-behavior: smooth;

  word-break: break-word;
}

// ************************************************************
// Fonts
// ************************************************************

p {
  line-height: 1.5;
  margin: $baseline 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  letter-spacing: -0.07em;
  font-weight: 600;
  line-height: 1.3;
  margin: $baseline 0 0.5em 0;
  position: relative;

  @supports (mix-blend-mode: screen) {
    // mix-blend-mode: multiply;
    color: #000;
    background: #fff;

    &::before {
      mix-blend-mode: screen;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        155deg,
        $color-primary 0%,
        $color-primary-lighter-3 100%
      );
      pointer-events: none;
    }
  }
}

$fontBreakpoint: 40em;

$h1Increase: 3;
h1 {
  margin-top: 0;
  font-size: calc(0.9rem + #{$h1Increase}vw);

  @media (min-width: $fontBreakpoint) {
    font-size: calc(0.9em + #{$fontBreakpoint} * #{$h1Increase} / 100);
  }
}

$h2Increase: 2;
h2 {
  font-size: calc(0.9rem + #{$h2Increase}vw);

  @media (min-width: $fontBreakpoint) {
    font-size: calc(0.9em + #{$fontBreakpoint} * #{$h2Increase} / 100);
  }
}

$h3Increase: 1.5;
h3 {
  font-size: calc(0.9rem + #{$h3Increase}vw);

  @media (min-width: $fontBreakpoint) {
    font-size: calc(0.9em + #{$fontBreakpoint} * #{$h3Increase} / 100);
  }
}

$h4Increase: 1;
h4 {
  font-size: calc(0.9rem + #{$h4Increase}vw);

  @media (min-width: $fontBreakpoint) {
    font-size: calc(0.9em + #{$fontBreakpoint} * #{$h4Increase} / 100);
  }
}

$h5Increase: 0.5;
h5 {
  font-size: calc(0.9rem + #{$h5Increase}vw);

  @media (min-width: $fontBreakpoint) {
    font-size: calc(0.9em + #{$fontBreakpoint} * #{$h5Increase} / 100);
  }
}

h6 {
  font-style: italic;
  font-size: 1rem;
}

// anchors

@mixin deeplink {
  font-size: 1.2rem;
  color: #bbb;
  text-decoration: none;
  vertical-align: middle;

  @media (min-width: 55em) {
    display: block;
    position: absolute;
    top: 0.65rem;
    left: -2rem;
  }

  svg {
    width: 1em;
    height: 1em;
    fill: #999;
  }
}

@mixin deeplinkHover {
  color: $color-secondary;

  svg {
    fill: $color-secondary;
  }
}

a.deeplink:link {
  @include deeplink;
}

a.deeplink:hover {
  @include deeplinkHover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover a.deeplink:link {
    @include deeplinkHover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
[id^='fn:'],
[id^='fnref:'] {
  &:target {
    &:before {
      content: '';
      display: block;
      height: 1rem;
      margin: -1rem 0 0;
    }

    & a.deeplink {
      @media (min-width: 55em) {
        top: 1.65rem;
      }
    }
  }
}

[id^='fnref:']:target:before {
  display: inline-block;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
}

// ************************************************************
// General styles
// ************************************************************

a {
  &:link {
    margin: 0 -0.2em;
    padding: 0.2em;
    color: $color-primary;
    text-decoration: underline solid $color-primary-lighter-1;

    // Mostly for the hover effect
    // https://css-tricks.com/multi-line-padded-text/
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  &:visited {
    color: $color-primary-lighter-1;
    text-decoration: underline solid $color-primary-lighter-2;
  }

  &:hover,
  &:focus {
    color: $color-primary-lighter-4;
    background-color: $color-primary;
    text-decoration: none;

    @supports (mix-blend-mode: multiply) {
      mix-blend-mode: multiply;
    }
  }

  &:active {
    color: $color-secondary-lighter-4;
    background-color: $color-secondary;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s;
}

// For lazyloading
img[data-src] {
  opacity: 0;
}

iframe {
  max-width: 100%;
}

figure,
img,
iframe,
.embed-video-container {
  clear: both;
  margin: $baseline auto;
  display: block;
}

figure {
  text-align: center;

  img,
  iframe,
  .embed-video-container {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  &.onehalf {
    max-width: 50%;
  }

  &.onethird {
    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }
  }

  &.onefourth {
    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }

    @media (min-width: 30em) {
      max-width: 25%;
    }
  }

  &.left {
    margin: $baseline auto;

    @media (min-width: 20em) {
      float: left;
      margin: 0 $baseline $baseline 0;
    }
  }

  &.right {
    margin: $baseline auto;

    @media (min-width: 20em) {
      float: right;
      margin: 0 0 $baseline $baseline;
    }
  }
}

.logo,
.poster {
  display: block;
  margin: $baseline auto;
  max-width: 50%;

  @media (min-width: 20em) {
    float: right;
    margin: 0 0 5vw 5vw;
    max-width: 33%;
  }

  @media (min-width: 67em) {
    margin: 0 0 3.35em 3.35em;
  }
}

figcaption {
  // http://nocode.in/aligning-text-smartly-in-css/
  display: inline-block;
  text-align: left;

  font-size: 0.9em;
  font-style: italic;
  margin: 0.1em 1em;
  padding: 0.3em 0;
  color: #999;

  p {
    margin: 0;
  }
}

// ************************************************************
// no delay on focusable elements in iOS:
// https://adactio.com/journal/10019
// https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
// ************************************************************

a,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

// ************************************************************
// Utilities
// ************************************************************

.wrap {
  width: 90vw;
  max-width: $maxLayoutWidth;
  margin: 0 auto;
}

.clearfix {
  &::after {
    // http://nicolasgallagher.com/micro-clearfix-hack/
    content: ' ';
    display: table;
    clear: both;
  }
}

.responsive-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// ************************************************************
// Preserve aspect ratio
// https://css-tricks.com/aspect-ratio-boxes/#article-header-id-7
// ************************************************************

[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio'] {
    position: relative;
  }
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

// ************************************************************
// Main content
// ************************************************************

main {
  margin: 4rem 0 0;
  flex: 1;
}

.intro {
  margin: 0 0 2em;
  font-size: 1.2em;
  color: $color-article-intro;
}

.list {
  clear: both;

  h2,
  h3 {
    margin-bottom: 0;
  }

  .post {
    margin: 3em 0;
    padding: 0;

    h2,
    h3 {
      margin-top: 0;
    }

    p {
      margin: 0.5em 0;
    }
  }

  .post:first-child {
    margin-top: 2rem;
  }
}

article {
  margin: 0;

  footer {
    color: $color-meta;
    font-size: 0.8em;

    ul {
      list-style-type: none;
      margin: 0.2em 0;
      padding: 0;
    }

    li {
      margin: 0;
      display: inline-block;
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-right: 1em;
      }

      a {
        &:link,
        &:visited {
          color: $color-darkgrey;
          text-decoration: underline solid $color-grey;
        }

        &:hover,
        &:focus {
          color: $color-primary-lighter-4;
          background-color: $color-primary;
          text-decoration: none;
        }
      }
    }

    svg {
      fill: lighten($color-meta, 20%);
      vertical-align: middle;
      margin: 0 0.2em 0 0;
      padding: 0;

      width: 1.1em;
      height: 1.1em;
    }
  }

  h1 ~ p:first-of-type {
    font-size: 1.2em;
  }

  ul {
    margin: 1em 0;
    padding: 0 1em;
  }

  li {
    margin: 0 0 0.5em 0;
  }

  blockquote,
  .intro,
  .footnotes {
    margin: $baseline 0;
  }

  blockquote {
    position: relative;
    overflow: hidden;

    padding: 1vw 7vw;

    color: #333;
    background-color: $color-primary-lighter-5;
    border-left: 1vw solid $color-primary;

    font-style: italic;

    &::before {
      position: absolute;
      left: 2vw;
      top: 0;

      content: '\201C';

      color: $color-primary;

      font-size: 10vw;
      line-height: 1;
    }

    p:first-child {
      margin-top: 1vw;
    }

    p:last-child {
      margin-bottom: 1vw;
    }

    code.highlighter-rouge {
      background-color: $color-primary-lighter-3;
      color: #000;
      font-style: normal;
    }

    blockquote {
      color: #333;
      background-color: $color-primary-lighter-4;
      border-left: 1vw solid $color-primary-lighter-1;
      font-style: normal;

      &::before {
        color: $color-primary-lighter-1;
      }
    }
  }

  table {
    border-collapse: collapse;
  }

  thead {
    background-color: #eee;

    th {
      vertical-align: bottom;
    }
  }

  th,
  td {
    padding: 0.3em 0.5em;
    border: 1px solid #ccc;
    vertical-align: top;
  }

  kbd,
  code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    display: inline-block;
    padding: 0 0.3em;
    border-radius: 0.3em;
  }

  kbd {
    color: #444d56;
    background-color: #f3f3f3;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    box-shadow: inset 0 -1px 0 #959da5;
  }

  code.highlighter-rouge {
    background-color: #e0e0e0;
  }

  a.footnote,
  a.reversefootnote {
    text-decoration: none;
    padding: 0 0.2em;
  }

  // https://gist.github.com/unruthless/413930
  sub,
  sup {
    // Specified in % so that the sup/sup is the right size relative to the surrounding text
    font-size: 75%;

    // Zero out the line-height so that it doesn't interfere with the positioning that follows
    line-height: 0;

    // Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text
    position: relative;

    // Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule
    vertical-align: baseline;
  }

  sup {
    // Move the superscripted text up
    top: -0.5em;
  }

  sub {
    // Move the subscripted text down, but only half as far down as the superscript moved up
    bottom: -0.25em;
  }

  .footnotes {
    margin: 2em 0;
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 0.9em;

    ol {
      margin: 0;
      padding: 0 1em 0 2em;
      list-style-position: outside;
    }
  }

  .socialphoto {
    background-color: #eef;
    color: #333;
    padding: 1em;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }

  .edit {
    border-top: 1px dotted #ccc;
    padding: 0.5em 0;
    font-size: 0.9em;
    color: #999;
  }
}

.giphy {
  margin: 2em 0;
  padding: 0;
  clear: both;

  video {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

// ************************************************************
// Offline
// ************************************************************

#offline-notification {
  display: none;

  body.offline & {
    display: block;
  }
}

// ************************************************************
// Alerts and error messages
// ************************************************************

.alert {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 1em 0;
  border: 1px solid transparent;
  border-radius: 0.5em;

  transition-property: background-color, border-color, color;
  transition-duration: var(--base-duration);
  transition-timing-function: ease-in-out;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

  .alert__link {
    color: #2b542c;
  }
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;

  .alert__link {
    color: #66512c;
  }
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;

  .alert__link {
    color: #843534;
  }
}

.alert__icon {
  margin: 0;
  line-height: 1;
  font-size: 2.5em;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
  }
}

.alert__message {
  margin: 0;
  flex: 1;
  padding-left: 0.5em;
}
