@import 'settings';
@import 'rve';
@import 'monokai';

// File link icons
a[href$='.zip'],
a[href$='.kml'] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
}

a[href$='.zip'] {
  background: url(/assets/icons/zip.svg) 0 0 no-repeat;
}

a[href$='.kml'] {
  background: url(/assets/icons/kml.svg) 0 0 no-repeat;
}

// ************************************************************
// Search results
// ************************************************************

#results {
  .nb {
    text-align: center;
  }

  .algolia__result-highlight {
    color: #000;
  }

  .tags .algolia__result-highlight,
  p .algolia__result-highlight {
    font-weight: 700;
  }
}

a.icon {
  font-size: 2em;
  vertical-align: middle;
  color: $color-icon-link;
  text-decoration: none;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  &:hover {
    color: $color-icon-hover;
  }
}
