---
title: Nicolas Hoizey, passionné de Web et de photographie. Entre autres…
layout: home
canonical: http://nicolas-hoizey.com
---

<section class="section section__bienvenue">
	<h1>Bonjour ! Je m'appelle <span class="moi">Nicolas Hoizey</span>, et je suis passionné de <a href="http://gasteroprod.com">Web</a> et de <a href="http://photosynthese.net/">photographie</a>. Entre autres…</h1>
</section>

<section class="section section__web">
	<header>
		<h2>Web</h2>
	</header>
	<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
	egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
	Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
	fusce hendrerit lacus ridiculus.</p>
</section>

<section class="section section__photographie">
	<header>
		<h2>Photographie</h2>
	</header>
	<div class="row">
		<div class="4u">
			<article class="item">
				<a href="#" class="image fit"><img src="images/unsplash_steven_lewis.jpg" alt="" /></a>
				<header>
					<h3><a href="https://unsplash.com/stevenlewis">Steven Lewis</a></h3>
				</header>
			</article>
			<article class="item">
				<a href="#" class="image fit"><img src="images/unsplash_charles_s.jpg" alt="" /></a>
				<header>
					<h3><a href="https://unsplash.com/charless">Charles S.</a></h3>
				</header>
			</article>
		</div>
		<div class="4u">
			<article class="item">
				<a href="#" class="image fit"><img src="images/unsplash_david_marcu.jpg" alt="" /></a>
				<header>
					<h3><a href="https://unsplash.com/davidmarcu">David Marcu</a></h3>
				</header>
			</article>
			<article class="item">
				<a href="#" class="image fit"><img src="images/unsplash_jasper_van_der_meij.jpg" alt="" /></a>
				<header>
					<h3><a href="https://unsplash.com/jaspervandermeij">Jasper van der Meij</a></h3>
				</header>
			</article>
		</div>
		<div class="4u">
			<article class="item">
				<a href="#" class="image fit"><img src="images/unsplash_matthew_clark.jpg" alt="" /></a>
				<header>
					<h3><a href="https://unsplash.com/matthewclarkrogers">Matthew Clark</a></h3>
				</header>
			</article>
			<article class="item">
				<a href="#" class="image fit"><img src="images/unsplash_bonnie_meisels.jpg" alt="" /></a>
				<header>
					<h3><a href="https://unsplash.com/bonniemeisels">Bonnie Meisels</a></h3>
				</header>
			</article>
		</div>
	</div>
</section>

<!-- Contact -->
<section id="contact" class="four">
	<div class="container">

		<header>
			<h2>Contact</h2>
		</header>

		<p>Elementum sem parturient nulla quam placerat viverra
		mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
		donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
		orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

		<form method="post" action="#">
			<div class="row half">
				<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
				<div class="6u"><input type="text" name="email" placeholder="Email" /></div>
			</div>
			<div class="row half">
				<div class="12u">
					<textarea name="message" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<input type="submit" value="Send Message" />
				</div>
			</div>
		</form>

	</div>
</section>
