:root {
  --base-duration: 0s;
}

@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    --base-duration: 0.25s;
  }

  body {
    scroll-behavior: smooth;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  animation-play-state: paused !important;
}

// Visually hidden (but screen reader friendly) content
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
