{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="{{ webmention.author.url }}">
                  {% if webmention.author.photo %}
                    <img
                      class="webmention__author__photo u-photo"
                      src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ webmention.author.photo }}"
                      srcset="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ webmention.author.photo }} 1x, https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_96,h_96/{{ webmention.author.photo }} 2x"
                      alt="{{ webmention.author.name }} avatar" />
                  {% else %}
                    {% if webmention.url %}
                      <img
                        class="webmention__author__photo u-photo"
                        src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/http://image.thum.io/get/{{ webmention.url }}"
                        srcset="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/http://image.thum.io/get/{{ webmention.url }} 1x, https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_96,h_96/http://image.thum.io/get/{{ webmention.url }} 2x"
                        alt="{{ webmention.author.name }} avatar" />
                    {% endif %}
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
              </div>
            {% else %}
              {% if webmention.url %}
                <div class="webmention__author p-author h-card">
                  <a class="u-url" href="{{ webmention.url }}">
                    <img
                      class="webmention__author__photo u-photo"
                      src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/http://image.thum.io/get/{{ webmention.url }}"
                      srcset="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/http://image.thum.io/get/{{ webmention.url }} 1x, https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_96,h_96/http://image.thum.io/get/{{ webmention.url }} 2x"
                      alt="Page screenshot" />
                    <b class="p-name">{{ webmention.url | truncate: 70 }}</b>
                  </a>
                </div>
              {% endif %}
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {% capture content_size %}{{ webmention.content | strip_html | size }}{% endcapture %}
                {% assign content_size = content_size | plus: 0 %}
                {% if content_size > 400 %}
                  {{ webmention.content | strip_html | truncate: 400 }}
                {% else %}
                  {{ webmention.content }}
                {% endif %}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            <div class="webmention__meta">
              {% if webmention.pubdate %}
                <time class="webmention__pubdate dt-published"
                      datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              {% endif %}
              {% if webmention.pubdate and webmention.url %}|{% endif %}
              {% if webmention.url %}
                <a class="webmention__source u-url" href="{{ webmention.url }}">Source</a>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div>