{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <!-- nomicrotypo -->
                <a class="u-url" href="{{ webmention.author.url }}">
                  {% if webmention.author.photo %}
                    <img
                      class="webmention__author__photo u-photo"
                      data-src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ webmention.author.photo }}"
                      data-srcset="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_48,h_48/{{ webmention.author.photo }} 1x, https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_96,h_96/{{ webmention.author.photo }} 2x"
                      width= "48"
                      height="48"
                      alt="{{ webmention.author.name }} avatar" />
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b></a>
                  <!-- endnomicrotypo -->
                <a class="deeplink" href="#webmention-{{ webmention.id }}"><svg><use xlink:href="#symbol-link" /></svg></a>
              </div>
            {% else %}
              {% if webmention.url %}
                <div class="webmention__source">
                  <a class="deeplink" href="#webmention-{{ webmention.id }}"><svg><use xlink:href="#symbol-link" /></svg></a>
                  <!-- nomicrotypo -->
                  <a class="u-url" href="{{ webmention.url }}">
                    <img
                      class="webmention__source__screenshot u-photo"
                      data-src="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_300,h_200/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ webmention.url }}"
                      data-srcset="https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_300,h_200/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ webmention.url }} 1x, https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,w_600,h_400/http://image.thum.io/get/width/1200/crop/800/noanimate/{{ webmention.url }} 2x"
                      width="300"
                      height="200"
                      alt="Page screenshot" />
                    <b class="p-name">{{ webmention.url | truncate: 70 }}</b>
                  </a>
                  <!-- endnomicrotypo -->
                </div>
              {% endif %}
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {% capture content_size %}{{ webmention.content | strip_html | size }}{% endcapture %}
                {% assign content_size = content_size | plus: 0 %}
                {% if content_size > 400 %}
                  {{ webmention.content | strip_html | truncate: 400 }}
                {% else %}
                  {{ webmention.content }}
                {% endif %}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            {% if webmention.url %}
              <div class="webmention__meta">
                {% if webmention.pubdate %}
                  <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
                  |
                {% endif %}
                {% if webmention.url contains "https://twitter.com/" %}
                  <svg><use xlink:href="#symbol-twitter" /></svg>
                {% endif %}
                <a class="webmention__source u-url" href="{{ webmention.url }}">Source</a>
              </div>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div>