{% assign cloudinaryPrefix = 'https://res.cloudinary.com/nho/image/fetch/c_fill,f_auto,q_auto,' %}
{% capture webmention_types %}{{ types | join: ',' }}
{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="{{ webmention.author.url }}">
                  {% if webmention.author.photo %}
                    <img
                      class="webmention__author__photo u-photo"
                      src="/assets/avatars/default.svg"
                      data-src="{{ cloudinaryPrefix }}w_48,h_48/{{ webmention.author.photo }}"
                      data-srcset="{{ cloudinaryPrefix }}w_48,h_48/{{ webmention.author.photo }} 1x, {{ cloudinaryPrefix }}w_96,h_96/{{ webmention.author.photo }} 2x"
                      width= "48"
                      height="48"
                      alt="{{ webmention.author.name }} avatar"
                      loading="lazy"
                      crossorigin="anonymous" />
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
                <a class="deeplink" href="#webmention-{{ webmention.id }}">
                  <svg><use xlink:href="#symbol-link" /></svg>
                </a>
              </div>
            {% else %}
              {% if webmention.uri %}
                {% assign screenshot = 'https://image.thum.io/get/width/1200/crop/800/noanimate/' | append: webmention.uri %}
                <div class="webmention__source">
                  <a class="deeplink" href="#webmention-{{ webmention.id }}">
                    <svg><use xlink:href="#symbol-link" /></svg>
                  </a>
                  <img
                    class="webmention__source__screenshot u-photo"
                    src="/assets/default-screenshot.svg"
                    data-src="{{ cloudinaryPrefix }}w_300,h_200/{{ screenshot }}"
                    data-srcset="
                      {{ cloudinaryPrefix }}w_300,h_200/{{ screenshot }} 300w,
                      {{ cloudinaryPrefix }}w_480,h_320/{{ screenshot }} 480w,
                      {{ cloudinaryPrefix }}w_660,h_440/{{ screenshot }} 660w,
                      {{ cloudinaryPrefix }}w_840,h_560/{{ screenshot }} 840w,
                      {{ cloudinaryPrefix }}w_1200,h_800/{{ screenshot }} 1200w"
                    sizes="(min-width: 66.666rem) 20rem, (min-width: 40rem) 30vw, calc(90vw - 2em)"
                    width="300"
                    height="200"
                    alt="Page screenshot"
                    loading="lazy"
                    crossorigin="anonymous" />
                  <a class="u-url" href="{{ webmention.uri }}">
                    <b class="p-name">{{ webmention.uri | truncate: 70 }}</b>
                  </a>
                </div>
              {% endif %}
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {% capture content_size %}{{ webmention.content | strip_html | size }}
                {% endcapture %}
                {% assign content_size = content_size | plus : 0 %}
                {% if content_size > 400 %}
                  {{ webmention.content | strip_html | truncate: 400 }}
                {% else %}
                  {{ webmention.content }}
                {% endif %}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            {% if webmention.uri %}
              <div class="webmention__meta">
                {% if webmention.pubdate %}
                  <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
                  |
                {% endif %}
                {% if webmention.uri contains "https://twitter.com/" %}
                  <svg><use xlink:href="#symbol-twitter" /></svg>
                {% endif %}
                <a class="webmention__source u-url" href="{{ webmention.uri }}">Source</a>
              </div>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div>