<div class="header__top">
	<figure class="avatar vcard">
		<img
			src="img/avatar/nicolas-hoizey-128.jpg"
			srcset="img/avatar/nicolas-hoizey-128.jpg 1x, img/avatar/nicolas-hoizey-256.jpg 2x, img/avatar/nicolas-hoizey-384.jpg 3x"
			width="128"
			heigth="128"
			alt="Une photo de Nicolas Hoizey les cheveux au vent"
			/>
		<figcaption>
			<p class="fn">Nicolas Hoizey</p>
			<p>Passionné de Web<br />et de photographie.<br />Entre autres…</p>
		</figcaption>
	</figure>

	<nav id="nav">
		<ul>
			<li class="home"><a href="/">Accueil</a></li>
			<li class="web"><a href="/web/">Web</a></li>
			<li class="photo"><a href="/photographie/">Photographie</a></li>
			<li class="misc"><a href="/divers/">Divers</a></li>
			<li class="about"><a href="/a-propos/">À propos</a></li>
		</ul>
	</nav>

</div>

<div class="bottom">

	<!-- Social Icons -->
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>

</div>
