@import "settings";
@import "rve";
@import "highlight/one-dark-vivid";
@import "components/toast";

// File link icons
a[href$=".zip"],
a[href$=".kml"] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
}

a[href$=".zip"] {
  background: url(/assets/icons/zip.svg) 0 0 no-repeat;
}

a[href$=".kml"] {
  background: url(/assets/icons/kml.svg) 0 0 no-repeat;
}

// ************************************************************
// Search results
// ************************************************************

#search_results {
  .ais-Highlight {
    color: $color-blue;
    font-weight: bold;
    font-style: normal;
  }

  a:hover,
  a:focus,
  a:active {
    .ais-Highlight {
      color: $color-white;
    }
  }
}

a.icon {
  font-size: 2em;
  vertical-align: middle;
  color: $color-icon-link;
  text-decoration: none;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  &:hover {
    color: $color-icon-hover;
  }
}

// background photo in the page bottom

body {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;

  background-image: url("#{$cloudinary-prefix}640/https://nicolas-hoizey.com/assets/limbes.jpg");

  @media (min-width: 640px), (min-resolution: 2dppx) {
    background-image: url("#{$cloudinary-prefix}1024/https://nicolas-hoizey.com/assets/limbes.jpg");
  }

  @media (min-width: 1024px), (min-width: 512px) and (min-resolution: 2dppx) {
    background-image: url("#{$cloudinary-prefix}1280/https://nicolas-hoizey.com/assets/limbes.jpg");
  }

  @media (min-width: 1280px), (min-width: 640px) and (min-resolution: 2dppx) {
    background-image: url("#{$cloudinary-prefix}1534/https://nicolas-hoizey.com/assets/limbes.jpg");
  }
}

// ************************************************************
// Print styles
// ************************************************************

@media print {
  @page {
    margin: 2cm;
  }

  a,
  blockquote,
  table,
  pre,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-inside: avoid;
  }

  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  a[href^="http"]:after {
    content: " &lt; " attr(href) "&gt; ";
  }
}
