// ************************************************************
// Colors
// ************************************************************

$color-blue: #39f;
$color-red: #f33;
$color-grey: #bbb;
$color-minsk: #3d2e68;
$color-jacarta: #43246a;
$color-kingfisher-daisy: #522c82;
$color-purple-heart: #6531a6;

$color-background: #fff;
$color-text: #222;

$color-link: $color-blue;
$color-link-underline: $color-grey;
$color-link-visited: darken($color-link, 10%);
$color-link-hover: $color-purple-heart;
$color-link-active: $color-red;

$color-title: #333;
$color-hover: $color-blue;

$color-article-header: #555;
$color-article-header-link: #666;
$color-article-header-hover: $color-blue;
$color-article-intro: #333;

$color-networks-background: #fff;
$color-networks-text: $color-title;
$color-networks-link: #aaa;
$color-networks-hover: $color-link-hover;
$color-networks-border: #fff;
