$color-blue: #39f;
$color-red: #f33;

$color-link: $color-blue;
$color-link-visited: darken($color-blue, 20%);
$color-link-hover: darken($color-blue, 10%);
$color-link-active: $color-red;

$color-title: #333;
$color-hover: $color-blue;

$color-article-header: #555;
$color-article-header-link: #666;
$color-article-header-hover: $color-blue;
$color-article-intro: #333;

$color-header-text: #444;
$color-header-link: #999;
$color-header-hover: $color-blue;

$color-networks-background: #fff;
$color-networks-text: $color-title;
$color-networks-link: #aaa;
$color-networks-hover: $color-link-hover;
$color-networks-border: #fff;

$color-footer-background: #333;
$color-footer-text: #999;
$color-footer-link: #999;
$color-footer-hover: #fff;
$color-footer-border: #666;
