$color-blue: #5ae;

$color-title: #333;
$color-hover: $color-blue;

$color-article-header: #555;
$color-article-header-link: #666;
$color-article-header-hover: $color-blue;
$color-article-intro: #333;

$color-header-text: #444;
$color-header-link: #999;
$color-header-hover: $color-blue;

$color-footer-background: #333;
$color-footer-text: #999;
$color-footer-link: #999;
$color-footer-hover: #fff;
$color-footer-border: #666;
