.bt-video-container {
    margin: 25px 0;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden
}

.bt-video-container iframe, .bt-video-container object, .bt-video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin-top:0;
}
