@import "settings";

// Base font:
// http://www.paratype.com/public/
// + http://www.zachleat.com/web/foft/
@font-face {
  font-family: 'PT Serif';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: local('PT Serif'), local('PTSerif-Regular'),
       url('/assets/fonts/pt_serif/pt_serif_regular.woff2') format('woff2'),
       url('/assets/fonts/pt_serif/pt_serif_regular.woff') format('woff'),
       url('/assets/fonts/pt_serif/pt_serif_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: local('PT Sans'), local('PTSans-Bold'),
       url('/assets/fonts/pt_sans/pt_sans_bold.woff2') format('woff2'),
       url('/assets/fonts/pt_sans/pt_sans_bold.woff') format('woff'),
       url('/assets/fonts/pt_sans/pt_sans_bold.ttf') format('truetype');
}

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(.8em + .3vw + .3vh);
  line-height: 1.5;

  color: #222;
  background-color: #fff;

  scroll-behavior: smooth;
}

// ************************************************************
// Font families
// ************************************************************

body {
  font-family: Georgia, "DejaVu Serif", serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, "DejaVu Sans", sans-serif;
}

.fonts-loaded {
  body {
    font-family: "PT Serif", Georgia, "DejaVu Serif", serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans", Tahoma, Geneva, "DejaVu Sans", sans-serif;
  }
}

pre {
  // font-family: "PT Mono", "Courier New", Courier, monospace;
  font-family: "Courier New", Courier, monospace;
}

// ************************************************************
// General styles
// ************************************************************

a {
  color: $color-link;
  text-decoration: underline solid $color-blue;
}

a:visited {
  color: darken($color-link, 10%);
}

a:hover {
  color: $color-link-hover;
}

a:active {
  color: darken($color-hover, 10%);
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 700;
  color: $color-title;
}

h1, .list h2, .list h3 {
  margin: 0 0 1em;
}

h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
}

h1 {
  font-size: calc(1.3em + 0.6vw + 0.6vh);
}

h2 {
  font-size: calc(1.2em + 0.3vw + 0.3vh);
}

h3 {
  font-size: calc(1.1em + 0.1vw + 0.1vh);
}

h4 {
  font-size: 1.1em;
  font-style: italic;
}

h5 {
  font-size: 1em;
  font-style: italic;
}

pre {
  overflow-x: auto;
}

// ************************************************************
// no delay on focusable elements in (future) iOS:
// https://adactio.com/journal/10019
// ************************************************************

a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

// ************************************************************
// Global wrap
// ************************************************************

.wrap {
  width: 90vw;
  max-width: 50rem;
  margin: 0 auto;
}

// ************************************************************
// Header and footer
// ************************************************************

#header {
  font-size: 1.2em;
  margin: .5em 0 3em;

  color: $color-header-text;

  a {
    color: $color-header-link;
    text-decoration: none;
    margin-right: 1em;
    transition-duration: .1s;
    transition-property: color;
    transition-timing-function: ease-in-out;

    &:hover {
      color: $color-header-hover;
    }

    &.twitter:hover {
      color: #55acee;
    }

    &.github:hover {
      color: #666;
    }

    &.facebook:hover {
      color: #3b5998;
    }
  }

  a:last-child {
    margin-right: 0;
  }

  p:first-of-type a:hover {
    text-decoration: underline;
  }

  svg {
    height: 2em;
    fill: currentColor;
    vertical-align: middle;
  }
}

#header, #footer {
  .wrap {
    p {
      margin: 0;
      line-height: 2;

      &:last-of-type {
        text-align: right;
      }
    }

    @media (min-width: 20em){
      display: flex;
      flex-direction: row;

      p {
        flex: 1;
      }
    }
  }
}

// ************************************************************
// Main content
// ************************************************************

main {
  flex: 1;
}

.intro {
  margin: 0 0 calc(1em + 10vh);
  font-size: 1.2em;
  color: $color-article-intro;
}

.post h1,
.year h2,
.month h1 {
  a {
    color: $color-title;
    text-decoration: none;

    &:hover {
      text-decoration: underline solid $color-title;
    }
  }
}

article {
  margin: 0 0 calc(1em + 10vh);

  header {
    color: $color-article-header;

    dl {
      margin: 1vh 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    dt {
      display: none;
    }

    dd {
      margin: 0;
    }

    .date {
      white-space: nowrap;
      flex-shrink: 0;
    }

    a {
      color: $color-article-header-link;
      text-decoration: none;
      transition-property: color;
      transition-duration: .1s;
      transition-timing-function: ease-in-out;

      &:visited {
        color: $color-article-header-link;
      }

      &:hover {
        color: $color-article-header-hover;
        text-decoration: underline;
      }
    }

    @media (min-width: 30em) {
      dl {
        flex-direction: row;
      }

      .tags {
        text-align: right;
      }
    }
  }

  h1 + p:first-of-type {
    font-size: 1.2em;
  }
}

#search {
  p {
    display: flex;
    flex-direction: row;
  }

  input {
    font-size: 16px;
    margin: 0;
    padding: 8px 12px;
    border-radius: 2em;
    outline: none;
  }

  [type=search] {
    margin-right: 1em;
    flex: 1;
    border: 2px solid #ccc;

    &:focus {
      border: 2px solid $color-blue;
    }
  }

  [type=submit] {
    background-color: $color-blue;
    color: #fff;
    border: 2px solid darken($color-blue, 10%);
  }
}
