@import "normalize";
@import "unnormalize";
@import "settings";

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;

  // http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: Georgia, "DejaVu Serif", serif;
  font-size: calc(.9em + .3vw);
  line-height: 1.5;
  font-weight: 400;

  color: $color-text;
  background-color: $color-background;

  scroll-behavior: smooth;
}

// ************************************************************
// Fonts
// ************************************************************

$baseline: 1.5em;

p {
  line-height: $baseline;
  margin-bottom: $baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  color: $color-title;
  margin-bottom: .5em;
}

$h1: calc(1.5em + 1vw);
h1 {
  font-size: $h1;
  margin-top: 0;
}

$h2: calc(1.3em + .7vw);
h2 {
  font-size: $h2;
  margin-top: calc(2 * #{$baseline} - #{$h2});
}

$h3: calc(1.1em + .45vw);
h3 {
  font-size: $h3;
  margin-top: calc(2 * #{$baseline} - #{$h3});
}

$h4: calc(1em + .25vw);
h4 {
  font-size: $h4;
  font-weight: bold;
  margin-top: calc(2 * #{$baseline} - #{$h4});
}

$h5: calc(1em + .1vw);
h5 {
  font-size: $h5;
  margin-top: calc(2 * #{$baseline} - #{$h5});
  font-style: italic;
}

$h6: 1em;
h6 {
  font-size: $h6;
  margin-top: calc(2 * #{$baseline} - #{$h6});
  font-style: italic;
}

// anchors

h1, h2, h3, h4, h5, h6 {
  a.deeplink {
    font-size: .7em;
    color: #bbb;
    text-decoration: none;

    span {
      color: #fff;
    }
  }

  &:hover a.deeplink {
    color: #66f;
    text-decoration: underline;

    span {
      color: #66f;
    }
  }
}

h1, h2, h3, h4, h5, h6, [id^="fn:"], [id^="fnref:"] {
  &:target:before {
    content: "";
    display: block;
    height: 1em;
    margin: -1em 0 0;
  }
}

[id^="fnref:"]:target:before {
  display: inline-block;
}

pre {
  font-family: "Courier New", Courier, monospace;
  overflow-x: auto;
}

// ************************************************************
// General styles
// ************************************************************

a {
  &:link {
    color: $color-link;
    text-decoration: underline solid $color-link-underline;
  }

  &:visited {
    color: $color-link-visited;
    text-decoration: underline solid $color-link-underline;
  }

  &:hover, &:focus {
    color: $color-link-hover;
    text-decoration: underline solid $color-link-hover;
  }

  &:active {
    color: $color-link-active;
    text-decoration: underline solid $color-link-active;
  }
}

img, iframe {
  max-width: 100%;
  height: auto;
}

// ************************************************************
// no delay on focusable elements in (future) iOS:
// https://adactio.com/journal/10019
// ************************************************************

a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

// ************************************************************
// Utilities
// ************************************************************

.wrap {
  width: 90vw;
  max-width: 50rem;
  margin: 0 auto;
}

.clearfix {
  &::after {
    // http://nicolasgallagher.com/micro-clearfix-hack/
    content: " ";
    display: table;
    clear: both;
  }
}

// ************************************************************
// Header and footer
// ************************************************************

#header, #footer {
  .wrap {
    p, h1 {
      margin: 0;
      line-height: 2;
    }

    @media (min-width: 12em){
      display: flex;
      flex-direction: row;
      align-items: center;

      *:first-child {
        flex: 1;
      }
    }
  }
}

#header {
  font-size: 1.2em;
  margin: 0 0 2em;
  padding: 0;

  color: #fff;
  background-color: $color-jacarta;
  background: linear-gradient(155deg, $color-jacarta 0%, $color-purple-heart 100%);
  border-bottom: solid 2px $color-purple-heart;

  h1 {
    font-size: 1em;
    color: #fff;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: lighten($color-purple-heart, 40%);
    }
  }

  .site_title a:hover {
    text-decoration: underline;
  }

  .site_search a {
    display: inline-block;
    line-height: 1;
    margin-right: -.4em;
    padding: .4em;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    vertical-align: middle;
  }
}

// ************************************************************
// Main content
// ************************************************************

main {
  flex: 1;
}

.intro {
  margin: 0 0 2em;
  font-size: 1.2em;
  color: $color-article-intro;
}

.list {
  clear: both;
}

.thumbnail {
  width: 20%;
  max-width: 128px;
  float: right;
  margin: 0 1em 1em 0;
}

.recent, .related {
  article {
    clear: right;

    h2 {
      font-size: $h3;
      margin-top: 0;
    }
  }
}

article {
  margin: 0 0 3em;

  header {
    color: $color-article-header;
    font-size: .9em;

    ul {
      list-style-type: none;
      margin: .2em 0;
      padding: 0;
    }

    svg {
      fill: lighten($color-article-header, 20%);
      vertical-align: middle;
      margin: 0 .3em 0 0;
      padding: 0;

      width: 1.1em;
      height: 1.1em;
      @media (min-width: 30em) {
        width: 1.3em;
        height: 1.3em;
      }
    }

    .date {
      white-space: nowrap;
      flex-shrink: 0;
    }

    a {
      &:link, &:visited {
        color: $color-article-header-link;
        text-decoration: none;
      }

      &:hover, &:focus {
        color: $color-article-header-hover;
        text-decoration: underline;
      }
    }
  }

  h1 ~ p:first-of-type {
    font-size: 1.2em;
  }

  ul {
    margin: 1em 0;
  }

  li {
    margin: 0 0 .5em 0;
  }
}

#search {
  p {
    display: flex;
    flex-direction: row;
  }

  input {
    font-size: 16px;
    margin: 0;
    padding: 8px 12px;
    border-radius: 2em;
    outline: none;
  }

  [type=search] {
    flex: 1;
    border: 2px solid #ccc;

    &:focus {
      border: 2px solid $color-purple-heart;
    }
  }

  [type=submit] {
    margin-left: 1em;
    background-color: $color-blue;
    color: #fff;
    border: 2px solid darken($color-blue, 10%);
  }
}

#powered-by-algolia {
  text-align: right;
  font-size: .8em;

  svg {
    height: 1.7em;
    width: auto;
    vertical-align: bottom;
  }
}

.responsive-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.logo {
  display: block;
  margin: 1em auto;
  max-width: 50%;
  height: auto;

  @media (min-width: 20em) {
    float: right;
    margin: 0 0 1em 1em;
    max-width: 33%;
  }

  @media (min-width: 30em) {
    max-width: 25%;
  }
}

.error {
  background-color: lighten($color-red, 35%);
  color: $color-red;
  border: 1px solid $color-red;
  padding: .2em .5em;

  p {
    margin: .5em;
  }

  .icon {
    font-size: 2.5em;
    line-height: 1;
    float: left;
    margin: .2em .3em .3em 0;

    svg {
      fill: $color-red;
    }
  }
}

#networks {
  margin-top: 2em;
  font-size: 1.5em;
  text-align: center;

  span {
    white-space: nowrap;
  }

  a {
    display: inline-block;
    padding: .3em;
    padding: 2vw;
  }
}

