@import "normalize";
@import "unnormalize";
@import "settings";

// Box sizing:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;

  // http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: Georgia, "DejaVu Serif", serif;
  font-size: calc(.9em + .3vw + .3vh);
  font-weight: 400;
  line-height: 1.5;

  color: $color-text;
  background-color: $color-background;

  scroll-behavior: smooth;
}

// ************************************************************
// Fonts
// ************************************************************

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  color: $color-title;
  letter-spacing: -.01em;
}

h1 {
  font-size: calc(1.3em + .5vw + .5vh);
}

h2 {
  font-size: calc(1.2em + .3vw + .3vh);
}

h3 {
  font-size: calc(1.1em + .1vw + .1vh);
}

h4 {
  font-size: calc(1em + .1vw + .1vh);
  font-style: italic;
}

h5 {
  font-size: 1em;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  a.deeplink {
    font-size: .7em;
    // font-weight: 400;
    color: #999;
    text-decoration: none;

    svg {
      width: 1em;
      height: 1em;
      fill: currentColor;
    }

    &:hover {
      color: #66f;
      text-decoration: underline;
    }
  }
}

pre {
  font-family: "Courier New", Courier, monospace;
  overflow-x: auto;
}

// ************************************************************
// General styles
// ************************************************************

a {
  color: $color-link;
  text-decoration: underline solid $color-link-underline;
}

a:visited {
  color: $color-link-visited;
  text-decoration: underline solid $color-link-underline;
}

a:hover, a:focus {
  color: $color-link-hover;
  text-decoration: underline solid $color-link-hover;
}

a:active {
  color: $color-link-active;
  text-decoration: underline solid $color-link-active;
}

strong {
  font-weight: 700;
}

h1, .list h2, .list h3 {
  margin: 0 0 1em;
}

h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

// ************************************************************
// no delay on focusable elements in (future) iOS:
// https://adactio.com/journal/10019
// ************************************************************

a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

// ************************************************************
// Global wrap
// ************************************************************

.wrap {
  width: 90vw;
  max-width: 50rem;
  margin: 0 auto;
}

// ************************************************************
// Header and footer
// ************************************************************

#header {
  font-size: 1.2em;
  margin: .5em 0 3em;

  color: $color-header-text;

  h1 {
    margin-bottom: 0;
  }

  a {
    color: $color-header-link;
    text-decoration: none;
    margin-right: 1em;
    transition-duration: .1s;
    transition-property: color;
    transition-timing-function: ease-in-out;

    &:hover {
      color: $color-header-hover;
    }
  }

  a:last-child {
    margin-right: 0;
  }

  p:first-of-type a:hover {
    text-decoration: underline;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    vertical-align: middle;
  }
}

#header, #footer {
  .wrap {
    p {
      margin: 0;
      line-height: 2;

      &:last-of-type {
        text-align: right;
      }
    }

    @media (min-width: 20em){
      display: flex;
      flex-direction: row;

      p {
        flex: 1;
      }
    }
  }
}

// ************************************************************
// Main content
// ************************************************************

main {
  flex: 1;
}

.intro {
  margin: 0 0 2em;
  font-size: 1.2em;
  color: $color-article-intro;
}

.post h1,
.year h2,
.month h1 {
  a {
    color: $color-title;
    text-decoration: none;

    &:hover {
      text-decoration: underline solid $color-title;
    }
  }
}

.latest, .recent article {
  ul {
    flex-direction: column;
  }
}

.recent, .related {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  article {
    flex: 0 0 100%;

    @media (min-width: 32em) {
      flex: 0 0 48%;
    }

    @media (min-width: 50em) {
      flex: 0 0 31%;
    }

    h2 {
      font-size: calc(1em + 0.2vw + 0.1vh);
      margin: 0;
    }
  }
}

article {
  margin: 0 0 calc(3em + 3vh);

  &::after {
    // http://nicolasgallagher.com/micro-clearfix-hack/
    content: " ";
    display: table;
    clear: both;
  }

  header {
    color: $color-article-header;
    font-size: .9em;

    ul {
      list-style-type: none;
      margin: 1vh 0;
      padding: 0;
    }

    svg {
      fill: lighten($color-article-header, 20%);
      vertical-align: middle;

      width: 1.1em;
      height: 1.1em;
      @media (min-width: 30em) {
        width: 1.3em;
        height: 1.3em;
      }
    }

    .date {
      white-space: nowrap;
      flex-shrink: 0;
    }

    a {
      color: $color-article-header-link;
      text-decoration: none;
      transition-property: color;
      transition-duration: .1s;
      transition-timing-function: ease-in-out;

      &:visited {
        color: $color-article-header-link;
      }

      &:hover {
        color: $color-article-header-hover;
        text-decoration: underline;
      }
    }
  }

  h1 ~ p:first-of-type {
    font-size: 1.2em;
  }
}

#search {
  p {
    display: flex;
    flex-direction: row;
  }

  input {
    font-size: 16px;
    margin: 0;
    padding: 8px 12px;
    border-radius: 2em;
    outline: none;
  }

  [type=search] {
    flex: 1;
    border: 2px solid #ccc;

    &:focus {
      border: 2px solid $color-blue;
    }
  }

  [type=submit] {
    margin-left: 1em;
    background-color: $color-blue;
    color: #fff;
    border: 2px solid darken($color-blue, 10%);
  }
}

#powered-by-algolia {
  text-align: right;
  font-size: .8em;

  svg {
    height: 1.7em;
    width: auto;
    vertical-align: bottom;
  }
}

.responsive-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.logo {
  display: block;
  float: right;
  margin: 0 0 1em 1em;
  max-width: 33%;
  height: auto;

  @media (min-width: 30em) {
    max-width: 25%;
  }
}
