@font-face {
    font-family: 'PT Serif';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/pt_serif/pt_serif_italic.woff2') format('woff2'),
         url('/assets/fonts/pt_serif/pt_serif_italic.woff') format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/fonts/pt_serif/pt_serif_bold.woff2') format('woff2'),
         url('/assets/fonts/pt_serif/pt_serif_bold.woff') format('woff');
}

@font-face {
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/pt_serif/pt_serif_bold_italic.woff2') format('woff2'),
         url('/assets/fonts/pt_serif/pt_serif_bold_italic.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/pt_sans/pt_sans_italic.woff2') format('woff2'),
         url('/assets/fonts/pt_sans/pt_sans_italic.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/fonts/pt_sans/pt_sans_bold_italic.woff2') format('woff2'),
         url('/assets/fonts/pt_sans/pt_sans_bold_italic.woff') format('woff');
}
