@import "settings";
@import "rve";
@import "monokai";

// File link icons
a[href$=".zip"], a[href$=".kml"] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
}

a[href$=".zip"] {
  background: url(/assets/icons/zip.svg) 0 0 no-repeat;
}

a[href$=".kml"] {
  background: url(/assets/icons/kml.svg) 0 0 no-repeat;
}

// Article
article {
  p, blockquote, .intro, .footnotes {
    margin: $baseline 0;
  }

  figure, img, iframe, .embed-video-container {
    margin: $baseline auto;
    display: block;
  }

  figure {
    text-align: center;

    img, iframe, .embed-video-container {
      display: block;
      margin: 0 auto;
      padding: 0;
    }

    &.onehalf {
      max-width: 50%;
    }

    &.onethird {
      max-width: 33%;
    }

    &.onefourth {
      max-width: 25%;
    }

    &.left {
      float: left;
      margin: 0 $baseline $baseline 0;
    }

    &.right {
      float: right;
      margin: 0 0 $baseline $baseline;
    }
  }

  figcaption {
    // http://nocode.in/aligning-text-smartly-in-css/
    display: inline-block;
    text-align: left;

    font-size: .9em;
    font-style: italic;
    margin: .1em 1em;
    padding: .3em 0;
    color: #999;

    p {
      margin: 0;
    }
  }

  blockquote {
    color: #666;

    padding-left: 1em;
    border-left: 3px solid #999;

    p {
      margin: 1em 0;
    }
  }

  table {
    border-collapse: collapse;
  }

  thead {
    background-color: #eee;

    th {
      vertical-align: bottom;
    }
  }

  th, td {
    padding: .3em .5em;
    border: 1px solid #ccc;
    vertical-align: top;
  }

  kbd, code {
    font-family: "Courier New", Courier, monospace;
    font-size: .9em;
    display: inline-block;
    padding: 0 .3em;
    border-radius: .3em;
  }

  kbd {
    color: #444d56;
    background-color: #f3f3f3;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    box-shadow: inset 0 -1px 0 #959da5;
  }

  code.highlighter-rouge {
    background-color: #e0e0e0;
  }

  a.footnote, a.reversefootnote {
    text-decoration: none;
    padding: 0 .2em;
  }

  // https://gist.github.com/unruthless/413930
  sub, sup {
    // Specified in % so that the sup/sup is the right size relative to the surrounding text
    font-size: 75%;

    // Zero out the line-height so that it doesn't interfere with the positioning that follows
    line-height: 0;

    // Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text
    position: relative;

    // Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule
    vertical-align: baseline;
  }

  sup {
    // Move the superscripted text up
    top: -0.5em;
  }

  sub {
    // Move the subscripted text down, but only half as far down as the superscript moved up
    bottom: -0.25em;
  }

  .footnotes {
    margin: 2em 0;
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
    border-radius: .3em;
    font-size: .9em;

    ol {
      margin: 0;
      padding: 0 1em 0 2em;
      list-style-position: outside;
    }
  }

  .socialphoto {
    background-color: #eef;
    color: #333;
    padding: 1em;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }

  .edit {
    border-top: 1px dotted #ccc;
    padding: .5em 0;
    font-size: .9em;
    color: #999;
  }
}

// ************************************************************
// Comments
// ************************************************************

.comments__list {
  list-style: none;
  padding: 0;
}

.comments__item {
  clear: left;
  position: relative;
  padding: .5em 0 0 4em;
  min-height: 3em;

  article {
    margin: 0 0 2em;
  }
}

.comment__author {
  font-size: .9em;
  font-weight: normal;
}

.comment--author-starts .comment__author .p-name {
  display: none;
}

.comment__author__photo {
  display: block;
  position: absolute;
  top: .8em;
  left: 0;
  width: 3em;
  height: 3em;
  margin: 0;
  border-radius: 5px;
}

.comment__content {
  margin: 0;

  p {
    margin: 0;
  }
}

.comment__meta {
  color: $color-post-header;
  font-size: .9em;
}

// ************************************************************
// Webmentions
// ************************************************************

.webmention__author {
  font-size: .9em;
  font-weight: normal;
}

.webmention--author-starts .webmention__author .p-name {
  display: none;
}

[data-webmention-types*=replies] {
  .webmentions__item {
    clear: left;
    position: relative;
    padding: .5em 0 0 4em;
    min-height: 3em;

    article {
      margin: 0 0 2em;
    }
  }

  .webmention__author__photo {
    display: block;
    position: absolute;
    top: .8em;
    left: 0;
    width: 3em;
    height: 3em;
    margin: 0;
    border-radius: 5px;
  }

  .webmention__content {
    margin: 0;

    p {
      margin: 0;
    }
  }

  .webmention__meta {
    color: $color-post-header;
    font-size: .9em;
  }
}

// ************************************************************
// Tags cloud
// ************************************************************

.tagscloud {
  a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: .5vw;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .set-1 {
    font-size: .9em;
  }

  .set-2 {
    font-size: 1em;
  }

  .set-3 {
    font-size: 1.2em;
  }

  .set-4 {
    font-size: 1.5em;
  }

  .set-5 {
    font-size: 1.9em;
  }
}

img.tag {
  max-width: 25%;
  float: right;
  margin: 0 0 2em 1em;
}

// Search results

#results {
  .nb {
    text-align: center;
  }

  .algolia__result-highlight {
    color: #000;
  }

  .tags .algolia__result-highlight, p .algolia__result-highlight {
    font-weight: 700;
  }
}

a.icon {
  font-size: 2em;
  vertical-align: middle;
  color: $color-networks-link;
  text-decoration: none;
  transition-duration: .1s;
  transition-property: color;
  transition-timing-function: ease-in-out;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  &:hover {
    color: $color-networks-hover;
  }

  @each $network in $color-networks-specific-hover {
    &.#{nth($network, 1)}:hover {
      color: nth($network, 2);
    }
  }
}

#footer {
  margin-top: 1em;

  color: #fff;
  background: linear-gradient(155deg, $color-minsk 0%, $color-kingfisher-daisy 100%);
  border-top: 2px solid $color-kingfisher-daisy;

  p {
    color: #fff;
  }

  svg {
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    fill: #fff;
  }

  a {
    &:link, &:visited {
      color: #fff;
      text-decoration: underline solid lighten($color-purple-heart, 40%);
    }

    &:hover, &:focus {
      color: lighten($color-purple-heart, 40%);
    }

    &:active {
      color: $color-red;
    }
  }
}

// ************************************************************
// Error
// ************************************************************

.error {
  margin: 1em 0;
  padding: .2em .5em;
  background-color: lighten($color-red, 35%);
  color: $color-red;
  border: 1px solid $color-red;
  border-radius: .3em;

  p {
    margin: .5em;
  }

  .icon {
    font-size: 2.5em;
    line-height: 1;
    float: left;
    margin: .2em .3em .3em 0;

    svg {
      fill: $color-red;
    }
  }
}

// ************************************************************
// Offline
// ************************************************************

.offline_indicator {
  transition: opacity .5s ease-in-out;

  svg {
    fill: $color-red;
  }

  body.offline & {
    opacity: 1;
  }
}

// body.offline {
//   a:not(.cached) {
//     opacity: .3;
//     pointer-events: none;
//   }
// }

// ************************************************************
// Print
// ************************************************************

@media print {
  @page { margin: 2cm }

  a, blockquote, table, pre, img,
  h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
  }

  img,
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }

  a[href^=http]:after {
    content:" &lt; " attr(href) "&gt; ";
  }
}

