@import "settings";
@import "rve";

#footer {
  margin-top: 3em;

  background-color: $color-footer-background;
  color: $color-footer-text;
  border-top: 2px solid $color-footer-border;

  p {
    color: $color-footer-text;
  }

  .label {
    display: none;

    @media (min-width: 27em) {
      display: inline;
    }
  }

  .tool {
    display: none;

    @media (min-width: 32em) {
      display: inline;
    }
  }

  a {
    color: $color-footer-link;

    &:hover {
      color: $color-footer-hover;
    }
  }
}

h1, h2, h3, h4 {
  a.deeplink {
    font-size: .9em;
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #66f;
      text-decoration: underline;
    }
  }
}

.intro {
  font-size: 1.2em;
  letter-spacing: 0;
  color: $color-article-intro;

  @media (min-width: 30em) {
    font-weight: 600;
  }
}

article {
  p, blockquote, .intro, .footnotes, figure, img, iframe {
    margin: 1em 0;
  }

  figure {
    &.two-thirds {
      max-width: 66%;
    }

    &.one-half {
      max-width: 50%;
    }

    &.one-third {
      max-width: 33%;
    }

    &.one-fourth {
      max-width: 25%;
    }

    &.left {
      float: left;
      margin: 0 1em 1em 0;
    }

    &.right {
      float: right;
      margin: 0 0 1em 1em;
    }

    img {
      display: block;
      margin: 0;
      padding: 0;
    }

    figcaption {
      font-size: .9em;
      font-style: italic;
      margin: 0;
      padding: .3em .5em;
      background-color: #eee;

      p {
        margin: 0;
      }
    }
  }

  img, iframe {
    max-width: 100%;
  }

  blockquote {
    color: #666;

    padding-left: 1em;
    border-left: 3px solid #999;

    p {
      margin: 1em 0;
    }
  }

  table {
    border-collapse: collapse;

    thead {
      background-color: #eee;

      th {
        vertical-align: bottom;
      }
    }

    th, td {
      padding: .3em .5em;
      border: 1px solid #ccc;
      vertical-align: top;
    }
  }

  a.footnote, a.reversefootnote {
    text-decoration: none;
    padding: 0 .2em;
  }

  .footnotes {
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
    font-size: .9em;

    ol {
      margin: 0;
      padding: .3em .5em .3em 1.5em;
      list-style-position: outside;
    }
  }

  .edit {
    border-top: 1px solid #ccc;
    padding: .5em 0;
    font-size: .9em;
    color: #999;
  }
}

.pagination {
  margin-bottom: 3em;
}

.tagscloud {
  a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: .5vw;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .set-1 {
    font-size: .9em;
  }

  .set-2 {
    font-size: 1em;
  }

  .set-3 {
    font-size: 1.2em;
  }

  .set-4 {
    font-size: 1.5em;
  }

  .set-5 {
    font-size: 1.9em;
  }
}

.year {
  .annees {
    display: flex;
    flex-direction: row;

    * {
      flex: 1;
    }

    .avant {
      order: 1;
    }

    h1 {
      order: 2;
      text-align: center;
    }

    .apres {
      order: 3;
      text-align: right;
    }
  }

  h2:first-letter {
    text-transform: capitalize;
  }
}

#search {
  input[type=search] {
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 2em;
    outline: none;

    &:focus {
      border: 2px solid $color-blue;
    }
  }

  input[type=submit] {
    display: none;
  }
}

.results {
  article {
    margin: 0;
  }

  dd.date {
    display: none;

    @media (min-height: 25em) {
      display: block;
    }
  }

  dd.tags {
    display: none;

    @media (min-height: 30em) {
      display: block;
    }
  }

  h3 {
    margin: 0;
    font-size: calc(1em + 1vh);

    @media (min-height: 25em) {
      margin: .3em 0 1em 0;
      font-size: 1.3em;
    }
  }
}
