@import "settings";
@import "rve";
@import "monokai";

// File link icons
a[href$=".zip"], a[href$=".kml"] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
}

a[href$=".zip"] {
  background: url(/assets/icons/zip.svg) 0 0 no-repeat;
}

a[href$=".kml"] {
  background: url(/assets/icons/kml.svg) 0 0 no-repeat;
}

// Article
article {
  p, blockquote, .intro, .footnotes {
    margin: 1em 0;
  }

  figure, img, iframe, .embed-video-container {
    margin: 2em auto;
    display: block;
  }

  img, iframe {
    max-width: 100%;
    height: auto;
  }

  figure {
    text-align: center;

    img, iframe, .embed-video-container {
      display: block;
      margin: 0 auto;
      padding: 0;
    }

    figcaption {
      // http://nocode.in/aligning-text-smartly-in-css/
      display: inline-block;
      text-align: left;

      font-size: .9em;
      font-style: italic;
      margin: .1em 1em;
      padding: .3em 0;
      color: #999;

      p {
        margin: 0;
      }
    }

    &.onehalf {
      max-width: 50%;
    }

    &.onethird {
      max-width: 33%;
    }

    &.onefourth {
      max-width: 25%;
    }

    &.left {
      float: left;
      margin: 0 1em 1em 0;
    }

    &.right {
      float: right;
      margin: 0 0 1em 1em;
    }
  }

  blockquote {
    color: #666;

    padding-left: 1em;
    border-left: 3px solid #999;

    p {
      margin: 1em 0;
    }
  }

  table {
    border-collapse: collapse;

    thead {
      background-color: #eee;

      th {
        vertical-align: bottom;
      }
    }

    th, td {
      padding: .3em .5em;
      border: 1px solid #ccc;
      vertical-align: top;
    }
  }

  a.footnote, a.reversefootnote {
    text-decoration: none;
    padding: 0 .2em;
  }

  .footnotes {
    margin: 2em 0;
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
    border-radius: .3em;
    font-size: .9em;

    ol {
      margin: 0;
      padding: 0 1em 0 2em;
      list-style-position: outside;
    }
  }

  .socialphoto {
    background: #eef;
    color: #333;
    padding: 1em;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }

  .edit {
    border-top: 1px dotted #ccc;
    padding: .5em 0;
    font-size: .9em;
    color: #999;
  }
}

.pagination {
  font-size: 1.2em;
  margin: 3em auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;

  li {
    flex-grow: 1;
    text-align: center;

    &.dist1, &.dist2, &.dist3, &.extreme {
      display: none;
    }

    @media (min-width: 20em) {
      &.extreme {
        display: block;
      }

      &.ellipsis1 {
        display: none;
      }
    }

    @media (min-width: 25em) {
      &.dist1 {
        display: block;
      }

      &.ellipsis2 {
        display: none;
      }
    }

    @media (min-width: 30em) {
      &.dist2 {
        display: block;
      }

      &.ellipsis3 {
        display: none;
      }
    }

    a, strong, &.disabled {
      padding: .1em .3em;
      border-radius: .3em;
      border: 2px solid #fff;
      text-decoration: none;
    }

    a:hover {
      border-color: $color-blue;
    }

    strong {
      // font-weight: 400;
      background-color: $color-blue;
      border-color: $color-blue;
      color: #fff;
    }

    &.next, &.prev {
      font-weight: 700;

      &.disabled {
        font-weight: 400;
      }
    }
  }
}

.tagscloud {
  a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: .5vw;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .set-1 {
    font-size: .9em;
  }

  .set-2 {
    font-size: 1em;
  }

  .set-3 {
    font-size: 1.2em;
  }

  .set-4 {
    font-size: 1.5em;
  }

  .set-5 {
    font-size: 1.9em;
  }
}

.list {
  clear: both;
}

.year {
  .annees {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .avant {
      order: 1;
    }

    h1 {
      order: 2;
      flex: 1;
      text-align: center;

      span {
        display: none;

        @media (min-width: 25em) {
          display: inline;
        }
      }
    }

    .apres {
      order: 3;
      text-align: right;
    }
  }

  h2:first-letter {
    text-transform: capitalize;
  }
}

img.tag {
  max-width: 25%;
  float: right;
  margin: 0 0 2em 1em;
}

// Search results

#results {
  .nb {
    text-align: center;
  }

  .algolia__result-highlight {
    color: #000;
  }

  .tags .algolia__result-highlight, p .algolia__result-highlight {
    font-weight: 700;
  }
}

a.icon {
  font-size: 2em;
  vertical-align: middle;
  color: $color-networks-link;
  text-decoration: none;
  transition-duration: .1s;
  transition-property: color;
  transition-timing-function: ease-in-out;

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  &:hover {
    color: $color-networks-hover;
  }

  &.twitter:hover {
    color: #55acee;
  }

  &.px500:hover {
    color: #000;
  }

  &.flickr:hover {
    color: #ff0084;
  }

  &.github:hover {
    color: #666;
  }

  &.facebook:hover {
    color: #3b5998;
  }

  &.instagram:hover {
    color: #3f729b;
  }

  &.deviantart:hover {
    color: #5fbb3b;
  }

  &.feed:hover {
    color: #ee9900;
  }
}

#networks {
  margin-top: 2em;
  font-size: 1.5em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    padding: 1em;
  }
}

#footer {
  margin-top: 1em;

  background-color: $color-footer-background;
  color: $color-footer-text;
  border-top: 2px solid $color-footer-border;

  p {
    color: $color-footer-text;
  }

  .label {
    display: none;

    @media (min-width: 27em) {
      display: inline;
    }
  }

  .tool {
    display: none;

    @media (min-width: 32em) {
      display: inline;
    }
  }

  a {
    color: $color-footer-link;

    &:hover {
      color: $color-footer-hover;
    }
  }
}


@media print {
  @page { margin: 2cm }

  a, blockquote, table, pre, img,
  h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
  }

  img,
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }

  a[href^=http]:after {
    content:" &lt; " attr(href) "&gt; ";
  }
}
