---
layout: false
pagination:
  data: collections.notesByYear
  size: 1
  alias: year
permalink: "notes/{{ year }}/"
eleventyComputed:
  title: Notes published in {{ year }}
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/archives.njk" %}
