---
layout: default
title: Notes
permalink: "notes/"
eleventyExcludeFromCollections: true
---

{% from "macros/noteCard.njk" import noteCard %}

<h2>Latest notes</h2>
<ul class="list">
  {% for note in collections.notes | limit(10) %}
    <li class="card h-entry note">
      {{ noteCard(note) }}
    </li>
  {% endfor %}
</ul>

<h2>Browse all notes</h2>
<p class="pagination">
  Years:
  {% set separator = joiner(", ") %}
  {% for noteYear in collections.yearsWithNotes %}
    {{ separator() }}
    <a href="/notes/{{ noteYear }}/">{{ noteYear }}</a>
  {%- endfor %}
</p>
