---
layout: page
title: Notes
eleventyExcludeFromCollections: true
pagination:
  data: collections.notes
  size: 10
  alias: notes
permalink: "notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}{% else %}index{% endif %}.html"
---

{% from "macros/noteCard.njk" import noteCard %}

<ul class="list">
  {% for note in pagination.items %}
    <li class="list__item list__item--large">
      <div class="card card--note">
        {{ noteCard(note.url, note.lang, note.date, note.data.tags, note.templateContent, webmentions) }}
      </div>
    </li>
  {% endfor %}
</ul>

<p class="pagination">
  Pages:
  {% set separator = joiner(", ") %}
  {%- for pageEntry in pagination.pages %}
    {{ separator() }}
    {% if page.url == pagination.hrefs[ loop.index0 ] %}
      <strong>{{ loop.index }}</strong>
    {% else %}  
      <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
    {% endif %}
  {%- endfor %}
</p>
