---
layout: false
pagination:
  data: collections.notesByMonth
  size: 1
  alias: month
permalink: "notes/{{ month }}/"
eleventyComputed:
  title: Notes published in {{ month | monthString }}
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/archives.njk" %}
