@import "settings";
@import "placeholders/links";

// ************************************************************
// Card
// ************************************************************

.card {
  margin: 0;
  padding: 0;
}

.card--article {
  font-size: 1.1em;
}

.card__author {
  margin: 0;
  padding: 0;
  font-size: 0.8em;

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.card__title {
  margin: 0;
  padding: 0;
}

.card__excerpt {
  margin: 0.5em 0;
}

.card__meta {
  margin: 0.2em 0;
  padding: 0;
  color: $color-darkgrey;
  font-size: 0.9em;

  display: flex;
  flex-wrap: wrap;
}

.card__meta__item {
  margin: 0 1em 0 0;
  flex-grow: 1;
  list-style-type: none;

  a {
    @extend %link-grey;
    white-space: nowrap;
  }

  svg {
    fill: $color-grey;
    vertical-align: middle;
    margin: 0 0.2em 0 0;
    padding: 0;

    width: 1.1em;
    height: 1.1em;
  }
}

.card__date,
.card__webmentionscount {
  white-space: nowrap;
}
