@import "settings";

// ************************************************************
// Card
// ************************************************************

.card {
}

.card__author {
  margin: 0;
  padding: 0;
  font-size: 0.8em;

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.card__title {
  margin: 0;
  padding: 0;
}

.card__meta {
  margin: 0.2em 0;
  padding: 0;

  color: $color-darkgrey;
  font-size: 0.8em;
}

.card__meta__item {
  margin: 0;
  list-style-type: none;
  display: inline-block;
  white-space: nowrap;

  &:not(:last-of-type) {
    margin-right: 1em;
  }

  a {
    &:link,
    &:visited {
      color: $color-darkgrey;
      text-decoration: underline solid $color-grey;
      box-shadow: none;
    }

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-darkgrey;
      text-decoration: none;
    }
  }

  svg {
    fill: $color-grey;
    vertical-align: middle;
    margin: 0 0.2em 0 0;
    padding: 0;

    width: 1.1em;
    height: 1.1em;
  }
}
