@import 'settings';

// ************************************************************
// Card
// ************************************************************

.card {
}

.card__author {
  margin: 0;
  padding: 0;
  font-size: 0.8em;

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.card__title {
  margin: 0;
  padding: 0;
}

.card__meta {
  margin: 0.2em 0;
  padding: 0;

  color: $color-meta;
  font-size: 0.8em;
}

.card__meta__item {
  margin: 0;
  display: inline-block;
  white-space: nowrap;

  // https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
  list-style-type: none;
  &:before {
    content: '\200B';
  }

  &:not(:last-of-type) {
    margin-right: 1em;
  }

  a {
    &:link,
    &:visited {
      color: $color-darkgrey;
      text-decoration: underline solid $color-grey;
    }

    &:hover,
    &:focus {
      color: $color-primary-lighter-4;
      background-color: $color-primary;
      text-decoration: none;
    }
  }

  svg {
    fill: lighten($color-meta, 20%);
    vertical-align: middle;
    margin: 0 0.2em 0 0;
    padding: 0;

    width: 1.1em;
    height: 1.1em;
  }
}
