@import 'settings';

#footer {
  white-space: nowrap;
  margin-top: 1em;

  color: #fff;
  background: linear-gradient(
    155deg,
    $color-primary 0%,
    $color-primary-lighter-2 100%
  );
  border-top: 1px solid $color-primary-lighter-1;

  .wrap {
    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > *:first-child {
        flex: 1;
      }
    }
  }

  p {
    margin: 0;
    line-height: 2;
    color: #fff;

    &:last-child {
      text-align: right;
    }
  }

  a {
    &:link,
    &:visited {
      color: $color-primary-lighter-4;
      text-decoration: underline solid $color-primary-lighter-3;
    }

    &:hover,
    &:focus {
      color: $color-primary-lighter-3;
      text-decoration: underline solid $color-primary-lighter-2;
    }

    &:active {
      color: $color-white;
      text-decoration: underline solid $color-primary-lighter-4;
    }
  }
}
