@import 'settings';

#footer {
  white-space: nowrap;
  margin-top: calc((670 * 0.6) / 1534 * 100vw);

  color: #fff;

  .wrap {
    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > *:first-child {
        flex: 1;
      }
    }
  }

  p {
    margin: 0;
    line-height: 2;

    &:last-child {
      text-align: right;
    }
  }

  a {
    &:link,
    &:visited {
      color: $color-primary-lighter-4;
      text-decoration: underline solid $color-primary-lighter-3;
    }

    &:hover,
    &:focus {
      color: $color-primary-lighter-3;
      text-decoration: underline solid $color-primary-lighter-2;
    }

    &:active {
      color: $color-white;
      text-decoration: underline solid $color-primary-lighter-4;
    }
  }
}
