@import 'settings';

// ************************************************************
// Header
// ************************************************************

#header {
  white-space: nowrap;
  font-size: 1.2em;
  margin: 0;
  padding: 0.2em 0;

  color: #fff;
  background: linear-gradient(
    155deg,
    $color-primary-5 0%,
    $color-primary-4 100%
  );
  border-bottom: solid 1px $color-primary-4;

  .wrap {
    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > *:first-child {
        flex: 1;
      }
    }
  }

  p,
  h1 {
    margin: 0;
    line-height: 2;

    &:last-child {
      text-align: right;
    }
  }

  h1 {
    font-size: 1em;
  }

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  .offline_indicator a {
    display: inline-block;
    line-height: 1;
    padding: 0.4em;
  }
}
