@import "settings";

// ************************************************************
// Header
// ************************************************************

#header {
  white-space: nowrap;
  font-family: $font-sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0.2em 0;

  color: #fff;
  background: linear-gradient(
    155deg,
    $color-primary 0%,
    $color-primary-lighter-1 100%
  );
  border-bottom: solid 1px $color-primary-lighter-1;

  .wrap {
    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & > *:first-child {
        flex: 1;
      }
    }
  }

  .site_title {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3;

    margin: 0;
    color: #fff;

    &:last-child {
      text-align: right;
    }
  }

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
  }

  a:hover,
  a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
    mix-blend-mode: normal;
  }

  .offline_indicator a {
    display: inline-block;
    line-height: 1;
    padding: 0.4em;
  }
}
