@import "settings";
@import "placeholders/links";

// ************************************************************
// Intro
// ************************************************************

#intro {
  margin: 0;
  font-size: calc(#{$largeTextSize});

  p {
    margin: 0;
  }

  a {
    @extend %link-fancy;
  }

  img {
    float: right;
    margin: 0 0 1em 5vw;
    width: 180px;
    max-width: 33%;
    min-width: 70px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
