@import 'settings';

// ************************************************************
// Link
// ************************************************************

.link {
  margin: 2rem 0;
  padding: 0;
}

.link__author {
  margin: 0;

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.link__author + h1,
.link__author + h2 {
  margin-top: 0;
}

.link__link {
  font-size: 1.4em;
}

@media (min-width: 40em) {
  .link__header {
    display: flex;
    flex-direction: row;
  }

  .link__info {
    flex-grow: 1;
  }

  .link__screenshot {
    flex-shrink: 0;
    margin: 0 0 1em 1em;
    max-width: 40%;

    img {
      border: 1px solid #ddd;
    }
  }
}
