@import "settings";

// ************************************************************
// Link
// ************************************************************

.link {
  margin: 2rem 0;
  padding: 0;
}

.link__source {
  margin: 0;
  padding: 0.5em 0 0 calc(48px + 1em);
  position: relative;
  min-height: calc(48px + 0.5em);

  .u-photo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
}

.link__source + h1,
.link__source + h2 {
  margin-top: 0;
}

.link__link {
  font-size: calc(#{$largeTextSize});
}

@media (min-width: 40em) {
  .link__header {
    display: flex;
    flex-direction: row;
  }

  .link__info {
    flex-grow: 1;
  }

  .link__screenshot {
    flex-shrink: 0;
    margin: 0 0 1em 1em;
    max-width: 40%;

    img {
      border: 1px solid #ddd;
    }
  }
}
