@import 'settings';

// ************************************************************
// List
// ************************************************************

.list {
  margin: 0;
  padding: 0;
  clear: both;
}

.list__title {
}

.list__items {
  margin: 3rem 0;
  padding: 0;
}

.list__item {
  margin: 3rem 0;
  padding: 0;

  // https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
  list-style-type: none;
  &:before {
    content: '\200B';
  }
}

.list__items--small {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  .list__item {
    margin: 0;
  }
}

.list__more {
  align-self: end;

  p {
    margin: 0;
  }
}
