@import "settings";

#navigation {
  color: #fff;
  background: linear-gradient(
    155deg,
    $color-primary-lighter-1 0%,
    $color-primary-lighter-2 100%
  );
  border-bottom: solid 1px $color-primary;
  margin: 0 0 calc(#{$font-size-base});

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
    flex-grow: 0.1;
  }

  a:link,
  a:visited {
    display: block;
    margin: 0 0.5em 0 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
    white-space: nowrap;
  }

  a:hover,
  a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
  }
}
