@import 'settings';

#navigation {
  font-family: $font-sans-serif;
  color: #fff;
  background: linear-gradient(
    155deg,
    $color-primary-lighter-1 0%,
    $color-primary-lighter-2 100%
  );
  border-bottom: solid 1px $color-primary;
  margin: 0 0 2rem;

  a:link,
  a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }

  a:hover,
  a:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
    mix-blend-mode: normal;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

  li {
    margin: 0 0.2em;
    flex-grow: 0.1;
    text-align: center;

    list-style-type: none;
  }
}
