@import "settings";

// ************************************************************
// Tags cloud
// ************************************************************

.tagscloud {
  a {
    &:link,
    &:visited {
      display: inline-block;
      margin: 0.2em;
      padding: 0.1em 0.3em;
      box-shadow: none;

      text-decoration: none;
      text-shadow: none;
      white-space: nowrap;

      background-color: $color-primary-lighter-2;
      color: $color-white;
      border-radius: 0.2em;

      &.set-2,
      &.set-3 {
        background-color: $color-primary-lighter-1;
      }

      &.set-4,
      &.set-5 {
        background-color: $color-primary;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-link;
      outline: none;

      &.set-2,
      &.set-3,
      &.set-4,
      &.set-5 {
        background-color: $color-link;
      }
    }

    &:active {
      background-color: $color-secondary;

      &.set-2,
      &.set-3,
      &.set-4,
      &.set-5 {
        background-color: $color-secondary;
      }
    }
  }

  .set-1 {
    font-size: 0.9em;
  }

  .set-2 {
    font-size: 1em;
  }

  .set-3 {
    font-size: 1.1em;
  }

  .set-4 {
    font-size: 1.2em;
  }

  .set-5 {
    font-size: 1.3em;
  }
}

img.tag {
  max-width: 25%;
  float: right;
  margin: 0 0 2em 1em;
}
