---
layout: default
title: Every character
---

<h1>Every character</h1>

{% assign every_char = '' %}
{% for post in site.posts %}
  {% capture post_chars %}
    {{ post.title }}
    {% include_cached post-meta.html page=post %}
    {{ post.content }}
  {% endcapture %}
  {% capture new_every_char %}{{ every_char }}{{ post_chars | strip_html | split: "" | uniq | join: "" }}
  {% endcapture %}
  {% assign every_char = new_every_char %}
{% endfor %}
{{ every_char | strip_html | split: "" | uniq | sort | join: "" }}