---
layout: default
title: First images with bugs
---

<!-- nomicrotypo -->
<h1 id="articles">First images with bugs</h1>
<section class="list recent">
  {% for post in site.posts %}
    {% capture firstImageLiquid %}{% include first-image-src.njk page=post %}{% endcapture %}
    {% capture firstImageFilter %}{{ post.content | first_image }}{% endcapture %}
    {% if firstImageFilter contains "/http" %}
      {% assign firstImageFilter = firstImageFilter | split: "/http" | last | prepend: "http" %}
    {% endif %}
    {% if firstImageLiquid != firstImageFilter %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <dl>
        <dt>Liquid include</dt>
          <dd>{{ firstImageLiquid }}</dd>
          <dd><img src="{{ firstImageLiquid }}" style="max-width: 50%" /></dd>
        <dt>Filter plugin</dt>
          <dd>{{ firstImageFilter }}</dd>
          <dd><img src="{{ firstImageFilter }}" style="max-width: 50%" /></dd>
      </dl>
    {% endif %}
  {% endfor %}
</section>
<!-- endnomicrotypo -->


