---
layout: default
title: Social images
---

<!-- nomicrotypo -->
<section class="list recent">
  {% for link in site.links reversed limit:10 %}
    <a href="{{ link.url }}"><img src="{% include_cached social-image-url.html page=link width=1200 height=630 %}" style="max-width: 100%;" /></a>
  {% endfor %}
</section>
<section class="list recent">
  {% for post in site.posts limit:10 %}
    <a href="{{ post.url }}"><img src="{% include_cached social-image-url.html page=post width=1200 height=630 %}" style="max-width: 100%;" /></a>
  {% endfor %}
</section>
<!-- endnomicrotypo -->
