---
layout: default
---

{% assign this_year = page.date | date: "%Y" | plus: 0 %}
{% assign max_year = site.time | date: "%Y" | plus: 0 %}
<div class="annees">
  <p class="avant">
    {% if this_year > 2001 %}
      <a href="/{{ this_year | minus: 1 }}/">«&nbsp;{{ this_year | minus: 1 }}</a>
    {% else %}
      <span title="Aucun contenu antérieur, désolé">«&nbsp;{{ this_year | minus: 1 }}</span>
    {% endif %}
  </p>
  <p class="apres">
    {% if this_year < max_year %}
      <a href="/{{ this_year | plus: 1 }}/">{{ this_year | plus: 1 }}&nbsp;»</a>
    {% else %}
      <span title="Patience !">{{ this_year | plus: 1 }}&nbsp;»</span>
    {% endif %}
  </p>
  <h1><span class="label">Articles de </span>{{ page.date | date: "%Y" }}</h1>
</div>

<div class="list">
  {% assign month = "" %}
  {% for post in page.posts reversed %}
    {% assign post_month = post.date | date: "%m" %}
    {% if post_month != month %}
      {% capture month_name %}{% include_cached mois.html date=post.date %}{% endcapture %}
      <h2><a href="/{{ page.date | date: "%Y" }}/{{ post.date | date: "%m" }}" class="archive-month">{{ month_name | capitalize }}</a></h2>
      {% assign month = post_month %}
    {% endif %}
  {% endfor %}
</div>

<div class="annees">
  <p class="avant">
    {% if this_year > 2001 %}
      <a href="/{{ this_year | minus: 1 }}/">«&nbsp;{{ this_year | minus: 1 }}</a>
    {% else %}
      <span title="Aucun contenu antérieur, désolé">«&nbsp;{{ this_year | minus: 1 }}</span>
    {% endif %}
  </p>
  <p class="apres">
    {% if this_year < max_year %}
      <a href="/{{ this_year | plus: 1 }}/">{{ this_year | plus: 1 }}&nbsp;»</a>
    {% else %}
      <span title="Patience !">{{ this_year | plus: 1 }}&nbsp;»</span>
    {% endif %}
  </p>
</div>
