---
layout: default
---

{% assign this_year = page.date | date: "%Y" | plus: 0 %}
{% assign max_year = site.time | date: "%Y" | plus: 0 %}
<div class="years">
  <p class="previous">
    {% if this_year > 2001 %}
      <a href="/{{ this_year | minus: 1 }}/">«&nbsp;{{ this_year | minus: 1 }}</a>
    {% else %}
      <span title="No previous content, sorry">«&nbsp;{{ this_year | minus: 1 }}</span>
    {% endif %}
  </p>
  <p class="following">
    {% if this_year < max_year %}
      <a href="/{{ this_year | plus: 1 }}/">{{ this_year | plus: 1 }}&nbsp;»</a>
    {% else %}
      <span title="Patience!">{{ this_year | plus: 1 }}&nbsp;»</span>
    {% endif %}
  </p>
  <h1><span class="label">Articles from </span>{{ page.date | date: "%Y" }}</h1>
</div>

<div class="list">
  {% assign month = "" %}
  {% for post in page.posts %}
    {% assign post_month = post.date | date: "%m" %}
    {% if post_month != month %}
      <h2><a href="/{{ page.date | date: "%Y" }}/{{ post.date | date: "%m" }}" class="archive-month">{{ post.date | date: "%B" | capitalize }}</a></h2>
      {% assign month = post_month %}
    {% endif %}

    {% include_cached post-abstract.html page=post level=3 %}
  {% endfor %}
</div>

<div class="years">
  <p class="previous">
    {% if this_year > 2001 %}
      <a href="/{{ this_year | minus: 1 }}/">«&nbsp;{{ this_year | minus: 1 }}</a>
    {% else %}
      <span title="No previous content, sorry">«&nbsp;{{ this_year | minus: 1 }}</span>
    {% endif %}
  </p>
  <p class="following">
    {% if this_year < max_year %}
      <a href="/{{ this_year | plus: 1 }}/">{{ this_year | plus: 1 }}&nbsp;»</a>
    {% else %}
      <span title="Patience!">{{ this_year | plus: 1 }}&nbsp;»</span>
    {% endif %}
  </p>
</div>
