---
layout: default
---

{% assign this_year = page.date | date: "%Y" | plus: 0 %}
{% assign this_month = page.date | date: "%m" | plus: 0 %}
{% assign max_year = site.time | date: "%Y" | plus: 0 %}
{% assign max_month = site.time | date: "%m" | plus: 0 %}
<h1>Billets de {% include mois.html page=page %} <a href="/{{ page.date | date: "%Y" }}/">{{ page.date | date: "%Y" }}</a></h1>

<div class="list">
  {% for post in page.posts reversed %}
    <article {% if post.lang %}lang="{{ post.lang }}"{% endif %}>
      <h2><a href="{{ post.url }}" {% if post.lang %}hreflang="{{ post.lang }}"{% endif %}>{{ post.title }}</a></h2>
      <header>
        <ul>
          <li class="date">
            <svg class="icon"><use xlink:href="#symbol-date" /></svg>
            {{ post.date | date: "%-d" }}
            {% include mois.html page=post %}
          </li>
          <li class="tags">
            <svg class="icon"><use xlink:href="#symbol-tags" /></svg>
            {{ post | tags }}
          </li>
        </ul>
      </header>
      {{ post.excerpt | markdownify | strip_footnotes }}
    </article>
  {% endfor %}
</div>
