---
layout: default
---

<h1>
	Billets de
  {% assign m = page.date | date: "%-m" %}
  {% case m %}
    {% when '1' %}janvier
    {% when '2' %}février
    {% when '3' %}mars
    {% when '4' %}avril
    {% when '5' %}mai
    {% when '6' %}juin
    {% when '7' %}juillet
    {% when '8' %}août
    {% when '9' %}septembre
    {% when '10' %}octobre
    {% when '11' %}novembre
    {% when '12' %}décembre
  {% endcase %}
	{{ page.date | date: "%Y" }}
</h1>

<div class="list">
	{% for post in page.posts %}
    <article>
      {% include article-header.html page=post %}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {{ post.excerpt | mardownify }}
    </article>
  {% endfor %}
</div>
