---
layout: microtypo
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% if page.path contains "about/" %}
<body itemscope itemtype="http://schema.org/AboutPage">
{% else %}
<body itemscope itemtype="http://schema.org/WebPage">
{% endif %}

{% include_cached components/svg-sprite.html %}
{% include_cached components/header.html %}
{% include_cached components/navigation.html %}

{% if page.url == "/" or page.url == "/index.html" %}
  {% include_cached components/intro.html %}
{% endif %}

<main>
  <div class="wrap">
    {{ content }}
  </div>
</main>
<div class="search">
  <div class="wrap">
    <div id="search_results" class="list results"></div>
  </div>
</div>

{% include_cached components/footer.html %}

{% asset behaviors defer %}

{% comment %}
https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery#example
{% endcomment %}
<noscript id="deferred-styles">
  {% asset non-critical-styles %}
</noscript>
<script>
  var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
      window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>

</body>

</html>
