---
layout: default
---

{% capture this_url %}{{ site.url }}{{ page.url }}{% endcapture %}

{% comment %}
Breadcrumb JSON-LD:
https://developers.google.com/search/docs/data-types/breadcrumbs
{% endcomment %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://nicolas-hoizey.com/{{ page.date | date: "%Y" }}/",
      "name": "{{ page.date | date: "%Y" }}"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://nicolas-hoizey.com/{{ page.date | date: "%Y/%m" }}/",
      "name": "{{ page.date | date: "%m" }}"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "{{ this_url }}",
      "name": "{{ page.title }}"
    }
  }]
}
</script>

<article class="main clearfix h-entry" lang="{{ page.lang }}">
  <h1 id="post" class="card__title p-name"><a href="{{ this_url }}" class="u-url">{{ page.title }}</a></h1>
  {% include_cached post-meta.html page=page %}
  <div class="e-content">{{ content }}</div>

  {% if page.flickr or page.facebook or page.instagram or page.deviantart %}
    <div class="socialphoto">
      <p>Retrouvez cette photo sur vos réseaux sociaux préférés&nbsp;:
        <span>
        {% if page.flickr %}
          <a href="{{ page.flickr }}" class="icon flickr"><svg><use xlink:href="#symbol-flickr" /></svg></a>
        {% endif %}
        {% if page.facebook %}
          <a href="{{ page.facebook }}" class="icon facebook"><svg><use xlink:href="#symbol-facebook" /></svg></a>
        {% endif %}
        {% if page.instagram %}
          <a href="{{ page.instagram }}" class="icon instagram"><svg><use xlink:href="#symbol-instagram" /></svg></a>
        {% endif %}
        {% if page.deviantart %}
          <a href="{{ page.deviantart }}" class="icon deviantart"><svg><use xlink:href="#symbol-deviantart" /></svg></a>
        {% endif %}
        </span>
      </p>
    </div>
  {% endif %}

  <p class="edit">If you want to share an error or suggest an enhancement of this content, please edit <a href="https://github.com/nhoizey/nicolas-hoizey.com/tree/master/{{ page.path }}">the source on Github</a>.</p>

  {% include components/comments.html %}
  {% include components/webmentions.html %}
</article>
