---
layout: default
---

<article class="main">
  <header>
    <dl>
      <dt>Date</dt>
      <dd class="date">
        {{ page.date | date: "%-d" }}
        <span id="month" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" itemref="post"><a href="/{{ page.date | date: "%Y/%m" }}/" itemprop="url">{% include mois.html page=page %}</a><meta itemprop="title" content="{{ page.date | date: "%m" }}" /></span>
        <span id="year" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" itemref="month"><a href="/{{ page.date | date: "%Y" }}/" itemprop="url"><span itemprop="title">{{ page.date | date: "%Y" }}</span></a></span>
      </dd>
      <dt>Tags</dt>
      <dd class="tags">{{ page | tags }}</dd>
    </dl>
  </header>

  <h1 id="post" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
    <a href="{{ site.url }}{{ page.url }}" itemprop="url">
      <span itemprop="title">{{ page.title }}</span>
    </a>
  </h1>
  {{ content }}
  {% assign source = page.path | split: '/' %}
  <p class="edit">Si vous voulez signaler une erreur ou proposer une modification de ce texte, n'hésitez pas à l'éditer directement à la source sur Github&nbsp;: <a href="https://github.com/nhoizey/nicolas-hoizey.com/tree/master/{{ page.path }}">{{ source.last }}</a></p>
</article>

{% comment %}
<aside class="list">
  <h2>À découvrir aussi</h2>
  {% for post in site.related_posts limit:3 %}
    {% if post.id != page.id %}
      <article>
        {% include article-header.html page=post %}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.excerpt | mardownify }}
      </article>
    {% endif %}
  {% endfor %}
</aside>
{% endcomment %}
