{% if related_posts != empty %}
  <h2>À découvrir aussi</h2>
  <div class="list related">
    {% for post in related_posts %}
      <article {% if post.lang %}lang="{{ post.lang }}"{% endif %} data-score="{{ post.score }}">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <!--
        {{ post | inspect }}
        // -->
        {% comment %}
        {% include_cached post-meta.html page=post %}
        {% endcomment %}
      </article>
    {% endfor %}
  </div>
{% endif %}
