---
layout: default
---

{% capture tag_image_path %}tags/{{ page.tag | slugify }}.png{% endcapture %}
{% capture tag_image %}{% file_exists {{ tag_image_path }} %}{% endcapture %}
{% if tag_image == "true" %}
  <img src="/{{ tag_image_path }}" class="tag" />
{% endif %}

<h1>{{ page.tag }}</h1>

{% capture tag_description_path %}tags/{{ page.tag | slugify }}.md{% endcapture %}
{% capture tag_description %}{% file_exists {{ tag_description_path }} %}{% endcapture %}
{% if tag_description == "true" %}
  <div class="intro">{% markdown {{ tag_description_path }} %}</div>
{% endif %}

<div class="list">
  {% for post in page.posts %}
    {% include_cached post-abstract.html page=post level=2 %}
  {% endfor %}
</div>

<div class="tagscloud">
  <h2 id="tags">Other tags to explore</h2>
  {% include_cached components/tags-cloud.html %}
</div>
