---
layout: default
---

{% asset components/list @inline %}
{% asset components/card @inline %}

{% capture tag_image_path %}tags/{{ page.tag | slugify }}.png{% endcapture %}
{% capture tag_image %}{% file_exists {{ tag_image_path }} %}{% endcapture %}
{% if tag_image == "true" %}
  <img src="/{{ tag_image_path }}" class="tag" />
{% endif %}

<h1>{{ page.tag }}</h1>

{% capture tag_description_path %}tags/{{ page.tag | slugify }}.md{% endcapture %}
{% capture tag_description %}{% file_exists {{ tag_description_path }} %}{% endcapture %}
{% if tag_description == "true" %}
  <div class="intro">{% markdown {{ tag_description_path }} %}</div>
{% endif %}

<ul class="list__items">
  {% for post in page.posts %}
    <li class="card list__item">
      {% include_cached post-abstract.html page=post level=2 %}
    </li>
  {% endfor %}
</ul>

<div class="tagscloud">
  <h2 id="tags">Other tags to explore</h2>
  {% include_cached components/tags-cloud.html %}
</div>
