---
layout: default
title: "Page non trouvée"
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>Page non trouvée</h1>
<p>Désolé, cette URL est erronée, ou la page correspondante a été supprimée.</p>
<p>Vous pouvez <a href="/">aller à l'accueil du site</a> ou utiliser la recherche ci-dessus.</p>

{# <script>
let urlWords = window.document.location.pathname;
urlWords = urlWords.replace(/^\/[0-9]{4}\/[0-9]{2}\//g, '');   // remove date of posts URLs
urlWords = urlWords.replace(/(\.html|\/)$/, '');               // remove .html or / suffixes
urlWords = urlWords.replace(/(%20|\+)/g, ' ');                 // decode spaces
urlWords = urlWords.replace(/[^a-z0-9]/gi, ' ');               // only keep alpha numerical
urlWords = urlWords.replace(/ +/g, ' ');                       // "compress" spaces
urlWords = urlWords.replace(/(^ | $)/g, '');                   // trim
let searchInput = window.document.getElementById('search_input');
searchInput.value = urlWords;
searchInput.focus();
let keyupEvent = new KeyboardEvent('keyup', {
    view: window,
    bubbles: true,
    cancelable: true
  });
let cancelledEvent = !searchInput.dispatchEvent(keyupEvent);
</script> #}
