---
layout: false
permalink: _headers
---
/*
  X-XSS-Protection: 1;mode=block
  X-Content-Type-Options: nosniff
  X-Frame-Options: SAMEORIGIN
  Referrer-Policy: no-referrer-when-downgrade
  Strict-Transport-Security: max-age=63072000; includeSubDomains; preload
  X-Clacks-Overhead: GNU Terry Pratchett

/*.js
  Content-Type: application/javascript; charset=utf-8
  Cache-Control: public, max-age=604800, immutable

/*.css
  Content-Type: text/css; charset=utf-8
  Cache-Control: public, max-age=604800, immutable

/*.svg
  Content-Type: image/svg+xml; charset=utf-8
  Vary: Accept-Encoding
  Cache-Control: public, max-age=604800, immutable

{% set documentHeaders %}
  Cache-Control: public, max-age=14405
  Link: <https://res.cloudinary.com>;rel="preconnect"
  Content-Security-Policy: upgrade-insecure-requests; base-uri 'self'; img-src 'self' data: data.nicolas-hoizey.com res.cloudinary.com i.ytimg.com image.thum.io caniuse.bitsofco.de; script-src 'self' data: 'unsafe-inline' 'unsafe-eval' data.nicolas-hoizey.com speakerdeck.com storage.googleapis.com platform.twitter.com syndication.twitter.com cdn.syndication.twimg.com cdn.jsdelivr.net assets.codepen.io static.codepen.io cpwebassets.codepen.io production-assets.codepen.io ifttt.com https://ausi.github.io/respimagelint/; object-src 'self' vimeo.com; connect-src 'self' data.nicolas-hoizey.com res.cloudinary.com *.algolia.net *.algolianet.com; report-uri https://nhocom.report-uri.com/r/d/csp/enforce
  Feature-Policy: accelerometer 'none';camera 'none';geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';payment 'none';usb 'none';ch-dpr 'self' https://res.cloudinary.com;ch-width 'self' https://res.cloudinary.com
  Permissions-Policy: accelerometer=(),camera=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),payment=(),usb=(),ch-width=(self "https://res.cloudinary.com"),ch-dpr=(self "https://res.cloudinary.com")
  Accept-CH: Save-Data,DPR,Width,Sec-CH-Prefers-Reduced-Data,Sec-CH-DPR, Sec-CH-Width
{% endset %}

/{{ documentHeaders | safe }}

/*/{{ documentHeaders | safe }}
