---
layout: default
title: Archives
---

<div class="instant-search">
  <div id="searchbox"></div>
  <div id="clear-refinements"></div>
  <dl class="refinements">
    <dt>Languages</dt>
    <dd id="langs-list"></dd>
    <dt>Types</dt>
    <dd id="types-list"></dd>
    <dt>Dates</dt>
    <dd id="dates-menu"></dd>
    <dt>Tags</dt>
    <dd id="tags-list"></dd>
  </dl>
  <div id="stats"></div>
  <div id="powered-by"></div>
  <div id="hits"></div>
  <div id="pagination"></div>
</div>

<script src="/js/{{ hashes_search['assets/js/search.js']}}"></script>
