---
layout: default
title: Archives
---

{% if build.env == 'production' %}
  {% set css %}
  {% include_raw config.dir.dist + "/css/" + hashes_css['instantsearch.css'] %}
  {% endset %}
  <style>
    {{css | safe}}
  </style>
{% else %}
  <link rel="stylesheet" href="/css/instantsearch.css" />
{% endif %}

<div class="instant-search">
  <div id="searchbox"></div>
  <div id="clear-refinements"></div>
  <dl class="refinements">
    <dt>Types</dt>
    <dd id="types-list"></dd>
    <dt>Languages</dt>
    <dd id="langs-list"></dd>
    <dt>Dates</dt>
    <dd id="dates-menu"></dd>
    <dt>Tags</dt>
    <dd id="tags-list"></dd>
  </dl>
  <div id="stats"></div>
  <div id="powered-by"></div>
  <div id="hits"></div>
  <div id="pagination"></div>
</div>

{# {% set js %}
{% include_raw config.dir.dist + "/js/" + hashes_instantsearch[config.dir.assets + '/js/instantsearch.js'] %}
{% endset %}
<script>
  {{ js | replace('//# sourceMappingURL=', '//# sourceMappingURL=/js/') | safe }}
</script> #}
<script src="/js/{{ hashes_instantsearch['assets/js/instantsearch.js']}}"></script>
