---
layout: default
title: Archives
---

<div class="instant-search">
  <div id="searchbox"></div>
  <div id="clear-refinements"></div>
  <div class="refinements">
    <p>Types</p>
    <div id="types-list"></div>
    <p>Tags</p>
    <div id="tags-list"></div>
  </div>
  <div id="sortby"></div>
  <div id="hits"></div>
  <div id="pagination"></div>
</div>

<script src="/js/{{ hashes_search['assets/js/search.js']}}"></script>
