---
layout: default
title: Home
eleventyExcludeFromCollections: true
---

{% set cssFilename = "page-home.css" %}
{% include "add-css.njk" %}

{#
JSON-LD for:
- Site name: https://developers.google.com/search/docs/data-types/sitename
- Site links searchbox: https://developers.google.com/search/docs/data-types/sitelinks-searchbox
- Social Profile Links: https://developers.google.com/search/docs/data-types/social-profile-links
#}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Nicolas Hoizey",
    "url": "https://nicolas-hoizey.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://nicolas-hoizey.com/archives/?query={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    "sameAs": ["https://nicolas-hoizey.photo", "https://mamot.fr/@nhoizey", "https://www.flickr.com/photos/nicolas-hoizey/", "https://github.com/nhoizey"]
  }
</script>

<div class="page">

  <div class="welcome h-card">
    <div class="welcome__text">
      <p class="welcome__name">Hi, I'm <strong class="p-name">Nicolas Hoizey</strong>.</p>
      <p class="p-note">I'm passionate about the Web and <a href="https://nicolas-hoizey.photo">photography</a>, but I also have <a href="/tags/">many other interests</a>.</p>
    </div>
    {% markdown %}![](/assets/me/nicolas-hoizey-2019.jpg){.portrait}{% endmarkdown %}
  </div>

  {% from "macros/articleCard.njk" import articleCard %}
  {% from "macros/linkCard.njk" import linkCard %}
  {% from "macros/noteCard.njk" import noteCard %}
  {% from "macros/billetCard.njk" import billetCard %}
  {% from "macros/talkCard.njk" import talkCard %}

  <h2>Latest contents</h2>
  <ol class="cards-list">
    {% for item in collections.archives | limit(5) %}
      {% if item.data.layout == 'article' %}
        {{ articleCard(item) }}
      {% endif %}
      {% if item.data.layout == 'link' %}
        {{ linkCard(item, screenshots, false) }}
      {% endif %}
      {% if item.data.layout == 'note' %}
        {{ noteCard(item) }}
      {% endif %}
      {% if item.data.layout == 'billet' %}
        {{ billetCard(item) }}
      {% endif %}
      {% if item.data.layout == 'talk' %}
        {{ talkCard(item) }}
      {% endif %}
    {% endfor %}
  </ol>

  <h2>Older noteworthy articles</h2>
  <ol class="cards-list">
  {% for article in collections.promotedArticles %}
    {{ articleCard(article) }}
  {% endfor %}
  </ol>

  {% set cssFilename = "tagscloud.css" %}
  {% include "add-css.njk" %}

  {% from "macros/tagsCloud.njk" import tagsCloud %}
  <h2>Main topics</h2>
  <p>These are the tags the most used on the site to set content topics:</p>
  {{ tagsCloud(collections.mainTags) }}
  <p class="more">Browse <a href="/tags/">all tags</a>…</p>
</div>
