---
layout: page
title: Links
eleventyNavigation:
  key: Links
  parent: primary
  order: 2
eleventyExcludeFromCollections: true
---

{% from "macros/linkCard.njk" import linkCard %}

<ul class="list">
  {% for link in collections.links | reverse %}
    <li class="list__item">
      <div class="card card--link">
        {{ linkCard(link.data.title, link.url, link.data.link, link.data.authors, link.date, link.data.tags) }}
      </div>
    </li>
  {% endfor %}
</ul>
