---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.articles %}
    <url>
      <loc>{{ pkg.homepage }}{{ page.url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
      <changefreq>weekly</changefreq>
    </url>
  {% endfor %}
  {% for page in collections.links %}
    <url>
      <loc>{{ pkg.homepage }}{{ page.url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
      <changefreq>weekly</changefreq>
    </url>
  {% endfor %}
  {% for page in collections.notes %}
    <url>
      <loc>{{ pkg.homepage }}{{ page.url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
      <changefreq>weekly</changefreq>
    </url>
  {% endfor %}
</urlset>
