.section__bienvenue {
	position: relative;
	height: calc(3 / 4 * 100vw);

	@media (min-width: 20em) {
		height: calc(3 / 4 * (20em - 2em + 10vw));
	}

	background-size: cover;
	background-position: center center;
	color: rgba(255, 255, 255, .75);
	background-color: #6e6b8c;
	background-image: url('../img/welcome/welcome-320.jpg');

	@media (min-width: 480px),
		(min-pixel-ratio: 2) and (min-width: 240px),
		(min-pixel-ratio: 3) and (min-width: 160px)
		{
			background-image: url('../img/welcome/welcome-480.jpg');
	}

	@media (min-width: 640px),
		(min-pixel-ratio: 2) and (min-width: 320px),
		(min-pixel-ratio: 3) and (min-width: 213px)
		{
			background-image: url('../img/welcome/welcome-640.jpg');
	}

	@media (min-width: 960px),
		(min-pixel-ratio: 2) and (min-width: 480px),
		(min-pixel-ratio: 3) and (min-width: 320px)
		{
			background-image: url('../img/welcome/welcome-960.jpg');
	}

	@media (min-width: 1280px),
		(min-pixel-ratio: 2) and (min-width: 640px),
		(min-pixel-ratio: 3) and (min-width: 423px)
		{
			background-image: url('../img/welcome/welcome-1280.jpg');
	}

	h1 {
		position: absolute;
		left: 5vw;
		right: 5vw;
		bottom: 2vw;
		font-weight: 300;
		font-size: 7vw;

		@media (min-width: 20em) {
			font-size: 1.4em;
		}

		@media (min-width: 30em) {
			font-size: 1.5em;
		}

		@media (min-width: 40em) {
			font-size: 1.6em;
		}

		@media (min-width: 50em) {
			font-size: 1.7em;
		}

		@media (min-width: 60em) {
			font-size: 1.8em;
		}

		@media (min-width: 70em) {
			font-size: 1.9em;
		}

		@media (min-width: 80em) {
			font-size: 2em;
		}

		@media (min-width: 90em) {
			font-size: 2.1em;
		}

		.wf-sourcesanspro-n3-loaded {
			.moi, a {
				font-family: 'wf-sourcesanspro-n4', sans-serif;
				font-weight: 400;
			}
		}

		.moi {
			font-family: sans-serif;
			font-weight: 400;
			color: #fff;
		}

		a {
			font-family: sans-serif;
			font-weight: 400;
			color: #fff;
			text-decoration: none;
			background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,.5) 86%, rgba(255,255,255,.5) 88%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%);
		}
	}
}
