body {
	margin: 0;
	padding: 0;

	overflow-x: hidden;
}

.layout {
	width: 100vw;
	display: flex;
	flex-direction: row;

	.js & {
		position: relative;
		left: -15rem;
		width: calc(100vw + 15rem);
		transition: transform .5s ease-in-out;

		@media (min-width: 45em) {
			left: 0;
			width: 100vw;
		}
	}

	.open & {
		transform: translate(15rem, 0);

		@media (min-width: 45em) {
			// if menu was open in small viewports, translate back when enlarging
			transform: translate(0, 0);
		}
	}
}

.layout__header {
	order: -1;
	width: 15rem;

	@media (min-width: 45em) {
		width: 33.3vw;
	}

	@media (min-width: 66em) {
		width: 22rem;
	}
}

.layout__main {
	position: relative;
	width: 100vw;
	opacity: 1;

	&:after {
		content: ' ';
		position: absolute;
		left: 0;
		top: 0;
  	bottom: 100%;
		right: 0;
		background-color: #000;
  	opacity: 0;
		transition: opacity .3s ease-in-out;
		transition-delay: .2s;
	}

	.open &:after {
		bottom: 0;
		opacity: .75;

		@media (min-width: 45em) {
			// if menu was open in small viewports, hide overlay when enlarging
	  	bottom: 100%;
			opacity: 0;
		}

	}
}
