// https://github.com/typekit/fvd

@font-face {
  font-family: 'wf-sourcesanspro-n4';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
}

@font-face {
  font-family: 'wf-sourcesanspro-n3';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/sourcesanspro-light-webfont.eot');
  src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-light-webfont.woff') format('woff'),
       url('../fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
       url('../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
}

.wf-sourcesanspro-n3-loaded body {
	font-family: 'wf-sourcesanspro-n3', sans-serif;
	font-weight: 300;
}

body {
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.3;

	@media (min-width: 35em) {
		font-size: 1.1em;
	}

	@media (min-width: 40em) {
		font-size: 1.2em;
	}

	@media (min-width: 45em) {
		font-size: 1.1em;
	}

	@media (min-width: 50em) {
		font-size: 1.2em;
	}

	@media (min-width: 55em) {
		font-size: 1.3em;
	}
}
