{% from "macros/reactionAuthorPhoto.njk" import reactionAuthorPhoto %}

<ol class="reactions__list reactions--like-of">
  {% for webmention in likes %}
    <li id="webmention-{{ webmention['wm-id'] }}" class="reactions__item">
      <a class="u-url p-author h-card" href="{{ webmention.author.url }}">
        {{ reactionAuthorPhoto(webmention.author) }}
      </a>
    </li>
  {% endfor %}
</ol>
