---
layout: null
permalink: /tools/algolia.json
---

{% from "macros/meta.njk" import meta %}

[
{% for entry in collections.articles %}
  {%- set absoluteEntryUrl -%}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{%- endset -%}
  {%- set metaHtml %}{{ meta(entry) }}{%- endset -%}
  {
    "type": "article",
    "lang": "{{ entry.data.lang }}",
		"title": "{{ entry.data.title | safe }}",
		"date": {{ entry.date | date('X')}},
		"date.lvl0": "{{ entry.date | date('YYYY')}}",
		"date.lvl1": "{{ entry.date | date('YYYY')}} > {{ entry.date | date('MM')}}",
		"date.lvl2": "{{ entry.date | date('YYYY')}} > {{ entry.date | date('MM')}} > {{ entry.date | date('DD')}}",
		"url": "{{ absoluteEntryUrl }}",
    "objectID": "{{ absoluteEntryUrl }}",
		"content": {{ entry.templateContent | cleanForAlgolia | striptags | jsonify | safe }},
    "excerpt": {{ entry.templateContent | excerpt | striptags | jsonify | safe }},
		"tags": [
      {% for tag in entry.data.tags %}
        "{{ tag }}"{%- if not loop.last -%},{% endif -%}
  {% endfor %}
		],
    "meta_html": {{ metaHtml | jsonify | safe }}
	}
  {%- if not loop.last -%},{% endif -%}
{% endfor %}
,
{% for entry in collections.links %}
  {%- set absoluteEntryUrl -%}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{%- endset -%}
  {%- set authors -%}
  {%- if entry.data.authors -%}
    {%- for author in entry.data.authors -%}
      {%- if not loop.first -%}
        {%- if not loop.last -%}, {% else %} and {% endif -%}
      {%- endif -%}
      {%- if author.twitter -%}
        <img class="u-photo smallavatar" src="https://res.cloudinary.com/nho/image/twitter_name/{{ author.twitter }}" alt="{{ author.name }} avatar" width="24" height="24" />
      {% endif -%}
      {{ author.name }}
    {%- endfor %} wrote
  {%- endif -%}
  {%- endset -%}
  {%- set content -%}{{ authors }} the linked content.
{{ entry.templateContent }}{%- endset -%}
  {%- set metaHtml %}{{ meta(entry) }}{%- endset -%}
  {
    "type": "link",
    "lang": "{{ entry.data.lang }}",
    "surtitle": {{ authors | jsonify | safe }},
		"title": "{{ entry.data.title | safe }}",
		"date": {{ entry.date | date('X')}},
		"date_year": "{{ entry.date | date('YYYY')}}",
		"date_month": "{{ entry.date | date('MM')}}",
		"date_day": "{{ entry.date | date('DD')}}",
		"url": "{{ absoluteEntryUrl }}",
		"objectID": "{{ absoluteEntryUrl }}",
    "illustration": {
      src: "https://image.thum.io/get/width/1200/crop/800/noanimate/{{ entry.data.link }}"
      alt: "screenshot of {{ entry.data.title | safe }}",
      width: 1200,
      height: 800,
      classes: "vignette"
    },
		"content": {{ content | cleanForAlgolia | striptags | jsonify | safe }},
    "excerpt": {{ entry.templateContent | excerpt | striptags | jsonify | safe }},
		"tags": [
      {% for tag in entry.data.tags %}
        "{{ tag }}"{%- if not loop.last -%},{% endif -%}
  {% endfor %}
		],
    "meta_html": {{ metaHtml | jsonify | safe }}
	}
  {%- if not loop.last -%},{% endif -%}
{% endfor %}
,
{% for entry in collections.notes %}
  {%- set absoluteEntryUrl -%}{{ entry.url | url | absoluteUrl(pkg.homepage) }}{%- endset -%}
  {%- set metaHtml %}{{ meta(entry, true) }}{%- endset -%}
  {
    "type": "note",
    "lang": "{{ entry.data.lang }}",
		"date": {{ entry.date | date('X')}},
		"date_year": "{{ entry.date | date('YYYY')}}",
		"date_month": "{{ entry.date | date('MM')}}",
		"date_day": "{{ entry.date | date('DD')}}",
		"url": "{{ absoluteEntryUrl }}",
		"objectID": "{{ absoluteEntryUrl }}",
		"content": {{ entry.templateContent | cleanForAlgolia | striptags | jsonify | safe }},
    "excerpt": {{ entry.templateContent | noteToHtml | absoluteImagePath(entry.url) | jsonify | safe }},
		"tags": [
      {% for tag in entry.data.tags %}
        "{{ tag }}"{%- if not loop.last -%},{% endif -%}
  {% endfor %}
		],
    "meta_html": {{ metaHtml | jsonify | safe }}
	}
  {%- if not loop.last -%},{% endif -%}
{% endfor %}
,
{% for entry in notist %}

  {%- set absoluteEntryUrl -%}{{ pkg.homepage }}/talks/{{ entry.attributes.presented_on | permalinkDate }}/{{ entry.attributes.slug }}/{%- endset -%}
  {%- set entryContent -%}{{ entry.attributes.blurb | safe }}
  {{ entry.attributes.event.name | safe }}{%- endset -%}
  {%- set entryContent = entryContent | cleanForAlgolia | striptags | jsonify | safe %}

  {
    "type": "talk",
    "lang": "en",
		"title": "{{ entry.attributes.title }}",
		"date": {{ entry.attributes.presented_on | date('X')}},
		"date_year": "{{ entry.attributes.presented_on | date('YYYY')}}",
		"date_month": "{{ entry.attributes.presented_on | date('MM')}}",
		"date_day": "{{ entry.attributes.presented_on | date('DD')}}",
		"url": "{{ absoluteEntryUrl }}",
		"objectID": "{{ absoluteEntryUrl }}",
		"content": {{ entryContent }},
    "excerpt": "",
		"tags": [],
    "meta_html": ""
	}
  {%- if not loop.last -%},{% endif -%}
{% endfor %}
,
{% for entry in collections.tags %}
  {%- set absoluteEntryUrl -%}{{ pkg.homepage }}/tags/{{ entry.slug }}/{%- endset -%}
  {
    "type": "tag",
    "lang": "en",
		"title": "{{ entry.tag | safe }}",
		"url": "{{ absoluteEntryUrl }}",
		"objectID": "{{ absoluteEntryUrl }}",
    {% if entry.description %}
  		"content": {{ entry.description | markdownify | cleanForAlgolia | striptags | jsonify | safe }},
  		"excerpt": {{ entry.description | markdownify | excerpt | cleanForAlgolia | striptags | jsonify | safe }}
  {% else %}
      "content": "",
      "excerpt": ""
    {% endif %}
	}
  {%- if not loop.last -%},{% endif -%}
{% endfor %}
]
