---
layout: null
permalink: /tools/all-urls.json
---
[
{% for entry in collections.all %}
  {%- set absoluteEntryUrl -%}{{- pkg.homepage -}}{{- entry.url -}}{%- endset -%}
  "{{ absoluteEntryUrl }}"{%- if not loop.last -%},{% endif -%}
{% endfor %}
]
