---
layout: default
title: Every characters
---

<h1>Every characters used on this site</h1>

{% from "macros/articleCard.njk" import articleCard %}
{% from "macros/linkCard.njk" import linkCard %}
{% from "macros/noteCard.njk" import noteCard %}

{% set every_char = '' %}
{% for article in collections.articles %}
  {% set article_chars %}{{ articleCard(article) }}{{ article.templateContent }}{% endset %}
  {% set new_every_char %}{{ every_char }}{{ article_chars | striptags | split("") | uniq | join("") }}{% endset %}
  {% set every_char = new_every_char %}
{% endfor %}
{% for link in collections.links %}
  {% set link_chars %}{{ linkCard(link) }}{{ link.templateContent }}{% endset %}
  {% set new_every_char %}{{ every_char }}{{ link_chars | striptags | split("") | uniq | join("") }}{% endset %}
  {% set every_char = new_every_char %}
{% endfor %}
{% for note in collections.notes %}
  {% set note_chars %}{{ noteCard(note) }}{{ note.templateContent }}{% endset %}
  {% set new_every_char %}{{ every_char }}{{ note_chars | striptags | split("") | uniq | join("") }}{% endset %}
  {% set every_char = new_every_char %}
{% endfor %}
<textarea cols="60" rows="10" style="font-family: reset">
{{ every_char | striptags | split("") | uniq | sort | join("") }}
</textarea>
