---
layout: default
title: First images
---

<!-- nomicrotypo -->
<h1 id="articles">Articles</h1>
<section class="list recent">
  {% for post in site.posts limit:100 %}
    {% capture firstImageLiquid %}{% include first-image-src.njk page=post %}{% endcapture %}
    {% capture firstImageFilter %}{{ post.content | first_image }}{% endcapture %}
    {% if firstImageFilter contains "/http" %}
      {% assign firstImageFilter = firstImageFilter | split: "/http" | last | prepend: "http" %}
    {% endif %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <dl>
      <dt>Liquid include</dt>
      <dd>
        {{ firstImageLiquid }}
      </dd>
      <dd>
        <img src="{{ firstImageLiquid }}" style="max-width: 50%" />
      </dd>
      <dt>Filter plugin</dt>
      <dd>
        {{ firstImageFilter }}<br />
      <dd>
        <img src="{{ firstImageFilter }}" style="max-width: 50%" />
      </dd>
      <!--
      <dt>Data plugin</dt>
      <dd>
        {% capture firstImagePlugin %}{{ post.image }}{% endcapture %}
        {{ firstImagePlugin }}
      </dd>
      <dd><img src="{{ firstImagePlugin }}" style="max-width: 50%" /></dd>
      -->
    </dl>
  {% endfor %}
</section>
<!-- endnomicrotypo -->


