---
layout: default
title: Latest Webmentions
---

<article>
<h1>Latest Webmentions</h1>
<table style="font-size: 0.8em">
  <thead>
    <tr>
      <th>date</th>
      <th>type</th>
      <th>target</th>
      <th>mention</th>
    </tr>
  </thead>
  <tbody>
    {% set webmentions = '' | getLatestWebmentions %}
    {% for webmention in webmentions | reverse %}
      <tr style="font-size: 0.8em; border-top: 3px solid #333">
        <td style="white-space: nowrap">
          {% if webmention.published %}
            {{ webmention.published | formattedDateTime }}
          {% else %}
            {{ webmention['wm-received'] | formattedDateTime }}
          {% endif %}
        </td>
        <td style="white-space: nowrap">{{ webmention['wm-property'] }}</td>
        <td><a href="{{ webmention['wm-target'] }}">{{ webmention['wm-target'] | replace('https://nicolas-hoizey.com', '') }}</a></td>
        <td><a href="{{ webmention.url }}">{{ webmention.url | replace('https://twitter.com/', '@') }}</a></td>
      </tr>
      {% if webmention['wm-property'] != 'repost-of' and webmention.content.text %}
        <tr>
          <td colspan="4">{{ webmention.content.text }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
</article>
