---
layout: default
title: Single tags
---

<!-- nomicrotypo -->
<h1>Single tags</h1>
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first | downcase }}#{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign site_tags = site_tags | split:',' | sort %}
{% capture site_tags %}{% for tag in site_tags %}{{ tag | split: '#' | last }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign site_tags = site_tags | split: ',' %}

<ul>
  {% for tag in site_tags %}
    {% assign tag_nb = site.tags[tag] | size %}
    {% if tag_nb == 1 %}
      <li><a href="/tags/{{ tag | slugify }}/">{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<!-- endnomicrotypo -->
