---
layout: default
title: Social images
---

<h1>Articles</h1>
<section class="list recent">
  {% for article in collections.articles | limit(20) %}
    <a href="{{ article.url }}"><img src="{% ogImage article.data.title %}" style="max-width: 100%;" /></a>
  {% endfor %}
</section>

<h1>Links</h1>
<section class="list recent">
  {% for link in collections.links | limit(20) %}
    <a href="{{ link.url }}"><img src="{% ogImage link.data.title %}" style="max-width: 100%;" /></a>
  {% endfor %}
</section>
