---
layout: default
title: Social images
---

<a href="#articles">Articles</a>, <a href="#links">Links</a>, <a href="#notes">Notes</a>

<h1 id="articles">Articles</h1>
<ol class="cards-list">
  {% for article in collections.articles | limit(10) %}
    {% set ogTags -%}
    {%- for tag in article.data.tags -%}
    #{{- tag | tagToHashtag -}}%20%20
    {%- endfor -%}
    {%- endset -%}
    <a href="{{ article.url }}"><img src="{% ogImage article.data.title, ogTags %}" width="1200" height="630" /></a>
  {% endfor %}
</ol>

<h1 id="links">Links</h1>
<ol class="cards-list">
  {% for link in collections.links | limit(10) %}
    {% set ogImageTitle %}Link: {{ link.data.title }}{% endset %}
    {% set ogTags -%}
    {%- for tag in link.data.tags -%}
    #{{- tag | tagToHashtag -}}%20%20
    {%- endfor -%}
    {%- endset -%}
    <a href="{{ link.url }}"><img src="{% ogImage ogImageTitle, ogTags %}" width="1200" height="630" /></a>
  {% endfor %}
</ol>

<h1 id="notes">Notes</h1>
<ol class="cards-list">
  {% for note in collections.notes | limit(10) %}
    {% set ogImageTitle %}Note from {{ note.date | formattedDate }}{% endset %}
    {% set ogTags -%}
    {%- for tag in note.data.tags -%}
    #{{- tag | tagToHashtag -}}%20%20
    {%- endfor -%}
    {%- endset -%}
    <a href="{{ note.url }}"><img src="{% ogImage ogImageTitle, ogTags %}" width="1200" height="630" /></a>
  {% endfor %}
</ol>
