---
layout: default
title: Tweets
---

<style>
.tweet {
  margin: 1em; 
  padding: .5em 1em;
  border: 1px solid #333;
  font-size: .9em;
}

.tweet p {
  margin: 0;
}
</style>

<h1>Notes</h1>
{% for note in collections.notes | limit(10) %}
  <div class="tweet">
  <p>
    {{ note.data.rawContent | microblogify(note.url) | safe }}
    <br /><br />
    📝 https://nho.io/n/{{ note.url | replace("/notes/", "") }}
  </p>
  </div>
{% endfor %}

<h1>Links</h1>
{% for link in collections.links | limit(20) %}
  <div class="tweet">
  <p>
    "{{ link.data.title}}"
    <br />
    {% set by = false %}
    {% if link.data.authors %}
      {% for author in link.data.authors %}
        {% if author.twitter %}
          {% if by == false %}
            by
            {% set by = true %}
          {% endif %}
          @{{ author.twitter }}
        {% endif %}
      {% endfor %}
    {% endif %}
    <br /><br />
    {%- for tag in link.data.tags -%}#{{ tag | tagToHashtag }} {% endfor %}
    <br />
    🔗 https://nho.io/l/{{ link.url | replace("/links/", "") }}
  </p>
  </div>
{% endfor %}

<h1>Articles</h1>
{% for article in collections.articles | limit(10) %}
  <div class="tweet">
  <p>
    "{{ article.data.title}}"
    <br /><br />
    {%- for tag in article.data.tags -%}#{{ tag | tagToHashtag }} {% endfor %}
    <br />
    🖋 https://nho.io/a/{{ article.url | replace("/articles/", "") }}
  </p>
  </div>
{% endfor %}

