---
layout: default
title: Tweets
---

<style>
.tweet {
  margin: 1em;
  padding: .5em 1em;
  border: 1px solid #333;
  font-size: .9em;
}

.tweet p {
  margin: 0;
}
</style>

<h1>Tweets</h1>

<h2 id="articles">Articles</h2>
{% for article in collections.articles | limit(5) %}
  <div class="tweet">
  <p>
    🖋 "{{ article.data.title}}"
    <br /><br />
    {%- for tag in article.data.tags -%}#{{ tag | tagToHashtag }} {% endfor %}
    <br /><br />
    https://nho.link/a/{{ article.url | replace("/articles/", "") }}
  </p>
  </div>
{% endfor %}

